<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>Title</key>
		<string>雍正剑侠图 第一部</string>
		<key>ImageURL</key>
		<string>http://bcs.duapp.com/daoting/Yongzheng1.png</string>
		<key>Description</key>
		<string>播讲:王玥波 1至44回 电台整合版</string>
		<key>SongList</key>
		<string>http://daoting.qiniudn.com/Yongzheng1_SongList.plist</string>
		<key>ShortName</key>
		<string>Yongzheng1</string>
		<key>Artist</key>
		<string>王玥波</string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string></string>
		<key>LongDescription</key>
		<string>《雍正剑侠图》又名《童林传》，由清末民初评书艺人常杰淼于20世纪20年代在天津创作的评书作品。
常杰淼习武嗜酒，性格豪爽，结交绿林豪杰。书中有大量比较真实的武术、江湖绿林道描写；常还惯于引经据典，夹叙夹评，又熟悉老北京民俗与风土人情，能够“武书文说”，把剑侠图说成学问书。“剑侠图”是因为常曾在书中提到“康熙六十一年武英殿御览群侠图”而得名。
该书大概以八卦掌祖师董海川为原型，同时受到清中叶以来流传于民间的雍正改昭篡位、结交绿林、被刺等故事启发，塑造出童林这一书胆人物。讲述康熙末年，京南霸北童家庄童林童海川误伤老父，出走江西，受高人传授，十五年昼夜苦功、习得“柳叶绵丝磨身掌”绝艺，奉师命下山“另兴一家武术”。京城偶遇雍亲王胤禛（后来的雍正皇帝），做了武术教师，却因初涉江湖得罪绿林。

王玥波，爱称王三皮，1978年生于北京，自幼学习评书、相声等多门曲艺艺术，曾拜马增锟学习评书，拜赵小林学习相声，拜章学楷学习联珠快书。全总文工团（原在煤矿文工团）说唱演员，在宣南书馆、崇文书馆均为创业元老，女评书第一人连丽如夫妇之义子。播讲过《聊斋》、《隋唐》、《雍正剑侠图》、《侠义英雄传》等多部评书。2012年8月7日王玥波在京成立个人工作室。
		</string>
	</dict>
	<key>2</key>
	<dict>
		<key>Title</key>
		<string>雍正剑侠图 第二部</string>
		<key>ImageURL</key>
		<string>http://bcs.duapp.com/daoting/Yongzheng2.png</string>
		<key>Description</key>
		<string>播讲:王玥波 45至118回 电台整合版</string>
		<key>SongList</key>
		<string>http://daoting.qiniudn.com/Yongzheng2_SongList.plist</string>
		<key>ShortName</key>
		<string>Yongzheng2</string>
		<key>Artist</key>
		<string>王玥波</string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string></string>
		<key>LongDescription</key>
		<string>《雍正剑侠图》又名《童林传》，由清末民初评书艺人常杰淼于20世纪20年代在天津创作的评书作品。
常杰淼习武嗜酒，性格豪爽，结交绿林豪杰。书中有大量比较真实的武术、江湖绿林道描写；常还惯于引经据典，夹叙夹评，又熟悉老北京民俗与风土人情，能够“武书文说”，把剑侠图说成学问书。“剑侠图”是因为常曾在书中提到“康熙六十一年武英殿御览群侠图”而得名。
该书大概以八卦掌祖师董海川为原型，同时受到清中叶以来流传于民间的雍正改昭篡位、结交绿林、被刺等故事启发，塑造出童林这一书胆人物。讲述康熙末年，京南霸北童家庄童林童海川误伤老父，出走江西，受高人传授，十五年昼夜苦功、习得“柳叶绵丝磨身掌”绝艺，奉师命下山“另兴一家武术”。京城偶遇雍亲王胤禛（后来的雍正皇帝），做了武术教师，却因初涉江湖得罪绿林。

王玥波，爱称王三皮，1978年生于北京，自幼学习评书、相声等多门曲艺艺术，曾拜马增锟学习评书，拜赵小林学习相声，拜章学楷学习联珠快书。全总文工团（原在煤矿文工团）说唱演员，在宣南书馆、崇文书馆均为创业元老，女评书第一人连丽如夫妇之义子。播讲过《聊斋》、《隋唐》、《雍正剑侠图》、《侠义英雄传》等多部评书。2012年8月7日王玥波在京成立个人工作室。
		</string>
	</dict>
	<key>3</key>
	<dict>
		<key>Title</key>
		<string>雍正剑侠图 第三部</string>
		<key>ImageURL</key>
		<string>http://bcs.duapp.com/daoting/Yongzheng3.png</string>
		<key>Description</key>
		<string>播讲:王玥波 119至163回 电台整合版</string>
		<key>SongList</key>
		<string>http://daoting.qiniudn.com/Yongzheng3_SongList.plist</string>
		<key>ShortName</key>
		<string>Yongzheng3</string>
		<key>Artist</key>
		<string>王玥波</string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string></string>
		<key>LongDescription</key>
		<string>《雍正剑侠图》又名《童林传》，由清末民初评书艺人常杰淼于20世纪20年代在天津创作的评书作品。
常杰淼习武嗜酒，性格豪爽，结交绿林豪杰。书中有大量比较真实的武术、江湖绿林道描写；常还惯于引经据典，夹叙夹评，又熟悉老北京民俗与风土人情，能够“武书文说”，把剑侠图说成学问书。“剑侠图”是因为常曾在书中提到“康熙六十一年武英殿御览群侠图”而得名。
该书大概以八卦掌祖师董海川为原型，同时受到清中叶以来流传于民间的雍正改昭篡位、结交绿林、被刺等故事启发，塑造出童林这一书胆人物。讲述康熙末年，京南霸北童家庄童林童海川误伤老父，出走江西，受高人传授，十五年昼夜苦功、习得“柳叶绵丝磨身掌”绝艺，奉师命下山“另兴一家武术”。京城偶遇雍亲王胤禛（后来的雍正皇帝），做了武术教师，却因初涉江湖得罪绿林。

王玥波，爱称王三皮，1978年生于北京，自幼学习评书、相声等多门曲艺艺术，曾拜马增锟学习评书，拜赵小林学习相声，拜章学楷学习联珠快书。全总文工团（原在煤矿文工团）说唱演员，在宣南书馆、崇文书馆均为创业元老，女评书第一人连丽如夫妇之义子。播讲过《聊斋》、《隋唐》、《雍正剑侠图》、《侠义英雄传》等多部评书。2012年8月7日王玥波在京成立个人工作室。
		</string>
	</dict>
	<key>4</key>
	<dict>
		<key>Title</key>
		<string>[每天更新] 雍正剑侠图 第四部</string>
		<key>ImageURL</key>
		<string>http://daoting.qiniudn.com/Yongzheng4.png</string>
		<key>Description</key>
		<string>播讲:王玥波 正在直播</string>
		<key>SongList</key>
		<string>http://daoting.qiniudn.com/Yongzheng4_SongList.plist</string>
		<key>ShortName</key>
		<string>Yongzheng4</string>
		<key>Artist</key>
		<string>王玥波</string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string></string>
		<key>LongDescription</key>
		<string>《雍正剑侠图》又名《童林传》，由清末民初评书艺人常杰淼于20世纪20年代在天津创作的评书作品。
常杰淼习武嗜酒，性格豪爽，结交绿林豪杰。书中有大量比较真实的武术、江湖绿林道描写；常还惯于引经据典，夹叙夹评，又熟悉老北京民俗与风土人情，能够“武书文说”，把剑侠图说成学问书。“剑侠图”是因为常曾在书中提到“康熙六十一年武英殿御览群侠图”而得名。
该书大概以八卦掌祖师董海川为原型，同时受到清中叶以来流传于民间的雍正改昭篡位、结交绿林、被刺等故事启发，塑造出童林这一书胆人物。讲述康熙末年，京南霸北童家庄童林童海川误伤老父，出走江西，受高人传授，十五年昼夜苦功、习得“柳叶绵丝磨身掌”绝艺，奉师命下山“另兴一家武术”。京城偶遇雍亲王胤禛（后来的雍正皇帝），做了武术教师，却因初涉江湖得罪绿林。

王玥波，爱称王三皮，1978年生于北京，自幼学习评书、相声等多门曲艺艺术，曾拜马增锟学习评书，拜赵小林学习相声，拜章学楷学习联珠快书。全总文工团（原在煤矿文工团）说唱演员，在宣南书馆、崇文书馆均为创业元老，女评书第一人连丽如夫妇之义子。播讲过《聊斋》、《隋唐》、《雍正剑侠图》、《侠义英雄传》等多部评书。2012年8月7日王玥波在京成立个人工作室。
		</string>
	</dict>
	<key>5</key>
	<dict>
		<key>Title</key>
		<string>薛礼征东 电台版</string>
		<key>ImageURL</key>
		<string>http://bcs.duapp.com/daoting/Zhengdong.png</string>
		<key>Description</key>
		<string>播讲:王玥波 全本共152回 电台录音版</string>
		<key>SongList</key>
		<string>http://daoting.qiniudn.com/Zhengdong1_SongList.plist</string>
		<key>ShortName</key>
		<string>Zhengdong1</string>
		<key>Artist</key>
		<string>王玥波</string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string></string>
		<key>LongDescription</key>
		<string>[全本]共计141回本书已完结，请继续关注大波新书，《薛丁山征西》。
本应用是由北京相声评书演员王玥波播讲的《薛礼征东》，全部为电台版录音。美中不足的是，电台版录音相比现场版有删节，且141回之后的续集没有收录。

很久以前，民间就流传着唐二主征东或薛仁贵征东的故事。唐二主即唐太宗，薛仁贵则是唐初有名的军事将领。唐太宗为了收复辽东，统一天下，征讨盖苏文弑逆，援救新罗，曾三次出兵征讨高句丽。至唐高宗总章元年(公元668年) 薛仁贵等率兵攻下平壤城，俘虏高句丽王高藏，高句丽灭亡。唐在高句丽故地设置9个都督府、42个州、100个县，设安东都护府统辖，以左武卫将军薛仁贵总兵镇之。

王玥波，爱称王三皮，1978年生于北京，自幼学习评书、相声等多门曲艺艺术，曾拜马增锟学习评书，拜赵小林学习相声，拜章学楷学习联珠快书。全总文工团（原在煤矿文工团）说唱演员，在宣南书馆、崇文书馆均为创业元老，女评书第一人连丽如夫妇之义子。播讲过《聊斋》、《隋唐》、《雍正剑侠图》、《侠义英雄传》等多部评书。2012年8月7日王玥波在京成立个人工作室。
		</string>
	</dict>
	<key>6</key>
	<dict>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>ImageURL</key>
		<string>http://bcs.duapp.com/daoting/Mingchao.png</string>
		<key>Description</key>
		<string>播讲:王玥波 有声书 共56回</string>
		<key>SongList</key>
		<string>http://daoting.qiniudn.com/Mingchao_SongList.plist</string>
		<key>ShortName</key>
		<string>Mingchao</string>
		<key>Artist</key>
		<string>王玥波</string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string></string>
		<key>LongDescription</key>
		<string>本应用是由北京相声评书演员王玥波播讲的《明朝那些事儿》，全部为电台版录音，看过原书的同学，听听大波怎么说的。
《明朝那些事儿》主要讲述的是从1344年到1644年这三百年间关于明朝的一些故事[3]。以史料为基础，以年代和具体人物为主线，并加入了小说的笔法，语言幽默风趣。对明朝十七帝和其他王公权贵和小人物的命运进行全景展示，尤其对官场政治、战争、帝王心术着墨最多，并加入对当时政治经济制度、人伦道德的演义。

王玥波，爱称王三皮，1978年生于北京，自幼学习评书、相声等多门曲艺艺术，曾拜马增锟学习评书，拜赵小林学习相声，拜章学楷学习联珠快书。全总文工团（原在煤矿文工团）说唱演员，在宣南书馆、崇文书馆均为创业元老，女评书第一人连丽如夫妇之义子。播讲过《聊斋》、《隋唐》、《雍正剑侠图》、《侠义英雄传》等多部评书。2012年8月7日王玥波在京成立个人工作室。
		</string>
	</dict>
	<key>7</key>
	<dict>
		<key>Title</key>
		<string>隋唐演义 之 双鞭记</string>
		<key>ImageURL</key>
		<string>http://bcs.duapp.com/daoting/Shuangbianji.png</string>
		<key>Description</key>
		<string>播讲:王玥波 共104回 现场清晰版</string>
		<key>SongList</key>
		<string>http://daoting.qiniudn.com/Shuangbianji_SongList.plist</string>
		<key>ShortName</key>
		<string>Shuangbianji</string>
		<key>Artist</key>
		<string>王玥波</string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string></string>
		<key>LongDescription</key>
		<string>全部收录清晰版本，比较论坛的残本和不清晰版，值得收藏。 

《大隋唐》是王玥波的成名作，也是目前最长的一部书，其中《敬德出世》一段倒笔书颇为精彩，主要讲的是尉迟恭，即尉迟敬德从打铁出世，到日抢三关夜夺八寨，救驾李世民，恩收敬德，敬德装疯等多段精彩回目。 
		</string>
	</dict>
	<key>8</key>
	<dict>
		<key>Title</key>
		<string>隋唐演义</string>
		<key>ImageURL</key>
		<string>http://bcs.duapp.com/daoting/Suitang.png</string>
		<key>Description</key>
		<string>播讲:王玥波 全本共237回 目前最清晰全本</string>
		<key>SongList</key>
		<string>http://daoting.qiniudn.com/Suitang_SongList.plist</string>
		<key>ShortName</key>
		<string>Suitang</string>
		<key>Artist</key>
		<string>王玥波</string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string></string>
		<key>LongDescription</key>
		<string>《大隋唐》是王玥波自认为说的最好也是功底最瓷实的一部书，也是王玥波的成名之作，非常钦佩大波的功力和耐心。 
之前版本的隋唐全部是残本，且由于是现场录音，声音效果不是很清晰，目前收集的这个版本是目前声音最清晰，且是全本的。 

《大隋唐》既是中国古代一部白话小说，也是一部演绎历史风云、歌颂传奇英雄的经典之作。讲述了从隋朝末年开始，因隋炀帝荒淫无道，陷害忠良，以致朝纲不振，民不聊生，致使天下大乱，群雄揭竿而起；以瓦岗寨众英雄为首的各路起义军，匡扶正义，反抗暴政，推翻了隋朝统治，直到唐王朝建立、李世民称帝这一时期的传奇故事，再现了那个风云变幻、英雄辈出的历史年代。 

经典台词： 
*养个巴狗把耗子拿，养活个兔子把鹰抓，养活个骡子能下马，养活个狸猫把老鼠怕，养活一条长虫怕青蛙，养活个黄雀学老鸹，养活个孩子不好好把板打，愣要学说评书他认干妈。 
李菁：王玥波不要把口夸，我干妈也是你干妈。 
王玥波：叫声李菁别生气，请到后台去休息。 
（评为宣南书馆自开书以来唯一的对口定场诗） 
*说书时经常出现的语句 
同志们...... 
说句文言...... 
我招你了我？（几乎都是说给李菁听） 
* 一日离家一日深，好似孤雁落寒林。虽然此地风光好，尚有思乡一片心。 
* 各位，甭管多大说书的，离开“无巧不成书”这五字真言---全部饿死！ 
* 水墨画我也会，一张白纸，把墨一泼，边上写上行小字：“王玥波做--煤铺的早晨”（观众笑），另一张一泼：“乌鸦在黑夜里飞过”（观众大笑），他们都说我画得好...... 
* 鸟随鸾凤飞腾远，人伴贤良品格高。 
* 骑着长城骂鞑子，不顺南，不顺北。 
* 秦琼一捋长髯，“唉，惭愧”，“噢，蚕退？药铺有卖的”。 
		</string>
	</dict>
	<key>9</key>
	<dict>
		<key>Title</key>
		<string>聊斋</string>
		<key>ImageURL</key>
		<string>http://bcs.duapp.com/daoting/Liaozhai.png</string>
		<key>Description</key>
		<string>播讲:王玥波 目前收录最全</string>
		<key>SongList</key>
		<string>http://daoting.qiniudn.com/Liaozhai_SongList.plist</string>
		<key>ShortName</key>
		<string>Liaozhai</string>
		<key>Artist</key>
		<string>王玥波</string>
		<key>UpdatingStatus</key>
		<string>Updating</string>
		<key>Category</key>
		<string></string>
		<key>LongDescription</key>
		<string>素秋时黄英舞动，瑞云上鸮鸟翱翔 
有邵女辛十四娘，夜叉国镜听阎王 
庚娘忙阿绣湘裙，鸦头上红玉放光 
来至在罗刹海市，寻佟客去治牛癀 
又谁知蛇人不悦，访出来赵城虎狼 
武孝廉前来驱怪，真生得毛大福长 
谁成想开张鸿渐，马介甫吹牛成章 
聂小倩是妾击贼，王成就宫梦弼香 
封三娘云萝公主，许配那玉田七郎 
聊斋内三十三段，众明公且慢端详 

这是王老板的一首定场诗，其中包括聊斋回目33回，分别是： 
素秋，黄英，瑞云，鸮鸟，邵女，辛十四娘，夜叉国，镜听，阎王，庚娘，阿绣，湘裙，鸦头，红玉，罗刹海市，佟客，治牛癀，蛇人，赵城虎，武孝廉，驱怪，真生，毛大福，张鸿渐，马介甫，牛成章，聂小倩，王成，宫梦弼，封三娘，云萝公主，田七郎 

本app经过多次收集整理，收集整理了目前最全的聊斋回目30部，共2G得音频，且全部为最佳音频源，目前只差二个小段： 
封三娘，镜听，欢迎有相关资源的朋友提供，联系本人 daydream8093@gmail.com 

这之后，王老板也在不同场合说过其他聊斋回目，目前已经收录的包括： 
青蛙神，晚霞，梅女，郭秀才，还将继续更新  
		</string>
	</dict>
	<key>10</key>
	<dict>
		<key>Title</key>
		<string>侠义英雄传</string>
		<key>ImageURL</key>
		<string>http://bcs.duapp.com/daoting/Xiayi.png</string>
		<key>Description</key>
		<string>播讲:王玥波 全本共90回 早期评书</string>
		<key>SongList</key>
		<string>http://daoting.qiniudn.com/Xiayi_SongList.plist</string>
		<key>ShortName</key>
		<string>Xiayi</string>
		<key>Artist</key>
		<string>王玥波</string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string></string>
		<key>LongDescription</key>
		<string>《侠义英雄传》是民国时期颇为风行的一部旧小说。年纪稍大而好读旧体小说的人，可能都知道这本书，也略知作者平江不肖生其人。这是一位民国时期武侠小说的重要作家，他的《江湖奇侠传》在不少地方是老幼皆知的。 

目前流行的以大刀王五、霍元甲故事为题材的小说，以及电影、电视，探其源流，多数都是从平江不肖生这部书中派生、衍化而成，至少也曾受过这部书的影响。翻看过上述小说、电影、电视的人，不妨再看看平江不肖生的原书，才能更深入地了解大刀王五、霍元甲其人其事，以及他们在中国传统武术源流中的地位和影响，也只有读过《侠义英雄传》才能窥知这些人物产生的社会历史根源，从而对他们作出适当的评价。 

《侠义英雄传》和一切的旧小说一样，都存在一些明显的缺点。但就其主流来说，还是可取的。之所以这样讲，因为第一：作者是站在宣扬中国武术的立场上说话的。这是基于一种民族的、爱国的感情，而这种以武术救国的观点，正是作者世界观的一种反映。尽管“武术救国”一类的观点并不一定站得住脚。但作者通过作品表现出来的那种爱国感情，仍然应当予以肯定。第二，作者是以系统介绍中华武术流派、渊薮为宗旨的。向恺然本人毕生之力于无数之研究，又广泛接触武林人物，写起来虽不无渲染加工，但大都并非向壁虚构。相反，一部《侠义英雄传》所述种种人物，种种故事，往往实有其人，实有其事。读者不妨以涉猎中国武术史的态度，来读这部小说。第三，全书文笔通俗流畅，可读性强，格调不同于一般侠义小说，很少庸俗无聊之笔墨。这也是不容易的。
		</string>
	</dict>
	<key>11</key>
	<dict>
		<key>Title</key>
		<string>新三盗九龙杯</string>
		<key>ImageURL</key>
		<string>http://bcs.duapp.com/daoting/Sandao.png</string>
		<key>Description</key>
		<string>播讲:王玥波 全本共100回 重新录音版本</string>
		<key>SongList</key>
		<string>http://daoting.qiniudn.com/Sandao_SongList.plist</string>
		<key>ShortName</key>
		<string>Sandao</string>
		<key>Artist</key>
		<string>王玥波</string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string></string>
		<key>LongDescription</key>
		<string>清圣祖（玄烨）失九龙御杯，传旨黄三太缉拿盗杯之人。黄依计邀各路英雄为己祝寿。席间杨香武自叙盗杯复失杯经过。神偷王伯燕告知杯在周应龙之手，杨至周府索还，周不肯，乃动武。杨、王设计，将杯重又盗回。 

背景是康熙盛世。黄三泰想显示自己的本事大，还真给他遇着了。有一次，康熙皇帝在海子红门打猎，猛虎扑向康熙，黄三泰刚好经过射走猛虎，皇帝钦赐黄马褂（黄马褂穿在箭衣外面，是第一勇士的象征），黄三泰一高兴夸口说，皇家若有一草一木遗失，他负责去找回来。 

黄马褂的事在江湖传开，杨香武听了不服气，他也想显本事。听说皇帝正在避暑山庄的畅春园，那里有一件珍贵的九龙玉杯，他跑去盗了出来；只是后来路上碰到神偷王伯燕，竟被王扒走了玉杯，这下可没得炫耀了。 

皇帝紧急下旨给黄三泰限期找回玉杯，这可苦了黄三泰，茫茫人海何处打探线索。家人计全为他想个法子，假称寿诞，广发英雄帖，邀大家来欣赏黄马褂。寿宴之上，计全一直吹嘘黄马褂，其实是想激起有关九龙杯的信息，果然杨香武按捺不住说他进宫偷杯的事，只是杯子已下落不明。很巧，王伯燕也在宴席上，但他已把九龙杯送给黄三泰的仇家周应龙了。 

杨香武愿意担起这件事，他准备厚礼去见周应龙，周应龙也很爽快答应还杯，但问到是谁要的，结果一听是黄三泰，把杯子又给收回了。杨香武挑明的说三天之内他会来偷走，结果这三天周应龙手不离杯，竟真给杨香武偷走了。这个九龙杯，第一次从行宫被偷走，第二次被王伯燕偷走，第三次又从周应龙手上偷回，所以称为《三盗九龙杯》。只是杨香武并不好受，周应龙沿途追杀，黄三泰率众英雄抵挡才告没事。杨香武最后忏悔自己因显示心平添事端，浪费自己及众人的精神体力去挽回，实在不值得。杨香武因别人得黄马褂生出妒忌心、显示心，这些心引起大麻烦，如果当初懂得欣赏别人、替别人高兴岂不是美事一桩！ 

王玥波，爱称王三皮，1978年生于北京，自幼学习评书、相声等多门曲艺艺术，曾拜马增锟学习评书，拜赵小林学习相声，拜章学楷学习联珠快书。全总文工团（原在煤矿文工团）说唱演员，在宣南书馆、崇文书馆均为创业元老，女评书第一人连丽如夫妇之义子。播讲过《聊斋》、《隋唐》、《雍正剑侠图》、《侠义英雄传》等多部评书。2012年8月7日王玥波在京成立个人工作室。 
		</string>
	</dict>
	<key>12</key>
	<dict>
		<key>Title</key>
		<string>[新派评书]海贼王</string>
		<key>ImageURL</key>
		<string>http://bcs.duapp.com/daoting/Haizeiwang.png</string>
		<key>Description</key>
		<string>播讲:张准 连载至87集 新书老说法</string>
		<key>SongList</key>
		<string>http://daoting.qiniudn.com/Haizeiwang_SongList.plist</string>
		<key>ShortName</key>
		<string>Haizeiwang</string>
		<key>Artist</key>
		<string>张准</string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string></string>
		<key>LongDescription</key>
		<string>《海贼王》，近15年来在东亚最受欢迎的一部日本连载漫画；评书，宋代开始流行的一种中国传统表演形式。用中国评书讲日本漫画，如此混搭你听过吗？近日，29岁的北京评书爱好者张准说起了创意评书——《海贼王》，每次20分钟，在自家卧室录音，目前，他的动漫评书已讲到第87回，最高收听率曾有52万。 

“路飞出生在一个小山村，这个小山村依山傍海，村子的名字叫风车村。”记者在线收听了首回的《海贼王》，一腔一调充满评书特有的“老味”，但说的内容还真是“新鲜”。张准说，这一回《海贼王》是他今年端午节在北京鼓楼一个业余书场上率先说的，当天他临时被朋友喊到书场救场，考虑到鼓楼一带年轻人较多，他索性试着讲了一段《海贼王》。“啪”的一声，醒木落下，故事刚开始，台下就是笑声一片……张准顿时有了底气，事实上这位既爱传统评书又爱《海贼王》的年轻人一直便有将动漫和评书结合的想法，甚至一度录好了音，只是没上传网络——“心里没底，怕挨骂，担心海贼王的粉丝接受不了。”第二天，张准就将表演录音传上了网，四个多月时间点击量超过54万，他的创意评书火了！ 
		</string>
	</dict>
	<key>13</key>
	<dict>
		<key>Title</key>
		<string>侠义金镖</string>
		<key>ImageURL</key>
		<string>http://bcs.duapp.com/daoting/Jinbiao.png</string>
		<key>Description</key>
		<string>播讲:张庆升 全本共140回 名家名段</string>
		<key>SongList</key>
		<string>http://daoting.qiniudn.com/Jinbiao_SongList.plist</string>
		<key>ShortName</key>
		<string>Jinbiao</string>
		<key>Artist</key>
		<string>王玥波</string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string></string>
		<key>LongDescription</key>
		<string>清朝康熙年间，武林中的威震南方南半天锦衣卫佗飞镖黄三太，给师傅生英上周年坟。在回家路上，遇见师伯镖局的镖银丢失，为要镖银，黄三太独闯冲天岛，与翻江海马肖荣结怨，肖荣为陷害黄三太，竟到南昌府持刀逼官夺印，冒充黄三太，幸亏有本地官为黄三太担保，命他限期破案，才引出七擒肖海马。
		</string>
	</dict>
	<key>14</key>
	<dict>
		<key>Title</key>
		<string>张广泰回家</string>
		<key>ImageURL</key>
		<string>http://bcs.duapp.com/daoting/Zhangguangtai.png</string>
		<key>Description</key>
		<string>播讲:王玥波 全本共70回 明清故事长篇单口</string>
		<key>SongList</key>
		<string>http://daoting.qiniudn.com/Zhangguantai_SongList.plist</string>
		<key>ShortName</key>
		<string>Zhangguangtai</string>
		<key>Artist</key>
		<string>王玥波</string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string></string>
		<key>LongDescription</key>
		<string>故事内容 
  北京天津交接的地方有一个地方叫做河西务，隶属于天津武清区管辖范围内。 
河西务有一所青楼，叫做四美堂，四美堂的鸨妈新收了一个女子，叫做韩红玉。家中世代习武，父亲是河北沧州的双侠之一韩成功。由于被朋友杨大雄陷害而斩首示众，女儿韩红玉被官卖为妓女。 
可惜，韩红玉是烈女，在四美堂住了半年也不愿意接客。但是，在鸨妈姜妈的哀求下，愿意接一个客人，然后由这个客人为自己赎身，再和他好好的过日子。 
这个人，就是被五服内堂兄骗来逛窑子的张家三少爷，张广泰。 
张广泰家室河西务的一个大财主，家里开一个很大的粮站，掌家的老爷子叫做张德玉。原配夫人王氏，生有一长子叫做张广聚。张广聚四五岁的时候，王氏病逝。所以，张家老爷子又续娶了一房夫人康氏夫人。康氏夫人后来又生了两个儿子，二儿子张广兴，三儿子张广泰。 
张广泰原本是老实木纳的读书人，有两个结交的兄弟，长兄李贵，是个扛粮的伙计，二兄邹忠，是河西务巡检司衙门的小伙计。 
张广泰家有一个没出五服的堂兄，叫做张广告。撺掇张广泰学了八角鼓，学唱曲，然后有撺掇他去逛了窑子。参选去见韩红玉。 
张广泰和韩红玉三见钟情，起了要为韩红玉赎身的意思，可惜，家中不愿意。于是，老鸨子提议张广泰包下韩红玉。并为此欠下一千两的债。 
张家大爷张广聚是一个贪财如命，心如蛇蝎的人，为了将张家的财产全部归为自己所有，便借由这个借口在张广泰的酒菜中下了耗子药，企图将他药死。 
张广泰命大，被途径的大嫂救下。大嫂子没有办法，只能给了张广泰一点银子，让张广泰逃家出走。 
张广泰逃家下了天津，继续在一家酒店中做他的大少爷，几天就将银子全数花光。没有挣钱的手艺，又被店家逼债的张广泰，只有一死。 
张广泰半夜出走赴死，被老侠李柏辰收为第十三个徒弟。 
三年武艺学成后，李柏辰将张广泰托付给天津开酒店的洪宝泰照料。在河边惹怒了新任的上海道哈大人。 
哈大人欣赏张广泰会唱曲的手艺，让他跟随自己一起去上海赴任。赴任的路上，张广泰杀死了一个企图抢劫哈大人的劫匪，被哈大人收为干儿子。 
在上海的日子里，张广泰又收了一个干儿子，十三四岁的江昱。江昱父母双亡，舅舅“飞天燕子”朱天飞不知所踪，只能跟着张广泰一起过日子。可惜，江昱长的实在像活鬼。 
哈大人的妻子是裕亲王的侄女，裕亲王便为自己的侄女婿某了一个筹措军饷的肥差。哈大人便让张广泰等人一起付山西赴任，再想办法告病回京。 
路径洪洞县的时候，张广泰与管家哈禧被假装重病的姨夫人留了下了。半夜，春姨勾引张广泰不成，被张广天所杀。又被路过的恩师李柏辰引走。李柏辰赞扬了张广泰之后，便让他去迎战葛尔丹的神力王身前效力。 
张广泰与王爷会面的时候，王爷已经得胜回到了黄河岸边，但，张广泰还是救下了被一小股敌兵偷袭的神力王。 
跟随王爷回京后，张广泰被封为了三品副将，奉旨回乡探亲。 
在此回到河西务的张广泰，决心报复大哥张广聚。
		</string>
	</dict>
</dict>
</plist>
