<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>Title</key>
		<string>雍正剑侠图 第一部</string>
		<key>ImageURL</key>
		<string>http://bcs.duapp.com/daoting/Yongzheng1.png</string>
		<key>Description</key>
		<string>播讲:王玥波 1至44回 电台整合版</string>
		<key>SongList</key>
		<string>http://daoting.qiniudn.com/Yongzheng1_SongList.plist</string>
		<key>ShortName</key>
		<string>Yongzheng1</string>
		<key>Artist</key>
		<string>王玥波</string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string></string>
		<key>LongDescription</key>
		<string>《雍正剑侠图》又名《童林传》，由清末民初评书艺人常杰淼于20世纪20年代在天津创作的评书作品。
常杰淼习武嗜酒，性格豪爽，结交绿林豪杰。书中有大量比较真实的武术、江湖绿林道描写；常还惯于引经据典，夹叙夹评，又熟悉老北京民俗与风土人情，能够“武书文说”，把剑侠图说成学问书。“剑侠图”是因为常曾在书中提到“康熙六十一年武英殿御览群侠图”而得名。
该书大概以八卦掌祖师董海川为原型，同时受到清中叶以来流传于民间的雍正改昭篡位、结交绿林、被刺等故事启发，塑造出童林这一书胆人物。讲述康熙末年，京南霸北童家庄童林童海川误伤老父，出走江西，受高人传授，十五年昼夜苦功、习得“柳叶绵丝磨身掌”绝艺，奉师命下山“另兴一家武术”。京城偶遇雍亲王胤禛（后来的雍正皇帝），做了武术教师，却因初涉江湖得罪绿林。

王玥波，爱称王三皮，1978年生于北京，自幼学习评书、相声等多门曲艺艺术，曾拜马增锟学习评书，拜赵小林学习相声，拜章学楷学习联珠快书。全总文工团（原在煤矿文工团）说唱演员，在宣南书馆、崇文书馆均为创业元老，女评书第一人连丽如夫妇之义子。播讲过《聊斋》、《隋唐》、《雍正剑侠图》、《侠义英雄传》等多部评书。2012年8月7日王玥波在京成立个人工作室。
		</string>
	</dict>
	<key>2</key>
	<dict>
		<key>Title</key>
		<string>雍正剑侠图 第二部</string>
		<key>ImageURL</key>
		<string>http://bcs.duapp.com/daoting/Yongzheng2.png</string>
		<key>Description</key>
		<string>播讲:王玥波 45至118回 电台整合版</string>
		<key>SongList</key>
		<string>http://daoting.qiniudn.com/Yongzheng2_SongList.plist</string>
		<key>ShortName</key>
		<string>Yongzheng2</string>
		<key>Artist</key>
		<string>王玥波</string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string></string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>3</key>
	<dict>
		<key>Title</key>
		<string>雍正剑侠图 第三部</string>
		<key>ImageURL</key>
		<string>http://bcs.duapp.com/daoting/Yongzheng3.png</string>
		<key>Description</key>
		<string>播讲:王玥波 119至163回 电台整合版</string>
		<key>SongList</key>
		<string>http://daoting.qiniudn.com/Yongzheng3_SongList.plist</string>
		<key>ShortName</key>
		<string>Yongzheng3</string>
		<key>Artist</key>
		<string>王玥波</string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string></string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>4</key>
	<dict>
		<key>Title</key>
		<string>[每天更新] 雍正剑侠图 第四部</string>
		<key>ImageURL</key>
		<string>http://daoting.qiniudn.com/Yongzheng4.png</string>
		<key>Description</key>
		<string>播讲:王玥波 正在直播</string>
		<key>SongList</key>
		<string>http://daoting.qiniudn.com/Yongzheng4_SongList.plist</string>
		<key>ShortName</key>
		<string>Yongzheng4</string>
		<key>Artist</key>
		<string>王玥波</string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string></string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>5</key>
	<dict>
		<key>Title</key>
		<string>薛礼征东 电台版</string>
		<key>ImageURL</key>
		<string>http://bcs.duapp.com/daoting/Zhengdong.png</string>
		<key>Description</key>
		<string>播讲:王玥波 全本共152回 电台录音版</string>
		<key>SongList</key>
		<string>http://daoting.qiniudn.com/Zhengdong1_SongList.plist</string>
		<key>ShortName</key>
		<string>Zhengdong1</string>
		<key>Artist</key>
		<string>王玥波</string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string></string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>6</key>
	<dict>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>ImageURL</key>
		<string>http://bcs.duapp.com/daoting/Mingchao.png</string>
		<key>Description</key>
		<string>播讲:王玥波 有声书 共56回</string>
		<key>SongList</key>
		<string>http://daoting.qiniudn.com/Mingchao_SongList.plist</string>
		<key>ShortName</key>
		<string>Mingchao</string>
		<key>Artist</key>
		<string>王玥波</string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string></string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>7</key>
	<dict>
		<key>Title</key>
		<string>隋唐演义 之 双鞭记</string>
		<key>ImageURL</key>
		<string>http://bcs.duapp.com/daoting/Shuangbianji.png</string>
		<key>Description</key>
		<string>播讲:王玥波 共104回 现场清晰版</string>
		<key>SongList</key>
		<string>http://daoting.qiniudn.com/Shuangbianji_SongList.plist</string>
		<key>ShortName</key>
		<string>Shuangbianji</string>
		<key>Artist</key>
		<string>王玥波</string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string></string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>8</key>
	<dict>
		<key>Title</key>
		<string>隋唐演义</string>
		<key>ImageURL</key>
		<string>http://bcs.duapp.com/daoting/Suitang.png</string>
		<key>Description</key>
		<string>播讲:王玥波 全本共237回 目前最清晰全本</string>
		<key>SongList</key>
		<string>http://daoting.qiniudn.com/Suitang_SongList.plist</string>
		<key>ShortName</key>
		<string>Suitang</string>
		<key>Artist</key>
		<string>王玥波</string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string></string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>9</key>
	<dict>
		<key>Title</key>
		<string>聊斋</string>
		<key>ImageURL</key>
		<string>http://bcs.duapp.com/daoting/Liaozhai.png</string>
		<key>Description</key>
		<string>播讲:王玥波 目前收录最全</string>
		<key>SongList</key>
		<string>http://daoting.qiniudn.com/Liaozhai_SongList.plist</string>
		<key>ShortName</key>
		<string>Liaozhai</string>
		<key>Artist</key>
		<string>王玥波</string>
		<key>UpdatingStatus</key>
		<string>Updating</string>
		<key>Category</key>
		<string></string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>10</key>
	<dict>
		<key>Title</key>
		<string>侠义英雄传</string>
		<key>ImageURL</key>
		<string>http://bcs.duapp.com/daoting/Xiayi.png</string>
		<key>Description</key>
		<string>播讲:王玥波 全本共90回 早期评书</string>
		<key>SongList</key>
		<string>http://daoting.qiniudn.com/Xiayi_SongList.plist</string>
		<key>ShortName</key>
		<string>Xiayi</string>
		<key>Artist</key>
		<string>王玥波</string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string></string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>11</key>
	<dict>
		<key>Title</key>
		<string>新三盗九龙杯</string>
		<key>ImageURL</key>
		<string>http://bcs.duapp.com/daoting/Sandao.png</string>
		<key>Description</key>
		<string>播讲:王玥波 全本共100回 重新录音版本</string>
		<key>SongList</key>
		<string>http://daoting.qiniudn.com/Sandao_SongList.plist</string>
		<key>ShortName</key>
		<string>Sandao</string>
		<key>Artist</key>
		<string>王玥波</string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string></string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>12</key>
	<dict>
		<key>Title</key>
		<string>[新派评书]海贼王</string>
		<key>ImageURL</key>
		<string>http://bcs.duapp.com/daoting/Haizeiwang.png</string>
		<key>Description</key>
		<string>播讲:张准 连载至87集 新书老说法</string>
		<key>SongList</key>
		<string>http://daoting.qiniudn.com/Haizeiwang_SongList.plist</string>
		<key>ShortName</key>
		<string>Haizeiwang</string>
		<key>Artist</key>
		<string>张准</string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string></string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>13</key>
	<dict>
		<key>Title</key>
		<string>侠义金镖</string>
		<key>ImageURL</key>
		<string>http://bcs.duapp.com/daoting/Jinbiao.png</string>
		<key>Description</key>
		<string>播讲:张庆升 全本共140回 名家名段</string>
		<key>SongList</key>
		<string>http://daoting.qiniudn.com/Jinbiao_SongList.plist</string>
		<key>ShortName</key>
		<string>Jinbiao</string>
		<key>Artist</key>
		<string>王玥波</string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string></string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>14</key>
	<dict>
		<key>Title</key>
		<string>张广泰回家</string>
		<key>ImageURL</key>
		<string>http://bcs.duapp.com/daoting/Zhangguangtai.png</string>
		<key>Description</key>
		<string>播讲:王玥波 全本共70回 明清故事长篇单口</string>
		<key>SongList</key>
		<string>http://daoting.qiniudn.com/Zhangguantai_SongList.plist</string>
		<key>ShortName</key>
		<string>Zhangguangtai</string>
		<key>Artist</key>
		<string>王玥波</string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string></string>
		<key>LongDescription</key>
		<string></string>
	</dict>
</dict>
</plist>
