<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>Title</key>
		<string>汉代风云人物</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Baijia/Handaifengyun.png</string>
		<key>Description</key>
		<string>吕后，韩信，刘邦的霸王故事</string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Baijia/Handaifengyun_SongList.plist</string>
		<key>ShortName</key>
		<string>Handaifengyun</string>
		<key>Artist</key>
		<string>易中天</string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string>Baijia</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>2</key>
	<dict>
		<key>Title</key>
		<string>孟子的智慧</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Baijia/Mengzidezhihui.png</string>
		<key>Description</key>
		<string>傅佩荣谈 孟子的智慧理解</string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Baijia/Mengzidezhihui_SongList.plist</string>
		<key>ShortName</key>
		<string>Mengzidezhihui</string>
		<key>Artist</key>
		<string>傅佩荣</string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string>Baijia</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>3</key>
	<dict>
		<key>Title</key>
		<string>太平公主</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Baijia/Taipinggongzhu.png</string>
		<key>Description</key>
		<string>听蒙曼讲太平公主</string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Baijia/Taipinggongzhu_SongList.plist</string>
		<key>ShortName</key>
		<string>Taipinggongzhu</string>
		<key>Artist</key>
		<string>蒙曼</string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string>Baijia</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>4</key>
	<dict>
		<key>Title</key>
		<string>女皇武则天</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Baijia/Wuzetian.png</string>
		<key>Description</key>
		<string>听蒙曼讲女皇武则天</string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Baijia/Wuzetian_SongList.plist</string>
		<key>ShortName</key>
		<string>Wuzetian</string>
		<key>Artist</key>
		<string>蒙曼</string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string>Baijia</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>5</key>
	<dict>
		<key>Title</key>
		<string>王立群 讲史记</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Baijia/Shiji.png</string>
		<key>Description</key>
		<string>秦始皇</string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Baijia/Shiji_SongList.plist</string>
		<key>ShortName</key>
		<string>Shiji</string>
		<key>Artist</key>
		<string>王立群</string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string>Baijia</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>6</key>
	<dict>
		<key>Title</key>
		<string>胡雪岩的启示</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Baijia/Baijiahuxueyan.png</string>
		<key>Description</key>
		<string>曾仕强</string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Baijia/Baijiahuxueyan_SongList.plist</string>
		<key>ShortName</key>
		<string>Baijiahuxueyan</string>
		<key>Artist</key>
		<string>曾仕强</string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string>Baijia</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>7</key>
	<dict>
		<key>Title</key>
		<string>新解红楼梦</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Baijia/Baijiahongloumeng.png</string>
		<key>Description</key>
		<string>各位名家新解红楼梦</string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Baijia/Baijiahongloumeng_SongList.plist</string>
		<key>ShortName</key>
		<string>Baijiahongloumeng</string>
		<key>Artist</key>
		<string>未知</string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string>Baijia</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>8</key>
	<dict>
		<key>Title</key>
		<string>先秦诸子百家</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Baijia/Baijiaxianqin.png</string>
		<key>Description</key>
		<string>易中天</string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Baijia/Baijiaxianqin_SongList.plist</string>
		<key>ShortName</key>
		<string>Baijiaxianqin</string>
		<key>Artist</key>
		<string>未知</string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string>Baijia</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>9</key>
	<dict>
		<key>Title</key>
		<string>李莲英</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Baijia/Baijialilianying.png</string>
		<key>Description</key>
		<string>纪连海</string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Baijia/Baijialilianying_SongList.plist</string>
		<key>ShortName</key>
		<string>Baijialilianying</string>
		<key>Artist</key>
		<string>未知</string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string>Baijia</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>10</key>
	<dict>
		<key>Title</key>
		<string>正说清朝二十四臣</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Baijia/BaiduQingChao24.png</string>
		<key>Description</key>
		<string>纪连海</string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Baijia/BaiduQingChao24_SongList.plist</string>
		<key>ShortName</key>
		<string>BaiduQingChao24</string>
		<key>Artist</key>
		<string>未知</string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string>Baijia</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
</dict>
</plist>
