<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>Duration</key>
		<string>00:21:59</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>50</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>Url</key>
		<string>http://mingchao.qiniudn.com/01.mp3</string>
	</dict>
	<key>10</key>
	<dict>
		<key>Duration</key>
		<string>00:22:29</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>50</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>Url</key>
		<string>http://mingchao.qiniudn.com/10.mp3</string>
	</dict>
	<key>11</key>
	<dict>
		<key>Duration</key>
		<string>00:21:44</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>50</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>Url</key>
		<string>http://mingchao.qiniudn.com/11.mp3</string>
	</dict>
	<key>12</key>
	<dict>
		<key>Duration</key>
		<string>00:21:16</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>50</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>Url</key>
		<string>http://mingchao.qiniudn.com/12.mp3</string>
	</dict>
	<key>13</key>
	<dict>
		<key>Duration</key>
		<string>00:20:14</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>50</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>Url</key>
		<string>http://mingchao.qiniudn.com/13.mp3</string>
	</dict>
	<key>14</key>
	<dict>
		<key>Duration</key>
		<string>00:22:55</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>50</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>Url</key>
		<string>http://mingchao.qiniudn.com/14.mp3</string>
	</dict>
	<key>15</key>
	<dict>
		<key>Duration</key>
		<string>00:21:53</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>50</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>Url</key>
		<string>http://mingchao.qiniudn.com/15.mp3</string>
	</dict>
	<key>16</key>
	<dict>
		<key>Duration</key>
		<string>00:21:20</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>50</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>Url</key>
		<string>http://mingchao.qiniudn.com/16.mp3</string>
	</dict>
	<key>17</key>
	<dict>
		<key>Duration</key>
		<string>00:20:20</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>50</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>Url</key>
		<string>http://mingchao.qiniudn.com/17.mp3</string>
	</dict>
	<key>18</key>
	<dict>
		<key>Duration</key>
		<string>00:21:06</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>50</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>Url</key>
		<string>http://mingchao.qiniudn.com/18.mp3</string>
	</dict>
	<key>19</key>
	<dict>
		<key>Duration</key>
		<string>00:21:32</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>50</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>Url</key>
		<string>http://mingchao.qiniudn.com/19.mp3</string>
	</dict>
	<key>2</key>
	<dict>
		<key>Duration</key>
		<string>00:21:16</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>50</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>Url</key>
		<string>http://mingchao.qiniudn.com/02.mp3</string>
	</dict>
	<key>20</key>
	<dict>
		<key>Duration</key>
		<string>00:21:24</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>50</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>Url</key>
		<string>http://mingchao.qiniudn.com/20.mp3</string>
	</dict>
	<key>21</key>
	<dict>
		<key>Duration</key>
		<string>00:21:18</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>50</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>Url</key>
		<string>http://mingchao.qiniudn.com/21.mp3</string>
	</dict>
	<key>22</key>
	<dict>
		<key>Duration</key>
		<string>00:22:18</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>50</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>Url</key>
		<string>http://mingchao.qiniudn.com/22.mp3</string>
	</dict>
	<key>23</key>
	<dict>
		<key>Duration</key>
		<string>00:29:59</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>50</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>Url</key>
		<string>http://mingchao.qiniudn.com/23.mp3</string>
	</dict>
	<key>24</key>
	<dict>
		<key>Duration</key>
		<string>00:21:51</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>50</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>Url</key>
		<string>http://mingchao.qiniudn.com/24.mp3</string>
	</dict>
	<key>25</key>
	<dict>
		<key>Duration</key>
		<string>00:22:22</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>50</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>Url</key>
		<string>http://mingchao.qiniudn.com/25.mp3</string>
	</dict>
	<key>26</key>
	<dict>
		<key>Duration</key>
		<string>00:19:58</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>50</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>Url</key>
		<string>http://mingchao.qiniudn.com/26.mp3</string>
	</dict>
	<key>27</key>
	<dict>
		<key>Duration</key>
		<string>00:19:57</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>50</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>Url</key>
		<string>http://mingchao.qiniudn.com/27.mp3</string>
	</dict>
	<key>28</key>
	<dict>
		<key>Duration</key>
		<string>00:23:48</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>50</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>Url</key>
		<string>http://mingchao.qiniudn.com/28.mp3</string>
	</dict>
	<key>29</key>
	<dict>
		<key>Duration</key>
		<string>00:20:43</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>50</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>Url</key>
		<string>http://mingchao.qiniudn.com/29.mp3</string>
	</dict>
	<key>3</key>
	<dict>
		<key>Duration</key>
		<string>00:22:16</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>50</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>Url</key>
		<string>http://mingchao.qiniudn.com/03.mp3</string>
	</dict>
	<key>30</key>
	<dict>
		<key>Duration</key>
		<string>00:23:37</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>50</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>Url</key>
		<string>http://mingchao.qiniudn.com/30.mp3</string>
	</dict>
	<key>31</key>
	<dict>
		<key>Duration</key>
		<string>00:21:20</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>50</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>Url</key>
		<string>http://mingchao.qiniudn.com/31.mp3</string>
	</dict>
	<key>32</key>
	<dict>
		<key>Duration</key>
		<string>00:22:18</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>50</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>Url</key>
		<string>http://mingchao.qiniudn.com/32.mp3</string>
	</dict>
	<key>33</key>
	<dict>
		<key>Duration</key>
		<string>00:21:30</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>50</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>Url</key>
		<string>http://mingchao.qiniudn.com/33.mp3</string>
	</dict>
	<key>34</key>
	<dict>
		<key>Duration</key>
		<string>00:20:25</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>50</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>Url</key>
		<string>http://mingchao.qiniudn.com/34.mp3</string>
	</dict>
	<key>35</key>
	<dict>
		<key>Duration</key>
		<string>00:20:12</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>50</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>Url</key>
		<string>http://mingchao.qiniudn.com/35.mp3</string>
	</dict>
	<key>36</key>
	<dict>
		<key>Duration</key>
		<string>00:20:20</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>50</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>Url</key>
		<string>http://mingchao.qiniudn.com/36.mp3</string>
	</dict>
	<key>37</key>
	<dict>
		<key>Duration</key>
		<string>00:22:21</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>50</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>Url</key>
		<string>http://mingchao.qiniudn.com/37.mp3</string>
	</dict>
	<key>38</key>
	<dict>
		<key>Duration</key>
		<string>00:19:46</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>50</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>Url</key>
		<string>http://mingchao.qiniudn.com/38.mp3</string>
	</dict>
	<key>39</key>
	<dict>
		<key>Duration</key>
		<string>00:19:39</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>50</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>Url</key>
		<string>http://mingchao.qiniudn.com/39.mp3</string>
	</dict>
	<key>4</key>
	<dict>
		<key>Duration</key>
		<string>00:21:49</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>50</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>Url</key>
		<string>http://mingchao.qiniudn.com/04.mp3</string>
	</dict>
	<key>40</key>
	<dict>
		<key>Duration</key>
		<string>00:20:18</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>50</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>Url</key>
		<string>http://mingchao.qiniudn.com/40.mp3</string>
	</dict>
	<key>41</key>
	<dict>
		<key>Duration</key>
		<string>00:21:44</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>50</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>Url</key>
		<string>http://mingchao.qiniudn.com/41.mp3</string>
	</dict>
	<key>42</key>
	<dict>
		<key>Duration</key>
		<string>00:20:46</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>50</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>Url</key>
		<string>http://mingchao.qiniudn.com/42.mp3</string>
	</dict>
	<key>43</key>
	<dict>
		<key>Duration</key>
		<string>00:20:50</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>50</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>Url</key>
		<string>http://mingchao.qiniudn.com/43.mp3</string>
	</dict>
	<key>44</key>
	<dict>
		<key>Duration</key>
		<string>00:22:36</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>50</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>Url</key>
		<string>http://mingchao.qiniudn.com/44.mp3</string>
	</dict>
	<key>45</key>
	<dict>
		<key>Duration</key>
		<string>00:22:36</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>50</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>Url</key>
		<string>http://mingchao.qiniudn.com/44.mp3</string>
	</dict>
	<key>46</key>
	<dict>
		<key>Duration</key>
		<string>00:19:58</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>50</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>Url</key>
		<string>http://mingchao.qiniudn.com/46.mp3</string>
	</dict>
	<key>47</key>
	<dict>
		<key>Duration</key>
		<string>00:20:21</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>50</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>Url</key>
		<string>http://mingchao.qiniudn.com/47.mp3</string>
	</dict>
	<key>48</key>
	<dict>
		<key>Duration</key>
		<string>00:20:14</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>50</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>Url</key>
		<string>http://mingchao.qiniudn.com/48.mp3</string>
	</dict>
	<key>49</key>
	<dict>
		<key>Duration</key>
		<string>00:22:09</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>50</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>Url</key>
		<string>http://mingchao.qiniudn.com/49.mp3</string>
	</dict>
	<key>5</key>
	<dict>
		<key>Duration</key>
		<string>00:20:50</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>50</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>Url</key>
		<string>http://mingchao.qiniudn.com/05.mp3</string>
	</dict>
	<key>50</key>
	<dict>
		<key>Duration</key>
		<string>00:21:08</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>50</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>Url</key>
		<string>http://mingchao.qiniudn.com/50.mp3</string>
	</dict>
	<key>51</key>
	<dict>
		<key>Duration</key>
		<string>00:21:20</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>50</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>Url</key>
		<string>http://mingchao.qiniudn.com/51.mp3</string>
	</dict>
	<key>52</key>
	<dict>
		<key>Duration</key>
		<string>00:21:24</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>50</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>Url</key>
		<string>http://mingchao.qiniudn.com/52.mp3</string>
	</dict>
	<key>53</key>
	<dict>
		<key>Duration</key>
		<string>00:20:02</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>50</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>Url</key>
		<string>http://mingchao.qiniudn.com/53.mp3</string>
	</dict>
	<key>54</key>
	<dict>
		<key>Duration</key>
		<string>00:21:30</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>50</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>Url</key>
		<string>http://mingchao.qiniudn.com/54.mp3</string>
	</dict>
	<key>55</key>
	<dict>
		<key>Duration</key>
		<string>00:20:50</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>50</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>Url</key>
		<string>http://mingchao.qiniudn.com/55.mp3</string>
	</dict>
	<key>56</key>
	<dict>
		<key>Duration</key>
		<string>00:19:24</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>50</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>Url</key>
		<string>http://mingchao.qiniudn.com/56.mp3</string>
	</dict>
	<key>6</key>
	<dict>
		<key>Duration</key>
		<string>00:23:16</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>50</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>Url</key>
		<string>http://mingchao.qiniudn.com/06.mp3</string>
	</dict>
	<key>7</key>
	<dict>
		<key>Duration</key>
		<string>00:22:59</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>50</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>Url</key>
		<string>http://mingchao.qiniudn.com/07.mp3</string>
	</dict>
	<key>8</key>
	<dict>
		<key>Duration</key>
		<string>00:22:23</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>50</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>Url</key>
		<string>http://mingchao.qiniudn.com/08.mp3</string>
	</dict>
	<key>9</key>
	<dict>
		<key>Duration</key>
		<string>00:20:43</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>50</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>Url</key>
		<string>http://mingchao.qiniudn.com/09.mp3</string>
	</dict>
</dict>
</plist>
