<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>Title</key>
		<string>济公传</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiangsheng/Jigongzhuan.png</string>
		<key>Description</key>
		<string>郭德纲版本 目前整理最全</string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiangsheng/JigongzhuanG_SongList.plist</string>
		<key>ShortName</key>
		<string>JigongzhuanG</string>
		<key>Artist</key>
		<string>未知</string>
		<key>UpdatingStatus</key>
		<string>Updating</string>
		<key>Category</key>
		<string>xiangsheng</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>2</key>
	<dict>
		<key>Title</key>
		<string>茅山后裔</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Maoshanhouyi.png</string>
		<key>Description</key>
		<string>叶舟播音 作者大力金刚掌</string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Maoshanhouyi_SongList.plist</string>
		<key>ShortName</key>
		<string>Maoshanhouyi</string>
		<key>Artist</key>
		<string>未知</string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string>Xiaoshuo</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>3</key>
	<dict>
		<key>Title</key>
		<string>贼猫</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Zeimao.png</string>
		<key>Description</key>
		<string>盗墓故事 播讲:艾宝良</string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Zeimao_SongList.plist</string>
		<key>ShortName</key>
		<string>Zeimao</string>
		<key>Artist</key>
		<string>未知</string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string>Xiaoshuo</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>4</key>
	<dict>
		<key>Title</key>
		<string>蒋勋细说红楼梦</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Zongyi/Xishuohongloumeng.png</string>
		<key>Description</key>
		<string>蒋勋品评红楼</string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Zongyi/Xishuohongloumeng_SongList.plist</string>
		<key>ShortName</key>
		<string>Xishuohongloumeng</string>
		<key>Artist</key>
		<string>蒋勋</string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string>Zongyi</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>5</key>
	<dict>
		<key>Title</key>
		<string>盗墓笔记 青雪版</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Daomubiji.png</string>
		<key>Description</key>
		<string>青雪版 全本 包括大结局</string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/DaomubijiQ_SongList.plist</string>
		<key>ShortName</key>
		<string>DaomubijiQ</string>
		<key>Artist</key>
		<string>未知</string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string>Xiaoshuo</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>6</key>
	<dict>
		<key>Title</key>
		<string>黑狱 青雪版</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/HeiyuQ.png</string>
		<key>Description</key>
		<string>青雪版 黑狱</string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/HeiyuQ_SongList.plist</string>
		<key>ShortName</key>
		<string>HeiyuQ</string>
		<key>Artist</key>
		<string>未知</string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string>Xiaoshuo</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>7</key>
	<dict>
		<key>Title</key>
		<string>鬼吹灯</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Guichuideng.png</string>
		<key>Description</key>
		<string>艾宝良播讲</string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Guichuideng_SongList.plist</string>
		<key>ShortName</key>
		<string>Guichuideng</string>
		<key>Artist</key>
		<string></string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string>Xiaoshuo</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>8</key>
	<dict>
		<key>Title</key>
		<string>今晚80后脱口秀 2014</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Zongyi/jinwan80hou2014.png</string>
		<key>Description</key>
		<string>听王自健白话吧</string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Zongyi/jinwan80hou2014_SongList.plist</string>
		<key>ShortName</key>
		<string>jinwan80hou2014</string>
		<key>Artist</key>
		<string>王自健</string>
		<key>UpdatingStatus</key>
		<string>Updating</string>
		<key>Category</key>
		<string>Zongyi</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>9</key>
	<dict>
		<key>Title</key>
		<string>贫嘴张大民的幸福生活</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Pinzuizhangdamin.png</string>
		<key>Description</key>
		<string>感受生活</string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Pinzuizhangdamin_SongList.plist</string>
		<key>ShortName</key>
		<string>pinzuizhangdamin</string>
		<key>Artist</key>
		<string></string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string>Xiaoshuo</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>10</key>
	<dict>
		<key>Title</key>
		<string>秦时明月</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Qinshimingyue.png</string>
		<key>Description</key>
		<string>秦朝墨风 传奇故事</string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Qinshimingyue_SongList.plist</string>
		<key>ShortName</key>
		<string>Qinshimingyue</string>
		<key>Artist</key>
		<string></string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string>Xiaoshuo</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>11</key>
	<dict>
		<key>Title</key>
		<string>康熙大帝</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Kangxidadi.png</string>
		<key>Description</key>
		<string>二月河 经典名著 播讲:赵维莉</string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Kangxidadi_SongList.plist</string>
		<key>ShortName</key>
		<string>Kangxidadi</string>
		<key>Artist</key>
		<string></string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string>Xiaoshuo</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>12</key>
	<dict>
		<key>Title</key>
		<string>雍正皇帝</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Yongzhenghuangdi.png</string>
		<key>Description</key>
		<string>二月河 经典名著 播讲:赵维莉</string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Yongzhenghuangdi_SongList.plist</string>
		<key>ShortName</key>
		<string>Yongzhenghuangdi</string>
		<key>Artist</key>
		<string></string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string>Xiaoshuo</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>13</key>
	<dict>
		<key>Title</key>
		<string>乾隆皇帝</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Qianlonghuangdi.png</string>
		<key>Description</key>
		<string>二月河 经典名著 播讲:赵维莉</string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Qianlonghuangdi_SongList.plist</string>
		<key>ShortName</key>
		<string>Qianlonghuangdi</string>
		<key>Artist</key>
		<string></string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string>Xiaoshuo</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>14</key>
	<dict>
		<key>Title</key>
		<string>笑傲江湖</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Xiaoaojianghu.png</string>
		<key>Description</key>
		<string>播讲:周震</string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Xiaoaojianghu_SongList.plist</string>
		<key>ShortName</key>
		<string>Xiaoaojianghu</string>
		<key>Artist</key>
		<string></string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string>Xiaoshuo</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>15</key>
	<dict>
		<key>Title</key>
		<string>飞狐外传</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Feihuwaizhuan.png</string>
		<key>Description</key>
		<string>播讲:思航</string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Feihuwaizhuan_SongList.plist</string>
		<key>ShortName</key>
		<string>Feihuwaizhuan</string>
		<key>Artist</key>
		<string></string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string>Xiaoshuo</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>16</key>
	<dict>
		<key>Title</key>
		<string>射雕英雄传</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Shediaoyingxiongzhuan.png</string>
		<key>Description</key>
		<string>播讲:徐涛 张文兴</string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Shediaoyingxiongzhuan_SongList.plist</string>
		<key>ShortName</key>
		<string>Shediaoyingxiongzhuan</string>
		<key>Artist</key>
		<string></string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string>Xiaoshuo</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>17</key>
	<dict>
		<key>Title</key>
		<string>神雕侠侣</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Shendiaoxialv.png</string>
		<key>Description</key>
		<string>播讲:易峰</string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Shendiaoxialv_SongList.plist</string>
		<key>ShortName</key>
		<string>Shendiaoxialv</string>
		<key>Artist</key>
		<string></string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string>Xiaoshuo</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>18</key>
	<dict>
		<key>Title</key>
		<string>雪山飞狐</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Xueshanfeihu.png</string>
		<key>Description</key>
		<string>播讲:李少鹏</string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Xueshanfeihu_SongList.plist</string>
		<key>ShortName</key>
		<string>Xueshanfeihu</string>
		<key>Artist</key>
		<string></string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string>Xiaoshuo</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>19</key>
	<dict>
		<key>Title</key>
		<string>倚天屠龙记</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Yitiantulongji.png</string>
		<key>Description</key>
		<string>播讲:石连君</string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Yitiantulongji_SongList.plist</string>
		<key>ShortName</key>
		<string>Yitiantulongji</string>
		<key>Artist</key>
		<string></string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string>Xiaoshuo</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>20</key>
	<dict>
		<key>Title</key>
		<string>狼图腾</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Langtuteng.png</string>
		<key>Description</key>
		<string>播讲:马长辉</string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Langtuteng_SongList.plist</string>
		<key>ShortName</key>
		<string>Langtuteng</string>
		<key>Artist</key>
		<string></string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string>Xiaoshuo</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>21</key>
	<dict>
		<key>Title</key>
		<string>薛丁山征西 残本</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Pingshu/ZhengxiL.png</string>
		<key>Description</key>
		<string>李菁版本 大波的还没出 这个凑活过瘾吧</string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Pingshu/ZhengxiL_SongList.plist</string>
		<key>ShortName</key>
		<string>ZhengxiL</string>
		<key>Artist</key>
		<string>李菁</string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string></string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>22</key>
	<dict>
		<key>Title</key>
		<string>黄金瞳</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Huangjintong.png</string>
		<key>Description</key>
		<string>作者：打眼 起点网经典名著 </string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Huangjintong_SongList.plist</string>
		<key>ShortName</key>
		<string>Huangjintong</string>
		<key>Artist</key>
		<string></string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string>Xiaoshuo</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>23</key>
	<dict>
		<key>Title</key>
		<string>都市特种兵</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Dushitezhongbing.png</string>
		<key>Description</key>
		<string>起点网经典名著 </string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Dushitezhongbing_SongList.plist</string>
		<key>ShortName</key>
		<string>Dushitezhongbing</string>
		<key>Artist</key>
		<string></string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string>Xiaoshuo</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>24</key>
	<dict>
		<key>Title</key>
		<string>书剑恩仇录</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Shujianenchoulu.png</string>
		<key>Description</key>
		<string></string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Shujianenchoulu_SongList.plist</string>
		<key>ShortName</key>
		<string>Shujianenchoulu</string>
		<key>Artist</key>
		<string></string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string>Xiaoshuo</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>25</key>
	<dict>
		<key>Title</key>
		<string>碧血剑</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Bixuejian.png</string>
		<key>Description</key>
		<string></string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Bixuejian_SongList.plist</string>
		<key>ShortName</key>
		<string>Bixuejian</string>
		<key>Artist</key>
		<string></string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string>Xiaoshuo</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>26</key>
	<dict>
		<key>Title</key>
		<string>鹿鼎记</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Ludingji.png</string>
		<key>Description</key>
		<string></string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Ludingji_SongList.plist</string>
		<key>ShortName</key>
		<string>Ludingji</string>
		<key>Artist</key>
		<string></string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string>Xiaoshuo</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>27</key>
	<dict>
		<key>Title</key>
		<string>蜗居</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Woju.png</string>
		<key>Description</key>
		<string></string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Woju_SongList.plist</string>
		<key>ShortName</key>
		<string>Woju</string>
		<key>Artist</key>
		<string></string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string>Xiaoshuo</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>28</key>
	<dict>
		<key>Title</key>
		<string>薛家将</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Pingshu/Xuejiajiang.png</string>
		<key>Description</key>
		<string>播讲:单田芳 经典 共180回</string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Pingshu/Xuejiajiang_SongList.plist</string>
		<key>ShortName</key>
		<string>Xuejiajiang</string>
		<key>Artist</key>
		<string>单田芳</string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string></string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>29</key>
	<dict>
		<key>Title</key>
		<string>步步惊心</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Bubujingxin.png</string>
		<key>Description</key>
		<string></string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Bubujingxin_SongList.plist</string>
		<key>ShortName</key>
		<string>Bubujingxin</string>
		<key>Artist</key>
		<string></string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string>Xiaoshuo</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>30</key>
	<dict>
		<key>Title</key>
		<string>匆匆那年</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Congcongnanian.png</string>
		<key>Description</key>
		<string>播讲: 张磊，石颖寒</string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Congcongnanian_SongList.plist</string>
		<key>ShortName</key>
		<string>congcongnanian</string>
		<key>Artist</key>
		<string>张磊</string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string>Xiaoshuo</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>31</key>
	<dict>
		<key>Title</key>
		<string>狄公案</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Pingshu/Digongan.png</string>
		<key>Description</key>
		<string>播讲:王封臣 代表作</string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Pingshu/Digongan_SongList.plist</string>
		<key>ShortName</key>
		<string>Digongan</string>
		<key>Artist</key>
		<string>王封臣</string>
		<key>UpdatingStatus</key>
		<string>Updating</string>
		<key>Category</key>
		<string></string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>32</key>
	<dict>
		<key>Title</key>
		<string>腾飞五千年 定期更新中</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Zongyi/Tengfeiwuqiannian.png</string>
		<key>Description</key>
		<string>听袁老师讲中华上下五千年</string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Zongyi/Tengfeiwuqiannian_SongList.plist</string>
		<key>ShortName</key>
		<string>Tengfeiwuqiannian</string>
		<key>Artist</key>
		<string></string>
		<key>UpdatingStatus</key>
		<string>Updating</string>
		<key>Category</key>
		<string>Zongyi</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>33</key>
	<dict>
		<key>Title</key>
		<string>何以笙箫默</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Heyishengxiaomo.png</string>
		<key>Description</key>
		<string>既然琴瑟起 何以笙箫默</string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Heyishengxiaomo_SongList.plist</string>
		<key>ShortName</key>
		<string>Heyishengxiaomo</string>
		<key>Artist</key>
		<string></string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string>Xiaoshuo</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>34</key>
	<dict>
		<key>Title</key>
		<string>超级公务员</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Chaojigongwuyuan.png</string>
		<key>Description</key>
		<string>官场正能量</string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Chaojigongwuyuan_SongList.plist</string>
		<key>ShortName</key>
		<string>Chaojigongwuyuan</string>
		<key>Artist</key>
		<string>未知</string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string>Xiaoshuo</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>35</key>
	<dict>
		<key>Title</key>
		<string>股浪语</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Gulangyu.png</string>
		<key>Description</key>
		<string>股市的善恶美丑</string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Gulangyu_SongList.plist</string>
		<key>ShortName</key>
		<string>Gulangyu</string>
		<key>Artist</key>
		<string>未知</string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string>Xiaoshuo</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>36</key>
	<dict>
		<key>Title</key>
		<string>国家干部</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Guojiaganbu.png</string>
		<key>Description</key>
		<string>播讲：仲维维 纪实文学</string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Guojiaganbu_SongList.plist</string>
		<key>ShortName</key>
		<string>Guojiaganbu</string>
		<key>Artist</key>
		<string>未知</string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string>Xiaoshuo</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>37</key>
	<dict>
		<key>Title</key>
		<string>沉船</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Chenchuan.png</string>
		<key>Description</key>
		<string>诺贝尔文学奖作品 仲维维播讲</string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Chenchuan_SongList.plist</string>
		<key>ShortName</key>
		<string>Chenchuan</string>
		<key>Artist</key>
		<string></string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string>Xiaoshuo</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>38</key>
	<dict>
		<key>Title</key>
		<string>首席医官</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Shouxiyiguan.png</string>
		<key>Description</key>
		<string>起点热门小说</string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Shouxiyiguan_SongList.plist</string>
		<key>ShortName</key>
		<string>Shouxiyiguan</string>
		<key>Artist</key>
		<string></string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string>Xiaoshuo</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>39</key>
	<dict>
		<key>Title</key>
		<string>侠客行</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Xiakexing.png</string>
		<key>Description</key>
		<string>仲维维 播讲</string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Xiakexing_SongList.plist</string>
		<key>ShortName</key>
		<string>Xiakexing</string>
		<key>Artist</key>
		<string></string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string>Xiaoshuo</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>40</key>
	<dict>
		<key>Title</key>
		<string>福尔摩斯探案集</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Fuermosi.png</string>
		<key>Description</key>
		<string>经典的探案故事</string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Fuermosi_SongList.plist</string>
		<key>ShortName</key>
		<string>Fuermosi</string>
		<key>Artist</key>
		<string></string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string>Xiaoshuo</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>41</key>
	<dict>
		<key>Title</key>
		<string>谜踪之国</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Mizongzhiguo.png</string>
		<key>Description</key>
		<string>艾宝良播讲</string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Mizongzhiguo_SongList.plist</string>
		<key>ShortName</key>
		<string>Mizongzhiguo</string>
		<key>Artist</key>
		<string></string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string>Xiaoshuo</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>42</key>
	<dict>
		<key>Title</key>
		<string>王立群 讲史记</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Baijia/Shiji.png</string>
		<key>Description</key>
		<string>秦始皇</string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Baijia/Shiji_SongList.plist</string>
		<key>ShortName</key>
		<string>Shiji</string>
		<key>Artist</key>
		<string>王立群</string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string>Baijia</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>43</key>
	<dict>
		<key>Title</key>
		<string>镜花缘-单田芳</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Pingshu/Jinghuayuan.png</string>
		<key>Description</key>
		<string>名家经典</string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Pingshu/Jinghuayuan_SongList.plist</string>
		<key>ShortName</key>
		<string>jinghuayuan</string>
		<key>Artist</key>
		<string>单田芳</string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string></string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>44</key>
	<dict>
		<key>Title</key>
		<string>仙侠奇缘 花千骨</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Huaqiangu.png</string>
		<key>Description</key>
		<string>演播：筱梦 布兰德</string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Huaqiangu_SongList.plist</string>
		<key>ShortName</key>
		<string>Huaqiangu</string>
		<key>Artist</key>
		<string>未知</string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string>Xiaoshuo</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>45</key>
	<dict>
		<key>Title</key>
		<string>怒江之战</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Nujiangzhizhan.png</string>
		<key>Description</key>
		<string>南派三叔 完结作品 解密二战</string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Nujiangzhizhan_SongList.plist</string>
		<key>ShortName</key>
		<string>Nujiangzhizhan</string>
		<key>Artist</key>
		<string></string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string>Xiaoshuo</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>46</key>
	<dict>
		<key>Title</key>
		<string>最后一个道士 青雪版</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Zuihouyigedaoshi.png</string>
		<key>Description</key>
		<string>青雪</string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Zuihouyigedaoshi_SongList.plist</string>
		<key>ShortName</key>
		<string>Zuihouyigedaoshi</string>
		<key>Artist</key>
		<string>未知</string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string>Xiaoshuo</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>47</key>
	<dict>
		<key>Title</key>
		<string>蒸骨记</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Pingshu/Zhengguji.png</string>
		<key>Description</key>
		<string>播讲:王玥波 全本</string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Pingshu/Zhengguji_SongList.plist</string>
		<key>ShortName</key>
		<string>Zhengguji</string>
		<key>Artist</key>
		<string>王玥波</string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string></string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>48</key>
	<dict>
		<key>Title</key>
		<string>奇葩说 第二季</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Zongyi/Qipashuo2.png</string>
		<key>Description</key>
		<string>奇葩辩论赛</string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Zongyi/Qipashuo2_SongList.plist</string>
		<key>ShortName</key>
		<string>Qipashuo2</string>
		<key>Artist</key>
		<string></string>
		<key>UpdatingStatus</key>
		<string>Updating</string>
		<key>Category</key>
		<string>Zongyi</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
</dict>
</plist>
