<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>Title</key>
		<string>郭德纲 2015最新相声 </string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiangsheng/Guodegang2015.png</string>
		<key>Description</key>
		<string>2015 新段子 持续更新中</string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiangsheng/Guodegang2015_SongList.plist</string>
		<key>ShortName</key>
		<string>Guodegang2015</string>
		<key>Artist</key>
		<string>郭德纲</string>
		<key>UpdatingStatus</key>
		<string>Updating</string>
		<key>Category</key>
		<string>xiangsheng</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>2</key>
	<dict>
		<key>Title</key>
		<string>济公传</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiangsheng/Jigongzhuan.png</string>
		<key>Description</key>
		<string>郭德纲版本 目前整理最全</string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiangsheng/JigongzhuanG_SongList.plist</string>
		<key>ShortName</key>
		<string>JigongzhuanG</string>
		<key>Artist</key>
		<string>未知</string>
		<key>UpdatingStatus</key>
		<string>Updating</string>
		<key>Category</key>
		<string>xiangsheng</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>3</key>
	<dict>
		<key>Title</key>
		<string>济公传</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiangsheng/Jigongzhuan.png</string>
		<key>Description</key>
		<string>徐德亮版本 换换口味也不错</string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiangsheng/JigongzhuanX_SongList.plist</string>
		<key>ShortName</key>
		<string>JigongzhuanX</string>
		<key>Artist</key>
		<string>郭德纲</string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string>xiangsheng</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>4</key>
	<dict>
		<key>Title</key>
		<string>刘宝瑞 单口经典</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiangsheng/Liubaorui.png</string>
		<key>Description</key>
		<string>徐德亮版本 换换口味也不错</string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiangsheng/Liubaorui_SongList.plist</string>
		<key>ShortName</key>
		<string>Liubaorui</string>
		<key>Artist</key>
		<string>刘宝瑞</string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string>xiangsheng</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>5</key>
	<dict>
		<key>Title</key>
		<string>张双喜捉妖 郭德纲版</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiangsheng/ZhangshuangxiG.png</string>
		<key>Description</key>
		<string></string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiangsheng/ZhangshuangxiG_SongList.plist</string>
		<key>ShortName</key>
		<string>ZhangshuangxiG</string>
		<key>Artist</key>
		<string>郭德纲</string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string>xiangsheng</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>6</key>
	<dict>
		<key>Title</key>
		<string>德云社</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiangsheng/Deyunshe.png</string>
		<key>Description</key>
		<string></string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiangsheng/Deyunshe_SongList.plist</string>
		<key>ShortName</key>
		<string>Deyunshe</string>
		<key>Artist</key>
		<string>郭德纲</string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string>xiangsheng</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>7</key>
	<dict>
		<key>Title</key>
		<string>丑娘娘</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiangsheng/Chouniangniang.png</string>
		<key>Description</key>
		<string>郭德纲经典，可惜后面的不给说了</string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiangsheng/Chouniangniang_SongList.plist</string>
		<key>ShortName</key>
		<string>Chouniangniang</string>
		<key>Artist</key>
		<string>郭德纲</string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string>xiangsheng</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>8</key>
	<dict>
		<key>Title</key>
		<string>张广泰回家</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiangsheng/ZhangguangtaiG.png</string>
		<key>Description</key>
		<string>郭德纲版本 全本不容易</string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiangsheng/ZhangguangtaiG_SongList.plist</string>
		<key>ShortName</key>
		<string>ZhangguangtaiG</string>
		<key>Artist</key>
		<string>未知</string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string>xiangsheng</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
</dict>
</plist>
