<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>Title</key>
		<string>雍正剑侠图 第一部</string>
		<key>ImageURL</key>
		<string>http://bcs.duapp.com/daoting/Yongzheng1.png</string>
		<key>Description</key>
		<string>播讲:王玥波 1至44回 电台整合版</string>
		<key>SongList</key>
		<string>http://bcs.duapp.com/daoting/Yongzheng1_SongList.plist</string>
		<key>ShortName</key>
		<string>Yongzheng1</string>
		<key>Artist</key>
		<string>王玥波</string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string></string>
		<key>LongDescription</key>
		<string>《雍正剑侠图》又名《童林传》，由清末民初评书艺人常杰淼于20世纪20年代在天津创作的评书作品。
常杰淼习武嗜酒，性格豪爽，结交绿林豪杰。书中有大量比较真实的武术、江湖绿林道描写；常还惯于引经据典，夹叙夹评，又熟悉老北京民俗与风土人情，能够“武书文说”，把剑侠图说成学问书。“剑侠图”是因为常曾在书中提到“康熙六十一年武英殿御览群侠图”而得名。
该书大概以八卦掌祖师董海川为原型，同时受到清中叶以来流传于民间的雍正改昭篡位、结交绿林、被刺等故事启发，塑造出童林这一书胆人物。讲述康熙末年，京南霸北童家庄童林童海川误伤老父，出走江西，受高人传授，十五年昼夜苦功、习得“柳叶绵丝磨身掌”绝艺，奉师命下山“另兴一家武术”。京城偶遇雍亲王胤禛（后来的雍正皇帝），做了武术教师，却因初涉江湖得罪绿林。

王玥波，爱称王三皮，1978年生于北京，自幼学习评书、相声等多门曲艺艺术，曾拜马增锟学习评书，拜赵小林学习相声，拜章学楷学习联珠快书。全总文工团（原在煤矿文工团）说唱演员，在宣南书馆、崇文书馆均为创业元老，女评书第一人连丽如夫妇之义子。播讲过《聊斋》、《隋唐》、《雍正剑侠图》、《侠义英雄传》等多部评书。2012年8月7日王玥波在京成立个人工作室。
		</string>
	</dict>
	<key>2</key>
	<dict>
		<key>Title</key>
		<string>雍正剑侠图 第二部</string>
		<key>ImageURL</key>
		<string>http://bcs.duapp.com/daoting/Yongzheng2.png</string>
		<key>Description</key>
		<string>播讲:王玥波 45至118回 电台整合版</string>
		<key>SongList</key>
		<string>http://bcs.duapp.com/daoting/Yongzheng2_SongList.plist</string>
		<key>ShortName</key>
		<string>Yongzheng2</string>
		<key>Artist</key>
		<string>王玥波</string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string></string>
		<key>LongDescription</key>
		<string>《雍正剑侠图》又名《童林传》，由清末民初评书艺人常杰淼于20世纪20年代在天津创作的评书作品。
常杰淼习武嗜酒，性格豪爽，结交绿林豪杰。书中有大量比较真实的武术、江湖绿林道描写；常还惯于引经据典，夹叙夹评，又熟悉老北京民俗与风土人情，能够“武书文说”，把剑侠图说成学问书。“剑侠图”是因为常曾在书中提到“康熙六十一年武英殿御览群侠图”而得名。
该书大概以八卦掌祖师董海川为原型，同时受到清中叶以来流传于民间的雍正改昭篡位、结交绿林、被刺等故事启发，塑造出童林这一书胆人物。讲述康熙末年，京南霸北童家庄童林童海川误伤老父，出走江西，受高人传授，十五年昼夜苦功、习得“柳叶绵丝磨身掌”绝艺，奉师命下山“另兴一家武术”。京城偶遇雍亲王胤禛（后来的雍正皇帝），做了武术教师，却因初涉江湖得罪绿林。

王玥波，爱称王三皮，1978年生于北京，自幼学习评书、相声等多门曲艺艺术，曾拜马增锟学习评书，拜赵小林学习相声，拜章学楷学习联珠快书。全总文工团（原在煤矿文工团）说唱演员，在宣南书馆、崇文书馆均为创业元老，女评书第一人连丽如夫妇之义子。播讲过《聊斋》、《隋唐》、《雍正剑侠图》、《侠义英雄传》等多部评书。2012年8月7日王玥波在京成立个人工作室。
		</string>
	</dict>
	<key>3</key>
	<dict>
		<key>Title</key>
		<string>雍正剑侠图 第三部</string>
		<key>ImageURL</key>
		<string>http://bcs.duapp.com/daoting/Yongzheng3.png</string>
		<key>Description</key>
		<string>播讲:王玥波 119至163回 电台整合版</string>
		<key>SongList</key>
		<string>http://bcs.duapp.com/daoting/Yongzheng3_SongList.plist</string>
		<key>ShortName</key>
		<string>Yongzheng3</string>
		<key>Artist</key>
		<string>王玥波</string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string></string>
		<key>LongDescription</key>
		<string>《雍正剑侠图》又名《童林传》，由清末民初评书艺人常杰淼于20世纪20年代在天津创作的评书作品。
常杰淼习武嗜酒，性格豪爽，结交绿林豪杰。书中有大量比较真实的武术、江湖绿林道描写；常还惯于引经据典，夹叙夹评，又熟悉老北京民俗与风土人情，能够“武书文说”，把剑侠图说成学问书。“剑侠图”是因为常曾在书中提到“康熙六十一年武英殿御览群侠图”而得名。
该书大概以八卦掌祖师董海川为原型，同时受到清中叶以来流传于民间的雍正改昭篡位、结交绿林、被刺等故事启发，塑造出童林这一书胆人物。讲述康熙末年，京南霸北童家庄童林童海川误伤老父，出走江西，受高人传授，十五年昼夜苦功、习得“柳叶绵丝磨身掌”绝艺，奉师命下山“另兴一家武术”。京城偶遇雍亲王胤禛（后来的雍正皇帝），做了武术教师，却因初涉江湖得罪绿林。

王玥波，爱称王三皮，1978年生于北京，自幼学习评书、相声等多门曲艺艺术，曾拜马增锟学习评书，拜赵小林学习相声，拜章学楷学习联珠快书。全总文工团（原在煤矿文工团）说唱演员，在宣南书馆、崇文书馆均为创业元老，女评书第一人连丽如夫妇之义子。播讲过《聊斋》、《隋唐》、《雍正剑侠图》、《侠义英雄传》等多部评书。2012年8月7日王玥波在京成立个人工作室。
		</string>
	</dict>
	<key>4</key>
	<dict>
		<key>Title</key>
		<string>[每天更新]雍正剑侠图 第四部</string>
		<key>ImageURL</key>
		<string>http://bcs.duapp.com/daoting/Yongzheng4.png</string>
		<key>Description</key>
		<string>播讲:王玥波 正在直播</string>
		<key>SongList</key>
		<string>http://bcs.duapp.com/daoting/Yongzheng4_SongList.plist</string>
		<key>ShortName</key>
		<string>Yongzheng4</string>
		<key>Artist</key>
		<string>王玥波</string>
		<key>UpdatingStatus</key>
		<string>Updating</string>
		<key>Category</key>
		<string></string>
		<key>LongDescription</key>
		<string>《雍正剑侠图》又名《童林传》，由清末民初评书艺人常杰淼于20世纪20年代在天津创作的评书作品。
常杰淼习武嗜酒，性格豪爽，结交绿林豪杰。书中有大量比较真实的武术、江湖绿林道描写；常还惯于引经据典，夹叙夹评，又熟悉老北京民俗与风土人情，能够“武书文说”，把剑侠图说成学问书。“剑侠图”是因为常曾在书中提到“康熙六十一年武英殿御览群侠图”而得名。
该书大概以八卦掌祖师董海川为原型，同时受到清中叶以来流传于民间的雍正改昭篡位、结交绿林、被刺等故事启发，塑造出童林这一书胆人物。讲述康熙末年，京南霸北童家庄童林童海川误伤老父，出走江西，受高人传授，十五年昼夜苦功、习得“柳叶绵丝磨身掌”绝艺，奉师命下山“另兴一家武术”。京城偶遇雍亲王胤禛（后来的雍正皇帝），做了武术教师，却因初涉江湖得罪绿林。

王玥波，爱称王三皮，1978年生于北京，自幼学习评书、相声等多门曲艺艺术，曾拜马增锟学习评书，拜赵小林学习相声，拜章学楷学习联珠快书。全总文工团（原在煤矿文工团）说唱演员，在宣南书馆、崇文书馆均为创业元老，女评书第一人连丽如夫妇之义子。播讲过《聊斋》、《隋唐》、《雍正剑侠图》、《侠义英雄传》等多部评书。2012年8月7日王玥波在京成立个人工作室。
		</string>
	</dict>
</dict>
</plist>
