<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>Title</key>
		<string>贼猫</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Zeimao.png</string>
		<key>Description</key>
		<string>盗墓故事 播讲:艾宝良</string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Zeimao_SongList.plist</string>
		<key>ShortName</key>
		<string>Zeimao</string>
		<key>Artist</key>
		<string>未知</string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string>Xiaoshuo</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>2</key>
	<dict>
		<key>Title</key>
		<string>凡人修仙传</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Fanrenxiuxianzhuan.png</string>
		<key>Description</key>
		<string>播讲:大灰狼</string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Fanrenxiuxianzhuan_SongList.plist</string>
		<key>ShortName</key>
		<string>Fanrenxiuxianzhuan</string>
		<key>Artist</key>
		<string>未知</string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string>Xiaoshuo</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>3</key>
	<dict>
		<key>Title</key>
		<string>斗破苍穹</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Doupocangqiong.png</string>
		<key>Description</key>
		<string>播讲:蜡笔小勇</string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Doupocangqiong_SongList.plist</string>
		<key>ShortName</key>
		<string>Doupocangqiong</string>
		<key>Artist</key>
		<string>未知</string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string>Xiaoshuo</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>4</key>
	<dict>
		<key>Title</key>
		<string>侯卫东官场笔记 全</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Houweidong.png</string>
		<key>Description</key>
		<string>官场 职场 </string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Houweidong_SongList.plist</string>
		<key>ShortName</key>
		<string>Houweidong</string>
		<key>Artist</key>
		<string></string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string>Xiaoshuo</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>5</key>
	<dict>
		<key>Title</key>
		<string>秦时明月</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Qinshimingyue.png</string>
		<key>Description</key>
		<string>秦朝墨风 传奇故事</string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Qinshimingyue_SongList.plist</string>
		<key>ShortName</key>
		<string>Qinshimingyue</string>
		<key>Artist</key>
		<string></string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string>Xiaoshuo</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>7</key>
	<dict>
		<key>Title</key>
		<string>盗墓笔记 第一部</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Daomubiji.png</string>
		<key>Description</key>
		<string>七星鲁王宫</string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Daomubiji1_SongList.plist</string>
		<key>ShortName</key>
		<string>Daomubiji1</string>
		<key>Artist</key>
		<string>未知</string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string>Xiaoshuo</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>6</key>
	<dict>
		<key>Title</key>
		<string>茅山后裔</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Maoshanhouyi.png</string>
		<key>Description</key>
		<string>叶舟播音 作者大力金刚掌</string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Maoshanhouyi_SongList.plist</string>
		<key>ShortName</key>
		<string>Maoshanhouyi</string>
		<key>Artist</key>
		<string>未知</string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string>Xiaoshuo</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>8</key>
	<dict>
		<key>Title</key>
		<string>盗墓笔记 第二部</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Daomubiji.png</string>
		<key>Description</key>
		<string>秦岭神树</string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Daomubiji2_SongList.plist</string>
		<key>ShortName</key>
		<string>Daomubiji2</string>
		<key>Artist</key>
		<string>未知</string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string>Xiaoshuo</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>9</key>
	<dict>
		<key>Title</key>
		<string>盗墓笔记 第三部</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Daomubiji.png</string>
		<key>Description</key>
		<string>云顶天宫</string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Daomubiji3_SongList.plist</string>
		<key>ShortName</key>
		<string>Daomubiji3</string>
		<key>Artist</key>
		<string>未知</string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string>Xiaoshuo</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>10</key>
	<dict>
		<key>Title</key>
		<string>盗墓笔记 第四部</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Daomubiji.png</string>
		<key>Description</key>
		<string>蛇沼鬼城</string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Daomubiji4_SongList.plist</string>
		<key>ShortName</key>
		<string>Daomubiji4</string>
		<key>Artist</key>
		<string>未知</string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string>Xiaoshuo</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>11</key>
	<dict>
		<key>Title</key>
		<string>盗墓笔记 第五部</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Daomubiji.png</string>
		<key>Description</key>
		<string>谜海归巢</string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Daomubiji5_SongList.plist</string>
		<key>ShortName</key>
		<string>Daomubiji5</string>
		<key>Artist</key>
		<string>未知</string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string>Xiaoshuo</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>12</key>
	<dict>
		<key>Title</key>
		<string>盗墓笔记 第六部</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Daomubiji.png</string>
		<key>Description</key>
		<string>阴山古楼</string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Daomubiji6_SongList.plist</string>
		<key>ShortName</key>
		<string>Daomubiji6</string>
		<key>Artist</key>
		<string>未知</string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string>Xiaoshuo</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>13</key>
	<dict>
		<key>Title</key>
		<string>藏地密码</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Zangdimima.png</string>
		<key>Description</key>
		<string>播讲:艾宝良</string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Zangdimima_SongList.plist</string>
		<key>ShortName</key>
		<string>Zangdimima</string>
		<key>Artist</key>
		<string>未知</string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string>Xiaoshuo</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>14</key>
	<dict>
		<key>Title</key>
		<string>二号首长</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Erhaoshouzhang.png</string>
		<key>Description</key>
		<string>当官是一门技术</string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Erhaoshouzhang_SongList.plist</string>
		<key>ShortName</key>
		<string>Erhaoshouzhang</string>
		<key>Artist</key>
		<string></string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string>Xiaoshuo</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>15</key>
	<dict>
		<key>Title</key>
		<string>盗墓笔记 青雪版</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Daomubiji.png</string>
		<key>Description</key>
		<string>青雪版 全本 包括大结局</string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/DaomubijiQ_SongList.plist</string>
		<key>ShortName</key>
		<string>DaomubijiQ</string>
		<key>Artist</key>
		<string>未知</string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string>Xiaoshuo</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>16</key>
	<dict>
		<key>Title</key>
		<string>黑狱 青雪版</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/HeiyuQ.png</string>
		<key>Description</key>
		<string>青雪版 黑狱</string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/HeiyuQ_SongList.plist</string>
		<key>ShortName</key>
		<string>HeiyuQ</string>
		<key>Artist</key>
		<string>未知</string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string>Xiaoshuo</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>17</key>
	<dict>
		<key>Title</key>
		<string>贫嘴张大民的幸福生活</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Pinzuizhangdamin.png</string>
		<key>Description</key>
		<string>感受生活</string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Pinzuizhangdamin_SongList.plist</string>
		<key>ShortName</key>
		<string>pinzuizhangdamin</string>
		<key>Artist</key>
		<string></string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string>Xiaoshuo</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>18</key>
	<dict>
		<key>Title</key>
		<string>潜伏</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Qianfu.png</string>
		<key>Description</key>
		<string>作者:龙一 播讲:延峰轶童</string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Qianfu_SongList.plist</string>
		<key>ShortName</key>
		<string>Qianfu</string>
		<key>Artist</key>
		<string>未知</string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string>Xiaoshuo</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>19</key>
	<dict>
		<key>Title</key>
		<string>让子弹飞</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Rangzidanfei.png</string>
		<key>Description</key>
		<string>张麻子的英雄事迹</string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Rangzidanfei_SongList.plist</string>
		<key>ShortName</key>
		<string>Rangzidanfei</string>
		<key>Artist</key>
		<string></string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string>Xiaoshuo</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>20</key>
	<dict>
		<key>Title</key>
		<string>康熙大帝</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Kangxidadi.png</string>
		<key>Description</key>
		<string>二月河 经典名著 播讲:赵维莉</string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Kangxidadi_SongList.plist</string>
		<key>ShortName</key>
		<string>Kangxidadi</string>
		<key>Artist</key>
		<string></string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string>Xiaoshuo</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>21</key>
	<dict>
		<key>Title</key>
		<string>雍正皇帝</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Yongzhenghuangdi.png</string>
		<key>Description</key>
		<string>二月河 经典名著 播讲:赵维莉</string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Yongzhenghuangdi_SongList.plist</string>
		<key>ShortName</key>
		<string>Yongzhenghuangdi</string>
		<key>Artist</key>
		<string></string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string>Xiaoshuo</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>22</key>
	<dict>
		<key>Title</key>
		<string>乾隆皇帝</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Qianlonghuangdi.png</string>
		<key>Description</key>
		<string>二月河 经典名著 播讲:赵维莉</string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Qianlonghuangdi_SongList.plist</string>
		<key>ShortName</key>
		<string>Qianlonghuangdi</string>
		<key>Artist</key>
		<string></string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string>Xiaoshuo</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>23</key>
	<dict>
		<key>Title</key>
		<string>笑傲江湖</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Xiaoaojianghu.png</string>
		<key>Description</key>
		<string>播讲:周震</string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Xiaoaojianghu_SongList.plist</string>
		<key>ShortName</key>
		<string>Xiaoaojianghu</string>
		<key>Artist</key>
		<string></string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string>Xiaoshuo</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>24</key>
	<dict>
		<key>Title</key>
		<string>飞狐外传</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Feihuwaizhuan.png</string>
		<key>Description</key>
		<string>播讲:思航</string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Feihuwaizhuan_SongList.plist</string>
		<key>ShortName</key>
		<string>Feihuwaizhuan</string>
		<key>Artist</key>
		<string></string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string>Xiaoshuo</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>25</key>
	<dict>
		<key>Title</key>
		<string>射雕英雄传</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Shediaoyingxiongzhuan.png</string>
		<key>Description</key>
		<string>播讲:徐涛 张文兴</string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Shediaoyingxiongzhuan_SongList.plist</string>
		<key>ShortName</key>
		<string>Shediaoyingxiongzhuan</string>
		<key>Artist</key>
		<string></string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string>Xiaoshuo</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>26</key>
	<dict>
		<key>Title</key>
		<string>神雕侠侣</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Shendiaoxialv.png</string>
		<key>Description</key>
		<string>播讲:易峰</string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Shendiaoxialv_SongList.plist</string>
		<key>ShortName</key>
		<string>Shendiaoxialv</string>
		<key>Artist</key>
		<string></string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string>Xiaoshuo</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>27</key>
	<dict>
		<key>Title</key>
		<string>雪山飞狐</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Xueshanfeihu.png</string>
		<key>Description</key>
		<string>播讲:李少鹏</string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Xueshanfeihu_SongList.plist</string>
		<key>ShortName</key>
		<string>Xueshanfeihu</string>
		<key>Artist</key>
		<string></string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string>Xiaoshuo</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>28</key>
	<dict>
		<key>Title</key>
		<string>倚天屠龙记</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Yitiantulongji.png</string>
		<key>Description</key>
		<string>播讲:石连君</string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Yitiantulongji_SongList.plist</string>
		<key>ShortName</key>
		<string>Yitiantulongji</string>
		<key>Artist</key>
		<string></string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string>Xiaoshuo</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>29</key>
	<dict>
		<key>Title</key>
		<string>围城</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Weicheng.png</string>
		<key>Description</key>
		<string>播讲:未知 作者:钱钟书</string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Weicheng_SongList.plist</string>
		<key>ShortName</key>
		<string>Weicheng</string>
		<key>Artist</key>
		<string>未知</string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string>Xiaoshuo</string>
		<key>LongDescription</key>
		<string>长篇小说《围城》共分九章，大体可以划做四个单元。由第一章至第四章是第一个单元，写方鸿渐在上海和家乡（江南某县）的生活情景，以写上海为主。在这个单元中，方鸿渐和苏文纨的“爱情”纠葛占了重要的分量。苏文纨的倾心相与和方鸿渐的另有所欢，使他们演出了不少半真半假、女真男假的滑稽戏。暴露了苏文纨官宦小姐矜持自负、自作多情、因而落得空对镜花水月的尴尬相，也暴露了方鸿渐纨绔子弟优柔寡断、不更世事而又玩世不恭的浮华相。围绕着他们，作者还写了十里洋场社交生活的各种人物，在美国人花旗洋行里做买办、喜欢人们唤他jimmy的张吉民，外表时髦、骨子里守旧的董斜川，“对雌雄性别，最有研究”的青年哲学家褚慎明，满肚子不老实、自我标榜是“新古典主义”的诗人曹元朗，以及暗中把方鸿渐当做情敌、枉费了心思的赵辛楣，甚至还有生得漂亮、头脑乖巧的唐晓芙等等，他们都在作者笔下显示了各自的性格和色相。他们宴饮会客、谈诗论文以及各种应酬交际是那样的内心空虚、百无聊赖以及庸俗不堪，这种生活不会培植健康的爱情，更不会培植健康的理想，本身就是一个有待冲破的“围城”。

第五章可以算作第二个单元，是“过渡性”或“衔接性”的。在这个单元中，在个人生活上分别吃了败仗的方鸿渐和赵辛楣，从“爱情”牢笼中冲了出来，他们由假想的情敌变为真正的挚友，共同到湖南平成三闾大学谋事。作者在这一单元里，还为下一单元的闹剧准备了新角色：未来三闾大学的训导长李梅亭，副教授顾尔谦和青年助教孙柔嘉。他们和方、赵结伴由沪启航南下，组成了一个临时的“小社会”。发生在这个“小社会”里的种种矛盾困扰和嬉戏调侃，以及沿途的所见所闻，构成了小说所描绘的现实主义画面的十分精彩的一部分。

第六、七章是第三个单元，主要描写三闾大学里的明争暗斗。我们这里所选的第六章是这个单元之中的重场戏。上自校长、训导长、各系主任，下至职员、学生、甚至还有家属，都卷入了一场令人头晕目眩的人事纠纷。职业上的排挤，情场上的竞争，堂而皇之的例行公事，见不得人的谣诼诽谤、阴谋诡计，一时间三闾大学成了竞相逐鹿的舞台。一些学者文士粉墨登场，他们之中有李梅亭那样满口仁义道德、满腹男盗女娼的半旧遗老，也有韩学愈那样外形木讷、内心龌龊、伪造学历、招摇撞骗的假洋博士；有高松年那样道貌岸然、老奸巨猾、口称维护教育尊严、其实却是酒色之徒的伪君子，也有汪处厚那样依附官僚、谋取职位、意在结党自固、终于自蹈覆辙的阿木林；有陆子潇、顾尔谦那样一心攀龙附凤、专事吹拍、浅薄猥琐的势利小人，也有范懿、汪太太那样虽然混迹学府、却只在情场上显露头角、推波助澜的名门女士。总之，活跃在这“新儒林”里的各色人等，虽然用不着再把八股文当做敲门砖，却都扯起一面自认为是最漂亮的旗帜，将真面目掩盖起来，施出周身解数去追求新的晋身之阶，仿佛自然界的动物蒙上保护色，追求自身的发展一样。自然，他们之中也还有没耗尽两肩正气的某些较好的人物，如虽则荒唐、孟浪，到底还有一些责任感的：方鸿渐、赵辛楣，娇弱深沉、很有心计的孙柔嘉等等。这些人物，或像方鸿渐，不失为“可造之才”，或像赵辛楣，终竟有一技之长；或像孙柔嘉，是思虑周密、深藏韬略的女中强者──他们在好的社会里，完全有可能发展为出类拔萃的人才；但在那些乌烟瘴气的环境里，由于缺乏明确的人生目标，倒像十九世纪俄罗斯文学中的“多余人”那样，让社会的惰力抵消掉了他们的聪明才智。

第八、九章是第四个单元。方鸿渐和孙柔嘉在返回上海途中结了婚。这对双方来说，都不能算做令人激动的结合，加以失业造成的对于前途的焦虑，使他们婚后不断发生争吵。这种争吵在返沪途中还较为单纯，定居上海后，由于双方家庭和亲族的介入，矛盾更复杂了；在婆媳、翁婿、妯娌、亲朋、乃至主仆之间，一度曾发生了一系列龃龉和纠纷。最后，方、孙的矛盾终因前者辞去报馆资料室主任而面临再次失业时激化了。方鸿渐刚刚建立起来的新家解体，他再次冲出一个“围城”，又来到一个“围城”的入口──他打算投奔在重庆当官的赵辛楣谋取职业，这肯定也是一条前途未卜的坎坷不平的道路。小说在一阵老式自鸣钟的“当、当……”声中结束。像过去一切杰出的现实主义作品一样，它没有提供什么关于社会和人生出路的明确结论，但他描写的生活本身，“深于一切语言，一切啼笑”。
		</string>
	</dict>
	<key>30</key>
	<dict>
		<key>Title</key>
		<string>红顶商人</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Hongdingshangren.png</string>
		<key>Description</key>
		<string>播讲:王刚</string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Hongdingshangren_SongList.plist</string>
		<key>ShortName</key>
		<string>hongdingshangren</string>
		<key>Artist</key>
		<string>未知</string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string>Xiaoshuo</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>31</key>
	<dict>
		<key>Title</key>
		<string>都市特种兵</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Dushitezhongbing.png</string>
		<key>Description</key>
		<string>起点网经典名著 </string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Dushitezhongbing_SongList.plist</string>
		<key>ShortName</key>
		<string>Dushitezhongbing</string>
		<key>Artist</key>
		<string></string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string>Xiaoshuo</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>32</key>
	<dict>
		<key>Title</key>
		<string>蜗居</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Woju.png</string>
		<key>Description</key>
		<string></string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Woju_SongList.plist</string>
		<key>ShortName</key>
		<string>Woju</string>
		<key>Artist</key>
		<string></string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string>Xiaoshuo</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>33</key>
	<dict>
		<key>Title</key>
		<string>许三观卖血记</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Xusanguan.png</string>
		<key>Description</key>
		<string></string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Xusanguan_SongList.plist</string>
		<key>ShortName</key>
		<string>Xusanguan</string>
		<key>Artist</key>
		<string></string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string>Xiaoshuo</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>34</key>
	<dict>
		<key>Title</key>
		<string>何以笙箫默</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Heyishengxiaomo.png</string>
		<key>Description</key>
		<string>既然琴瑟起 何以笙箫默</string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Heyishengxiaomo_SongList.plist</string>
		<key>ShortName</key>
		<string>Heyishengxiaomo</string>
		<key>Artist</key>
		<string></string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string>Xiaoshuo</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>35</key>
	<dict>
		<key>Title</key>
		<string>步步惊心</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Bubujingxin.png</string>
		<key>Description</key>
		<string></string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Bubujingxin_SongList.plist</string>
		<key>ShortName</key>
		<string>Bubujingxin</string>
		<key>Artist</key>
		<string></string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string>Xiaoshuo</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>36</key>
	<dict>
		<key>Title</key>
		<string>穆斯林的葬礼</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Musilindezangli.png</string>
		<key>Description</key>
		<string></string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Musilindezangli_SongList.plist</string>
		<key>ShortName</key>
		<string>Musilindezangli</string>
		<key>Artist</key>
		<string></string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string>Xiaoshuo</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>37</key>
	<dict>
		<key>Title</key>
		<string>致我们终将逝去的青春</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Qingchun.png</string>
		<key>Description</key>
		<string></string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Qingchun_SongList.plist</string>
		<key>ShortName</key>
		<string>Qingchun</string>
		<key>Artist</key>
		<string></string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string>Xiaoshuo</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>38</key>
	<dict>
		<key>Title</key>
		<string>圈子圈套</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Quanziquantao.png</string>
		<key>Description</key>
		<string>职场战斗宝典</string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Quanziquantao_SongList.plist</string>
		<key>ShortName</key>
		<string>Quanziquantao</string>
		<key>Artist</key>
		<string>未知</string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string>Xiaoshuo</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>39</key>
	<dict>
		<key>Title</key>
		<string>超级公务员</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Chaojigongwuyuan.png</string>
		<key>Description</key>
		<string>官场正能量</string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Chaojigongwuyuan_SongList.plist</string>
		<key>ShortName</key>
		<string>Chaojigongwuyuan</string>
		<key>Artist</key>
		<string>未知</string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string>Xiaoshuo</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>40</key>
	<dict>
		<key>Title</key>
		<string>国家干部</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Guojiaganbu.png</string>
		<key>Description</key>
		<string>播讲：仲维维 纪实文学</string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Guojiaganbu_SongList.plist</string>
		<key>ShortName</key>
		<string>Guojiaganbu</string>
		<key>Artist</key>
		<string>未知</string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string>Xiaoshuo</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>41</key>
	<dict>
		<key>Title</key>
		<string>狼图腾</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Langtuteng.png</string>
		<key>Description</key>
		<string>播讲:马长辉</string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Langtuteng_SongList.plist</string>
		<key>ShortName</key>
		<string>Langtuteng</string>
		<key>Artist</key>
		<string></string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string>Xiaoshuo</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>42</key>
	<dict>
		<key>Title</key>
		<string>首席医官</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Shouxiyiguan.png</string>
		<key>Description</key>
		<string>起点热门小说</string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Shouxiyiguan_SongList.plist</string>
		<key>ShortName</key>
		<string>Shouxiyiguan</string>
		<key>Artist</key>
		<string></string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string>Xiaoshuo</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>43</key>
	<dict>
		<key>Title</key>
		<string>鬼吹灯</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Guichuideng.png</string>
		<key>Description</key>
		<string>艾宝良播讲</string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Guichuideng_SongList.plist</string>
		<key>ShortName</key>
		<string>Guichuideng</string>
		<key>Artist</key>
		<string></string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string>Xiaoshuo</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>44</key>
	<dict>
		<key>Title</key>
		<string>谜踪之国</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Mizongzhiguo.png</string>
		<key>Description</key>
		<string>艾宝良播讲</string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Mizongzhiguo_SongList.plist</string>
		<key>ShortName</key>
		<string>Mizongzhiguo</string>
		<key>Artist</key>
		<string></string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string>Xiaoshuo</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>45</key>
	<dict>
		<key>Title</key>
		<string>怒江之战</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Nujiangzhizhan.png</string>
		<key>Description</key>
		<string>南派三叔 完结作品 解密二战</string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Nujiangzhizhan_SongList.plist</string>
		<key>ShortName</key>
		<string>Nujiangzhizhan</string>
		<key>Artist</key>
		<string></string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string>Xiaoshuo</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>46</key>
	<dict>
		<key>Title</key>
		<string>沉船</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Chenchuan.png</string>
		<key>Description</key>
		<string>诺贝尔文学奖作品 仲维维播讲</string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Chenchuan_SongList.plist</string>
		<key>ShortName</key>
		<string>Chenchuan</string>
		<key>Artist</key>
		<string></string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string>Xiaoshuo</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>47</key>
	<dict>
		<key>Title</key>
		<string>福尔摩斯探案集</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Fuermosi.png</string>
		<key>Description</key>
		<string>经典的探案故事</string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Fuermosi_SongList.plist</string>
		<key>ShortName</key>
		<string>Fuermosi</string>
		<key>Artist</key>
		<string></string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string>Xiaoshuo</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>48</key>
	<dict>
		<key>Title</key>
		<string>侠客行</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Xiakexing.png</string>
		<key>Description</key>
		<string>仲维维 播讲</string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Xiakexing_SongList.plist</string>
		<key>ShortName</key>
		<string>Xiakexing</string>
		<key>Artist</key>
		<string></string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string>Xiaoshuo</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>49</key>
	<dict>
		<key>Title</key>
		<string>和空姐同居的日子</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Kongjietongju.png</string>
		<key>Description</key>
		<string>作者 三十</string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Kongjietongju_SongList.plist</string>
		<key>ShortName</key>
		<string>Kongjietongju</string>
		<key>Artist</key>
		<string>未知</string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string>Xiaoshuo</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>50</key>
	<dict>
		<key>Title</key>
		<string>大漠苍狼</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Damocanglang.png</string>
		<key>Description</key>
		<string>青雪播音 南派三叔作品</string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Damocanglang_SongList.plist</string>
		<key>ShortName</key>
		<string>Damocanglang</string>
		<key>Artist</key>
		<string>未知</string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string>Xiaoshuo</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>51</key>
	<dict>
		<key>Title</key>
		<string>匆匆那年</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Congcongnanian.png</string>
		<key>Description</key>
		<string>播讲: 张磊，石颖寒</string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Congcongnanian_SongList.plist</string>
		<key>ShortName</key>
		<string>congcongnanian</string>
		<key>Artist</key>
		<string>张磊</string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string>Xiaoshuo</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>52</key>
	<dict>
		<key>Title</key>
		<string>仙侠奇缘 花千骨</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Huaqiangu.png</string>
		<key>Description</key>
		<string>演播：筱梦 布兰德</string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Huaqiangu_SongList.plist</string>
		<key>ShortName</key>
		<string>Huaqiangu</string>
		<key>Artist</key>
		<string>未知</string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string>Xiaoshuo</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>53</key>
	<dict>
		<key>Title</key>
		<string>最后一个道士 青雪版</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Zuihouyigedaoshi.png</string>
		<key>Description</key>
		<string>青雪</string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Zuihouyigedaoshi_SongList.plist</string>
		<key>ShortName</key>
		<string>Zuihouyigedaoshi</string>
		<key>Artist</key>
		<string>未知</string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string>Xiaoshuo</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>54</key>
	<dict>
		<key>Title</key>
		<string>股浪语</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Gulangyu.png</string>
		<key>Description</key>
		<string>股市的善恶美丑</string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Gulangyu_SongList.plist</string>
		<key>ShortName</key>
		<string>Gulangyu</string>
		<key>Artist</key>
		<string>未知</string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string>Xiaoshuo</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>55</key>
	<dict>
		<key>Title</key>
		<string>黄金瞳</string>
		<key>ImageURL</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Huangjintong.png</string>
		<key>Description</key>
		<string>作者：打眼 起点网经典名著 </string>
		<key>SongList</key>
		<string>http://www.zhaoxiangyu.com/Daoting/Xiaoshuo/Huangjintong_SongList.plist</string>
		<key>ShortName</key>
		<string>Huangjintong</string>
		<key>Artist</key>
		<string></string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string>Xiaoshuo</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
</dict>
</plist>
