<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>Title</key>
		<string>雍正剑侠图 第一部</string>
		<key>ImageURL</key>
		<string>http://182.254.148.156/Daoting/Pingshu/Yongzheng1.png</string>
		<key>Description</key>
		<string>播讲:王玥波 1至44回 电台整合版</string>
		<key>SongList</key>
		<string>http://182.254.148.156/Daoting/Pingshu/Yongzheng1_SongList.plist</string>
		<key>ShortName</key>
		<string>Yongzheng1</string>
		<key>Artist</key>
		<string>王玥波</string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string>PingShu</string>
		<key>LongDescription</key>
		<string>《雍正剑侠图》又名《童林传》，由清末民初评书艺人常杰淼于20世纪20年代在天津创作的评书作品。
常杰淼习武嗜酒，性格豪爽，结交绿林豪杰。书中有大量比较真实的武术、江湖绿林道描写；常还惯于引经据典，夹叙夹评，又熟悉老北京民俗与风土人情，能够“武书文说”，把剑侠图说成学问书。“剑侠图”是因为常曾在书中提到“康熙六十一年武英殿御览群侠图”而得名。
该书大概以八卦掌祖师董海川为原型，同时受到清中叶以来流传于民间的雍正改昭篡位、结交绿林、被刺等故事启发，塑造出童林这一书胆人物。讲述康熙末年，京南霸北童家庄童林童海川误伤老父，出走江西，受高人传授，十五年昼夜苦功、习得“柳叶绵丝磨身掌”绝艺，奉师命下山“另兴一家武术”。京城偶遇雍亲王胤禛（后来的雍正皇帝），做了武术教师，却因初涉江湖得罪绿林。

王玥波，爱称王三皮，1978年生于北京，自幼学习评书、相声等多门曲艺艺术，曾拜马增锟学习评书，拜赵小林学习相声，拜章学楷学习联珠快书。全总文工团（原在煤矿文工团）说唱演员，在宣南书馆、崇文书馆均为创业元老，女评书第一人连丽如夫妇之义子。播讲过《聊斋》、《隋唐》、《雍正剑侠图》、《侠义英雄传》等多部评书。2012年8月7日王玥波在京成立个人工作室。
		</string>
	</dict>
	<key>2</key>
	<dict>
		<key>Title</key>
		<string>雍正剑侠图 第二部</string>
		<key>ImageURL</key>
		<string>http://182.254.148.156/Daoting/Pingshu/Yongzheng2.png</string>
		<key>Description</key>
		<string>播讲:王玥波 45至118回 电台整合版</string>
		<key>SongList</key>
		<string>http://182.254.148.156/Daoting/Pingshu/Yongzheng2_SongList.plist</string>
		<key>ShortName</key>
		<string>Yongzheng2</string>
		<key>Artist</key>
		<string>王玥波</string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string></string>
		<key>LongDescription</key>
		<string>《雍正剑侠图》又名《童林传》，由清末民初评书艺人常杰淼于20世纪20年代在天津创作的评书作品。
常杰淼习武嗜酒，性格豪爽，结交绿林豪杰。书中有大量比较真实的武术、江湖绿林道描写；常还惯于引经据典，夹叙夹评，又熟悉老北京民俗与风土人情，能够“武书文说”，把剑侠图说成学问书。“剑侠图”是因为常曾在书中提到“康熙六十一年武英殿御览群侠图”而得名。
该书大概以八卦掌祖师董海川为原型，同时受到清中叶以来流传于民间的雍正改昭篡位、结交绿林、被刺等故事启发，塑造出童林这一书胆人物。讲述康熙末年，京南霸北童家庄童林童海川误伤老父，出走江西，受高人传授，十五年昼夜苦功、习得“柳叶绵丝磨身掌”绝艺，奉师命下山“另兴一家武术”。京城偶遇雍亲王胤禛（后来的雍正皇帝），做了武术教师，却因初涉江湖得罪绿林。

王玥波，爱称王三皮，1978年生于北京，自幼学习评书、相声等多门曲艺艺术，曾拜马增锟学习评书，拜赵小林学习相声，拜章学楷学习联珠快书。全总文工团（原在煤矿文工团）说唱演员，在宣南书馆、崇文书馆均为创业元老，女评书第一人连丽如夫妇之义子。播讲过《聊斋》、《隋唐》、《雍正剑侠图》、《侠义英雄传》等多部评书。2012年8月7日王玥波在京成立个人工作室。
		</string>
	</dict>
	<key>3</key>
	<dict>
		<key>Title</key>
		<string>雍正剑侠图 第三部</string>
		<key>ImageURL</key>
		<string>http://182.254.148.156/Daoting/Pingshu/Yongzheng3.png</string>
		<key>Description</key>
		<string>播讲:王玥波 119至163回 电台整合版</string>
		<key>SongList</key>
		<string>http://182.254.148.156/Daoting/Pingshu/Yongzheng3_SongList.plist</string>
		<key>ShortName</key>
		<string>Yongzheng3</string>
		<key>Artist</key>
		<string>王玥波</string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string></string>
		<key>LongDescription</key>
		<string>《雍正剑侠图》又名《童林传》，由清末民初评书艺人常杰淼于20世纪20年代在天津创作的评书作品。
常杰淼习武嗜酒，性格豪爽，结交绿林豪杰。书中有大量比较真实的武术、江湖绿林道描写；常还惯于引经据典，夹叙夹评，又熟悉老北京民俗与风土人情，能够“武书文说”，把剑侠图说成学问书。“剑侠图”是因为常曾在书中提到“康熙六十一年武英殿御览群侠图”而得名。
该书大概以八卦掌祖师董海川为原型，同时受到清中叶以来流传于民间的雍正改昭篡位、结交绿林、被刺等故事启发，塑造出童林这一书胆人物。讲述康熙末年，京南霸北童家庄童林童海川误伤老父，出走江西，受高人传授，十五年昼夜苦功、习得“柳叶绵丝磨身掌”绝艺，奉师命下山“另兴一家武术”。京城偶遇雍亲王胤禛（后来的雍正皇帝），做了武术教师，却因初涉江湖得罪绿林。

王玥波，爱称王三皮，1978年生于北京，自幼学习评书、相声等多门曲艺艺术，曾拜马增锟学习评书，拜赵小林学习相声，拜章学楷学习联珠快书。全总文工团（原在煤矿文工团）说唱演员，在宣南书馆、崇文书馆均为创业元老，女评书第一人连丽如夫妇之义子。播讲过《聊斋》、《隋唐》、《雍正剑侠图》、《侠义英雄传》等多部评书。2012年8月7日王玥波在京成立个人工作室。
		</string>
	</dict>
	<key>4</key>
	<dict>
		<key>Title</key>
		<string>[每天更新]雍正剑侠图 第四部</string>
		<key>ImageURL</key>
		<string>http://182.254.148.156/Daoting/Pingshu/Yongzheng4.png</string>
		<key>Description</key>
		<string>播讲:王玥波 正在直播</string>
		<key>SongList</key>
		<string>http://182.254.148.156/Daoting/Pingshu/Yongzheng4_SongList.plist</string>
		<key>ShortName</key>
		<string>Yongzheng4</string>
		<key>Artist</key>
		<string>王玥波</string>
		<key>UpdatingStatus</key>
		<string>Updating</string>
		<key>Category</key>
		<string></string>
		<key>LongDescription</key>
		<string>《雍正剑侠图》又名《童林传》，由清末民初评书艺人常杰淼于20世纪20年代在天津创作的评书作品。
常杰淼习武嗜酒，性格豪爽，结交绿林豪杰。书中有大量比较真实的武术、江湖绿林道描写；常还惯于引经据典，夹叙夹评，又熟悉老北京民俗与风土人情，能够“武书文说”，把剑侠图说成学问书。“剑侠图”是因为常曾在书中提到“康熙六十一年武英殿御览群侠图”而得名。
该书大概以八卦掌祖师董海川为原型，同时受到清中叶以来流传于民间的雍正改昭篡位、结交绿林、被刺等故事启发，塑造出童林这一书胆人物。讲述康熙末年，京南霸北童家庄童林童海川误伤老父，出走江西，受高人传授，十五年昼夜苦功、习得“柳叶绵丝磨身掌”绝艺，奉师命下山“另兴一家武术”。京城偶遇雍亲王胤禛（后来的雍正皇帝），做了武术教师，却因初涉江湖得罪绿林。

王玥波，爱称王三皮，1978年生于北京，自幼学习评书、相声等多门曲艺艺术，曾拜马增锟学习评书，拜赵小林学习相声，拜章学楷学习联珠快书。全总文工团（原在煤矿文工团）说唱演员，在宣南书馆、崇文书馆均为创业元老，女评书第一人连丽如夫妇之义子。播讲过《聊斋》、《隋唐》、《雍正剑侠图》、《侠义英雄传》等多部评书。2012年8月7日王玥波在京成立个人工作室。
		</string>
	</dict>
	<key>5</key>
	<dict>
		<key>Title</key>
		<string>西游记 吴荻</string>
		<key>ImageURL</key>
		<string>http://182.254.148.156/Daoting/Pingshu/Xiyouji.png</string>
		<key>Description</key>
		<string>播讲:吴荻 共127回 电台录音版</string>
		<key>SongList</key>
		<string>http://182.254.148.156/Daoting/Pingshu/Xiyouji_SongList.plist</string>
		<key>ShortName</key>
		<string>Xiyouji</string>
		<key>Artist</key>
		<string>吴荻</string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string></string>
		<key>LongDescription</key>
		<string>吴荻 著名人物为评书表演艺术家。1974年1月8日生于北京，自幼习书画，酷爱中国传统文化，喜唱京剧及白派京韵。现就职于北京师范大学附属实验中学，任美术教师，多年来致力于传统文化的传播与发展，将传统文化艺术教育（如京剧、昆曲、曲艺等）寓于授课之中，广受学生好评。

2007年6月2日，拜著名评书表演艺术家、连派评书传人、评书名家连丽如为师，学习继承北京评书艺术。师兄弟六人中排行老大。

2008年春节期间正月初三首次登台演出，五官俊秀，台风儒雅。

拜师不到一年，就在宣南书馆登台演出《借东风》、《衣带诏》、《张松献地图》、《曹操与杨修》等《三国》名篇片段，2008年底在宣南书馆开讲长篇评书《刘公案》，受到观众的好评和喜爱。

2010年1月3日，北京评书东城书馆在东城区文化馆新张开业，登台接演《后部刘公案》。

2010年4月，中央人民广播电台文艺之声播出短篇评书《佐连成告状》。

2010年5月，于东城书馆开始演出长篇评书《三国演义》，为“连派三国”第三代传人。

他首创“大美术课”理念，将戏曲、曲艺、美术、音乐、舞蹈融于日常美术教学之中，率先进行综合性艺术教育实践，成为美术教师讲京剧第一人。他创办了北师大附属实验中学艺术馆，成为第一家中学博物馆。他的美术教学连续多年广受好评，被学生评为“我心中最喜欢的老师”。美术教室“澄观堂”成为实验中学的文化符号。
2013年起，于北师大附属实验中学演出长篇评书《西游记》。
		</string>
	</dict>
	<key>6</key>
	<dict>
		<key>Title</key>
		<string>薛礼征东 电台版</string>
		<key>ImageURL</key>
		<string>http://182.254.148.156/Daoting/Pingshu/Zhengdong.png</string>
		<key>Description</key>
		<string>播讲:王玥波 全本共152回 电台录音版</string>
		<key>SongList</key>
		<string>http://182.254.148.156/Daoting/Pingshu/Zhengdong_SongList.plist</string>
		<key>ShortName</key>
		<string>Zhengdong</string>
		<key>Artist</key>
		<string>王玥波</string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string></string>
		<key>LongDescription</key>
		<string>[全本]共计141回本书已完结，请继续关注大波新书，《薛丁山征西》。
本应用是由北京相声评书演员王玥波播讲的《薛礼征东》，全部为电台版录音。美中不足的是，电台版录音相比现场版有删节，且141回之后的续集没有收录。

很久以前，民间就流传着唐二主征东或薛仁贵征东的故事。唐二主即唐太宗，薛仁贵则是唐初有名的军事将领。唐太宗为了收复辽东，统一天下，征讨盖苏文弑逆，援救新罗，曾三次出兵征讨高句丽。至唐高宗总章元年(公元668年) 薛仁贵等率兵攻下平壤城，俘虏高句丽王高藏，高句丽灭亡。唐在高句丽故地设置9个都督府、42个州、100个县，设安东都护府统辖，以左武卫将军薛仁贵总兵镇之。

王玥波，爱称王三皮，1978年生于北京，自幼学习评书、相声等多门曲艺艺术，曾拜马增锟学习评书，拜赵小林学习相声，拜章学楷学习联珠快书。全总文工团（原在煤矿文工团）说唱演员，在宣南书馆、崇文书馆均为创业元老，女评书第一人连丽如夫妇之义子。播讲过《聊斋》、《隋唐》、《雍正剑侠图》、《侠义英雄传》等多部评书。2012年8月7日王玥波在京成立个人工作室。
		</string>
	</dict>
</dict>
</plist>
