<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>Duration</key>
		<string>01:02:17</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>60</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>雍正剑侠图</string>
		<key>Url</key>
		<string>http://yongzheng4.qiniudn.com/%E9%9B%8D%E6%AD%A3%E5%89%91%E4%BE%A0%E5%9B%BE001.mp3</string>
	</dict>
	<key>2</key>
	<dict>
		<key>Duration</key>
		<string>01:02:17</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>60</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>雍正剑侠图</string>
		<key>Url</key>
		<string>http://yongzheng4.qiniudn.com/%E9%9B%8D%E6%AD%A3%E5%89%91%E4%BE%A0%E5%9B%BE002.mp3</string>
	</dict>
	<key>3</key>
	<dict>
		<key>Duration</key>
		<string>01:02:17</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>60</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>雍正剑侠图</string>
		<key>Url</key>
		<string>http://yongzheng4.qiniudn.com/%E9%9B%8D%E6%AD%A3%E5%89%91%E4%BE%A0%E5%9B%BE003.mp3</string>
	</dict>
	<key>4</key>
	<dict>
		<key>Duration</key>
		<string>01:02:17</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>60</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>雍正剑侠图</string>
		<key>Url</key>
		<string>http://yongzheng4.qiniudn.com/%E9%9B%8D%E6%AD%A3%E5%89%91%E4%BE%A0%E5%9B%BE004.mp3</string>
	</dict>
	<key>5</key>
	<dict>
		<key>Duration</key>
		<string>01:02:17</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>60</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>雍正剑侠图</string>
		<key>Url</key>
		<string>http://yongzheng4.qiniudn.com/%E9%9B%8D%E6%AD%A3%E5%89%91%E4%BE%A0%E5%9B%BE005.mp3</string>
	</dict>
	<key>6</key>
	<dict>
		<key>Duration</key>
		<string>01:02:17</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>60</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>雍正剑侠图</string>
		<key>Url</key>
		<string>http://yongzheng4.qiniudn.com/%E9%9B%8D%E6%AD%A3%E5%89%91%E4%BE%A0%E5%9B%BE006.mp3</string>
	</dict>
	<key>7</key>
	<dict>
		<key>Duration</key>
		<string>01:02:17</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>60</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>雍正剑侠图</string>
		<key>Url</key>
		<string>http://yongzheng4.qiniudn.com/%E9%9B%8D%E6%AD%A3%E5%89%91%E4%BE%A0%E5%9B%BE007.mp3</string>
	</dict>
	<key>8</key>
	<dict>
		<key>Duration</key>
		<string>01:02:17</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>60</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>雍正剑侠图</string>
		<key>Url</key>
		<string>http://yongzheng4.qiniudn.com/%E9%9B%8D%E6%AD%A3%E5%89%91%E4%BE%A0%E5%9B%BE008.mp3</string>
	</dict>
	<key>9</key>
	<dict>
		<key>Duration</key>
		<string>01:02:17</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>60</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>雍正剑侠图</string>
		<key>Url</key>
		<string>http://yongzheng4.qiniudn.com/%E9%9B%8D%E6%AD%A3%E5%89%91%E4%BE%A0%E5%9B%BE009.mp3</string>
	</dict>
	<key>10</key>
	<dict>
		<key>Duration</key>
		<string>01:02:17</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>60</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>雍正剑侠图</string>
		<key>Url</key>
		<string>http://yongzheng4.qiniudn.com/%E9%9B%8D%E6%AD%A3%E5%89%91%E4%BE%A0%E5%9B%BE010.mp3</string>
	</dict>
	<key>11</key>
	<dict>
		<key>Duration</key>
		<string>01:02:17</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>60</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>雍正剑侠图</string>
		<key>Url</key>
		<string>http://yongzheng4.qiniudn.com/%E9%9B%8D%E6%AD%A3%E5%89%91%E4%BE%A0%E5%9B%BE011.mp3</string>
	</dict>
	<key>12</key>
	<dict>
		<key>Duration</key>
		<string>01:02:17</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>60</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>雍正剑侠图</string>
		<key>Url</key>
		<string>http://yongzheng4.qiniudn.com/%E9%9B%8D%E6%AD%A3%E5%89%91%E4%BE%A0%E5%9B%BE012.mp3</string>
	</dict>
	<key>13</key>
	<dict>
		<key>Duration</key>
		<string>01:02:17</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>60</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>雍正剑侠图</string>
		<key>Url</key>
		<string>http://yongzheng4.qiniudn.com/%E9%9B%8D%E6%AD%A3%E5%89%91%E4%BE%A0%E5%9B%BE013.mp3</string>
	</dict>
	<key>14</key>
	<dict>
		<key>Duration</key>
		<string>01:02:17</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>60</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>雍正剑侠图</string>
		<key>Url</key>
		<string>http://yongzheng4.qiniudn.com/%E9%9B%8D%E6%AD%A3%E5%89%91%E4%BE%A0%E5%9B%BE014.mp3</string>
	</dict>
</dict>
</plist>
