<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>Url</key>
		<string>http://bcs.duapp.com/zhangguangtai/%E5%BC%A0%E5%B9%BF%E6%B3%B0%E5%9B%9E%E5%AE%B601.mp3</string>
		<key>Title</key>
		<string>张广泰回家</string>
		<key>Duration</key>
		<string></string>
	</dict>
	<key>2</key>
	<dict>
		<key>Url</key>
		<string>http://bcs.duapp.com/zhangguangtai/%E5%BC%A0%E5%B9%BF%E6%B3%B0%E5%9B%9E%E5%AE%B602.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>张广泰回家</string>
	</dict>
	<key>3</key>
	<dict>
		<key>Url</key>
		<string>http://bcs.duapp.com/zhangguangtai/%E5%BC%A0%E5%B9%BF%E6%B3%B0%E5%9B%9E%E5%AE%B603.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>张广泰回家</string>
	</dict>
	<key>4</key>
	<dict>
		<key>Url</key>
		<string>http://bcs.duapp.com/zhangguangtai/%E5%BC%A0%E5%B9%BF%E6%B3%B0%E5%9B%9E%E5%AE%B604.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>张广泰回家</string>
	</dict>
	<key>5</key>
	<dict>
		<key>Url</key>
		<string>http://bcs.duapp.com/zhangguangtai/%E5%BC%A0%E5%B9%BF%E6%B3%B0%E5%9B%9E%E5%AE%B605.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>张广泰回家</string>
	</dict>
	<key>6</key>
	<dict>
		<key>Url</key>
		<string>http://bcs.duapp.com/zhangguangtai/%E5%BC%A0%E5%B9%BF%E6%B3%B0%E5%9B%9E%E5%AE%B606.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>张广泰回家</string>
	</dict>
	<key>7</key>
	<dict>
		<key>Url</key>
		<string>http://bcs.duapp.com/zhangguangtai/%E5%BC%A0%E5%B9%BF%E6%B3%B0%E5%9B%9E%E5%AE%B607.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>张广泰回家</string>
	</dict>
	<key>8</key>
	<dict>
		<key>Url</key>
		<string>http://bcs.duapp.com/zhangguangtai/%E5%BC%A0%E5%B9%BF%E6%B3%B0%E5%9B%9E%E5%AE%B608.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>张广泰回家</string>
	</dict>
	<key>9</key>
	<dict>
		<key>Url</key>
		<string>http://bcs.duapp.com/zhangguangtai/%E5%BC%A0%E5%B9%BF%E6%B3%B0%E5%9B%9E%E5%AE%B609.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>张广泰回家</string>
	</dict>
	<key>10</key>
	<dict>
		<key>Url</key>
		<string>http://bcs.duapp.com/zhangguangtai/%E5%BC%A0%E5%B9%BF%E6%B3%B0%E5%9B%9E%E5%AE%B610.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>张广泰回家</string>
	</dict>
	<key>11</key>
	<dict>
		<key>Url</key>
		<string>http://bcs.duapp.com/zhangguangtai/%E5%BC%A0%E5%B9%BF%E6%B3%B0%E5%9B%9E%E5%AE%B611.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>张广泰回家</string>
	</dict>
	<key>12</key>
	<dict>
		<key>Url</key>
		<string>http://bcs.duapp.com/zhangguangtai/%E5%BC%A0%E5%B9%BF%E6%B3%B0%E5%9B%9E%E5%AE%B612.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>张广泰回家</string>
	</dict>
	<key>13</key>
	<dict>
		<key>Url</key>
		<string>http://bcs.duapp.com/zhangguangtai/%E5%BC%A0%E5%B9%BF%E6%B3%B0%E5%9B%9E%E5%AE%B613.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>张广泰回家</string>
	</dict>
	<key>14</key>
	<dict>
		<key>Url</key>
		<string>http://bcs.duapp.com/zhangguangtai/%E5%BC%A0%E5%B9%BF%E6%B3%B0%E5%9B%9E%E5%AE%B614.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>张广泰回家</string>
	</dict>
	<key>15</key>
	<dict>
		<key>Url</key>
		<string>http://bcs.duapp.com/zhangguangtai/%E5%BC%A0%E5%B9%BF%E6%B3%B0%E5%9B%9E%E5%AE%B615.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>张广泰回家</string>
	</dict>
	<key>16</key>
	<dict>
		<key>Url</key>
		<string>http://bcs.duapp.com/zhangguangtai/%E5%BC%A0%E5%B9%BF%E6%B3%B0%E5%9B%9E%E5%AE%B616.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>张广泰回家</string>
	</dict>
	<key>17</key>
	<dict>
		<key>Url</key>
		<string>http://bcs.duapp.com/zhangguangtai/%E5%BC%A0%E5%B9%BF%E6%B3%B0%E5%9B%9E%E5%AE%B617.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>张广泰回家</string>
	</dict>
	<key>18</key>
	<dict>
		<key>Url</key>
		<string>http://bcs.duapp.com/zhangguangtai/%E5%BC%A0%E5%B9%BF%E6%B3%B0%E5%9B%9E%E5%AE%B618.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>张广泰回家</string>
	</dict>
	<key>19</key>
	<dict>
		<key>Url</key>
		<string>http://bcs.duapp.com/zhangguangtai/%E5%BC%A0%E5%B9%BF%E6%B3%B0%E5%9B%9E%E5%AE%B619.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>张广泰回家</string>
	</dict>
	<key>20</key>
	<dict>
		<key>Url</key>
		<string>http://bcs.duapp.com/zhangguangtai/%E5%BC%A0%E5%B9%BF%E6%B3%B0%E5%9B%9E%E5%AE%B620.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>张广泰回家</string>
	</dict>
	<key>21</key>
	<dict>
		<key>Url</key>
		<string>http://bcs.duapp.com/zhangguangtai/%E5%BC%A0%E5%B9%BF%E6%B3%B0%E5%9B%9E%E5%AE%B621.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>张广泰回家</string>
	</dict>
	<key>22</key>
	<dict>
		<key>Url</key>
		<string>http://bcs.duapp.com/zhangguangtai/%E5%BC%A0%E5%B9%BF%E6%B3%B0%E5%9B%9E%E5%AE%B622.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>张广泰回家</string>
	</dict>
	<key>23</key>
	<dict>
		<key>Url</key>
		<string>http://bcs.duapp.com/zhangguangtai/%E5%BC%A0%E5%B9%BF%E6%B3%B0%E5%9B%9E%E5%AE%B623.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>张广泰回家</string>
	</dict>
	<key>24</key>
	<dict>
		<key>Url</key>
		<string>http://bcs.duapp.com/zhangguangtai/%E5%BC%A0%E5%B9%BF%E6%B3%B0%E5%9B%9E%E5%AE%B624.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>张广泰回家</string>
	</dict>
	<key>25</key>
	<dict>
		<key>Url</key>
		<string>http://bcs.duapp.com/zhangguangtai/%E5%BC%A0%E5%B9%BF%E6%B3%B0%E5%9B%9E%E5%AE%B625.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>张广泰回家</string>
	</dict>
	<key>26</key>
	<dict>
		<key>Url</key>
		<string>http://bcs.duapp.com/zhangguangtai/%E5%BC%A0%E5%B9%BF%E6%B3%B0%E5%9B%9E%E5%AE%B626.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>张广泰回家</string>
	</dict>
	<key>27</key>
	<dict>
		<key>Url</key>
		<string>http://bcs.duapp.com/zhangguangtai/%E5%BC%A0%E5%B9%BF%E6%B3%B0%E5%9B%9E%E5%AE%B627.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>张广泰回家</string>
	</dict>
	<key>28</key>
	<dict>
		<key>Url</key>
		<string>http://bcs.duapp.com/zhangguangtai/%E5%BC%A0%E5%B9%BF%E6%B3%B0%E5%9B%9E%E5%AE%B628.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>张广泰回家</string>
	</dict>
	<key>29</key>
	<dict>
		<key>Url</key>
		<string>http://bcs.duapp.com/zhangguangtai/%E5%BC%A0%E5%B9%BF%E6%B3%B0%E5%9B%9E%E5%AE%B629.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>张广泰回家</string>
	</dict>
	<key>30</key>
	<dict>
		<key>Url</key>
		<string>http://bcs.duapp.com/zhangguangtai/%E5%BC%A0%E5%B9%BF%E6%B3%B0%E5%9B%9E%E5%AE%B630.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>张广泰回家</string>
	</dict>
	<key>31</key>
	<dict>
		<key>Url</key>
		<string>http://bcs.duapp.com/zhangguangtai/%E5%BC%A0%E5%B9%BF%E6%B3%B0%E5%9B%9E%E5%AE%B631.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>张广泰回家</string>
	</dict>
	<key>32</key>
	<dict>
		<key>Url</key>
		<string>http://bcs.duapp.com/zhangguangtai/%E5%BC%A0%E5%B9%BF%E6%B3%B0%E5%9B%9E%E5%AE%B632.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>张广泰回家</string>
	</dict>
	<key>33</key>
	<dict>
		<key>Url</key>
		<string>http://bcs.duapp.com/zhangguangtai/%E5%BC%A0%E5%B9%BF%E6%B3%B0%E5%9B%9E%E5%AE%B633.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>张广泰回家</string>
	</dict>
	<key>34</key>
	<dict>
		<key>Url</key>
		<string>http://bcs.duapp.com/zhangguangtai/%E5%BC%A0%E5%B9%BF%E6%B3%B0%E5%9B%9E%E5%AE%B634.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>张广泰回家</string>
	</dict>
	<key>35</key>
	<dict>
		<key>Url</key>
		<string>http://bcs.duapp.com/zhangguangtai/%E5%BC%A0%E5%B9%BF%E6%B3%B0%E5%9B%9E%E5%AE%B635.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>张广泰回家</string>
	</dict>
	<key>36</key>
	<dict>
		<key>Url</key>
		<string>http://bcs.duapp.com/zhangguangtai/%E5%BC%A0%E5%B9%BF%E6%B3%B0%E5%9B%9E%E5%AE%B636.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>张广泰回家</string>
	</dict>
	<key>37</key>
	<dict>
		<key>Url</key>
		<string>http://bcs.duapp.com/zhangguangtai/%E5%BC%A0%E5%B9%BF%E6%B3%B0%E5%9B%9E%E5%AE%B637.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>张广泰回家</string>
	</dict>
	<key>38</key>
	<dict>
		<key>Url</key>
		<string>http://bcs.duapp.com/zhangguangtai/%E5%BC%A0%E5%B9%BF%E6%B3%B0%E5%9B%9E%E5%AE%B638.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>张广泰回家</string>
	</dict>
	<key>39</key>
	<dict>
		<key>Url</key>
		<string>http://bcs.duapp.com/zhangguangtai/%E5%BC%A0%E5%B9%BF%E6%B3%B0%E5%9B%9E%E5%AE%B639.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>张广泰回家</string>
	</dict>
	<key>40</key>
	<dict>
		<key>Url</key>
		<string>http://bcs.duapp.com/zhangguangtai/%E5%BC%A0%E5%B9%BF%E6%B3%B0%E5%9B%9E%E5%AE%B640.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>张广泰回家</string>
	</dict>
	<key>41</key>
	<dict>
		<key>Url</key>
		<string>http://bcs.duapp.com/zhangguangtai/%E5%BC%A0%E5%B9%BF%E6%B3%B0%E5%9B%9E%E5%AE%B641.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>张广泰回家</string>
	</dict>
	<key>42</key>
	<dict>
		<key>Url</key>
		<string>http://bcs.duapp.com/zhangguangtai/%E5%BC%A0%E5%B9%BF%E6%B3%B0%E5%9B%9E%E5%AE%B642.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>张广泰回家</string>
	</dict>
	<key>43</key>
	<dict>
		<key>Url</key>
		<string>http://bcs.duapp.com/zhangguangtai/%E5%BC%A0%E5%B9%BF%E6%B3%B0%E5%9B%9E%E5%AE%B643.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>张广泰回家</string>
	</dict>
	<key>44</key>
	<dict>
		<key>Url</key>
		<string>http://bcs.duapp.com/zhangguangtai/%E5%BC%A0%E5%B9%BF%E6%B3%B0%E5%9B%9E%E5%AE%B644.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>张广泰回家</string>
	</dict>
	<key>45</key>
	<dict>
		<key>Url</key>
		<string>http://bcs.duapp.com/zhangguangtai/%E5%BC%A0%E5%B9%BF%E6%B3%B0%E5%9B%9E%E5%AE%B645.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>张广泰回家</string>
	</dict>
	<key>46</key>
	<dict>
		<key>Url</key>
		<string>http://bcs.duapp.com/zhangguangtai/%E5%BC%A0%E5%B9%BF%E6%B3%B0%E5%9B%9E%E5%AE%B646.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>张广泰回家</string>
	</dict>
	<key>47</key>
	<dict>
		<key>Url</key>
		<string>http://bcs.duapp.com/zhangguangtai/%E5%BC%A0%E5%B9%BF%E6%B3%B0%E5%9B%9E%E5%AE%B647.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>张广泰回家</string>
	</dict>
	<key>48</key>
	<dict>
		<key>Url</key>
		<string>http://bcs.duapp.com/zhangguangtai/%E5%BC%A0%E5%B9%BF%E6%B3%B0%E5%9B%9E%E5%AE%B648.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>张广泰回家</string>
	</dict>
	<key>49</key>
	<dict>
		<key>Url</key>
		<string>http://bcs.duapp.com/zhangguangtai/%E5%BC%A0%E5%B9%BF%E6%B3%B0%E5%9B%9E%E5%AE%B649.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>张广泰回家</string>
	</dict>
	<key>50</key>
	<dict>
		<key>Url</key>
		<string>http://bcs.duapp.com/zhangguangtai/%E5%BC%A0%E5%B9%BF%E6%B3%B0%E5%9B%9E%E5%AE%B650.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>张广泰回家</string>
	</dict>
	<key>51</key>
	<dict>
		<key>Url</key>
		<string>http://bcs.duapp.com/zhangguangtai/%E5%BC%A0%E5%B9%BF%E6%B3%B0%E5%9B%9E%E5%AE%B651.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>张广泰回家</string>
	</dict>
	<key>52</key>
	<dict>
		<key>Url</key>
		<string>http://bcs.duapp.com/zhangguangtai/%E5%BC%A0%E5%B9%BF%E6%B3%B0%E5%9B%9E%E5%AE%B652.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>张广泰回家</string>
	</dict>
	<key>53</key>
	<dict>
		<key>Url</key>
		<string>http://bcs.duapp.com/zhangguangtai/%E5%BC%A0%E5%B9%BF%E6%B3%B0%E5%9B%9E%E5%AE%B653.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>张广泰回家</string>
	</dict>
	<key>54</key>
	<dict>
		<key>Url</key>
		<string>http://bcs.duapp.com/zhangguangtai/%E5%BC%A0%E5%B9%BF%E6%B3%B0%E5%9B%9E%E5%AE%B654.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>张广泰回家</string>
	</dict>
	<key>55</key>
	<dict>
		<key>Url</key>
		<string>http://bcs.duapp.com/zhangguangtai/%E5%BC%A0%E5%B9%BF%E6%B3%B0%E5%9B%9E%E5%AE%B655.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>张广泰回家</string>
	</dict>
	<key>56</key>
	<dict>
		<key>Url</key>
		<string>http://bcs.duapp.com/zhangguangtai/%E5%BC%A0%E5%B9%BF%E6%B3%B0%E5%9B%9E%E5%AE%B656.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>张广泰回家</string>
	</dict>
	<key>57</key>
	<dict>
		<key>Url</key>
		<string>http://bcs.duapp.com/zhangguangtai/%E5%BC%A0%E5%B9%BF%E6%B3%B0%E5%9B%9E%E5%AE%B657.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>张广泰回家</string>
	</dict>
	<key>58</key>
	<dict>
		<key>Url</key>
		<string>http://bcs.duapp.com/zhangguangtai/%E5%BC%A0%E5%B9%BF%E6%B3%B0%E5%9B%9E%E5%AE%B658.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>张广泰回家</string>
	</dict>
	<key>59</key>
	<dict>
		<key>Url</key>
		<string>http://bcs.duapp.com/zhangguangtai/%E5%BC%A0%E5%B9%BF%E6%B3%B0%E5%9B%9E%E5%AE%B659.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>张广泰回家</string>
	</dict>
	<key>60</key>
	<dict>
		<key>Url</key>
		<string>http://bcs.duapp.com/zhangguangtai/%E5%BC%A0%E5%B9%BF%E6%B3%B0%E5%9B%9E%E5%AE%B660.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>张广泰回家</string>
	</dict>
	<key>61</key>
	<dict>
		<key>Url</key>
		<string>http://bcs.duapp.com/zhangguangtai/%E5%BC%A0%E5%B9%BF%E6%B3%B0%E5%9B%9E%E5%AE%B661.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>张广泰回家</string>
	</dict>
	<key>62</key>
	<dict>
		<key>Url</key>
		<string>http://bcs.duapp.com/zhangguangtai/%E5%BC%A0%E5%B9%BF%E6%B3%B0%E5%9B%9E%E5%AE%B662.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>张广泰回家</string>
	</dict>
	<key>63</key>
	<dict>
		<key>Url</key>
		<string>http://bcs.duapp.com/zhangguangtai/%E5%BC%A0%E5%B9%BF%E6%B3%B0%E5%9B%9E%E5%AE%B663.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>张广泰回家</string>
	</dict>
	<key>64</key>
	<dict>
		<key>Url</key>
		<string>http://bcs.duapp.com/zhangguangtai/%E5%BC%A0%E5%B9%BF%E6%B3%B0%E5%9B%9E%E5%AE%B664.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>张广泰回家</string>
	</dict>
	<key>65</key>
	<dict>
		<key>Url</key>
		<string>http://bcs.duapp.com/zhangguangtai/%E5%BC%A0%E5%B9%BF%E6%B3%B0%E5%9B%9E%E5%AE%B665.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>张广泰回家</string>
	</dict>
	<key>66</key>
	<dict>
		<key>Url</key>
		<string>http://bcs.duapp.com/zhangguangtai/%E5%BC%A0%E5%B9%BF%E6%B3%B0%E5%9B%9E%E5%AE%B666.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>张广泰回家</string>
	</dict>
	<key>67</key>
	<dict>
		<key>Url</key>
		<string>http://bcs.duapp.com/zhangguangtai/%E5%BC%A0%E5%B9%BF%E6%B3%B0%E5%9B%9E%E5%AE%B667.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>张广泰回家</string>
	</dict>
	<key>68</key>
	<dict>
		<key>Url</key>
		<string>http://bcs.duapp.com/zhangguangtai/%E5%BC%A0%E5%B9%BF%E6%B3%B0%E5%9B%9E%E5%AE%B668.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>张广泰回家</string>
	</dict>
	<key>69</key>
	<dict>
		<key>Url</key>
		<string>http://bcs.duapp.com/zhangguangtai/%E5%BC%A0%E5%B9%BF%E6%B3%B0%E5%9B%9E%E5%AE%B669.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>张广泰回家</string>
	</dict>
	<key>70</key>
	<dict>
		<key>Url</key>
		<string>http://bcs.duapp.com/zhangguangtai/%E5%BC%A0%E5%B9%BF%E6%B3%B0%E5%9B%9E%E5%AE%B670.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>张广泰回家</string>
	</dict>
	<key>71</key>
	<dict>
		<key>Url</key>
		<string>http://bcs.duapp.com/zhangguangtai/%E5%BC%A0%E5%B9%BF%E6%B3%B0%E5%9B%9E%E5%AE%B671.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>张广泰回家</string>
	</dict>
	<key>72</key>
	<dict>
		<key>Url</key>
		<string>http://bcs.duapp.com/zhangguangtai/%E5%BC%A0%E5%B9%BF%E6%B3%B0%E5%9B%9E%E5%AE%B672.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>张广泰回家</string>
	</dict>
	<key>73</key>
	<dict>
		<key>Url</key>
		<string>http://bcs.duapp.com/zhangguangtai/%E5%BC%A0%E5%B9%BF%E6%B3%B0%E5%9B%9E%E5%AE%B673.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>张广泰回家</string>
	</dict>
	<key>74</key>
	<dict>
		<key>Url</key>
		<string>http://bcs.duapp.com/zhangguangtai/%E5%BC%A0%E5%B9%BF%E6%B3%B0%E5%9B%9E%E5%AE%B674.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>张广泰回家</string>
	</dict>
	<key>75</key>
	<dict>
		<key>Url</key>
		<string>http://bcs.duapp.com/zhangguangtai/%E5%BC%A0%E5%B9%BF%E6%B3%B0%E5%9B%9E%E5%AE%B675.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>张广泰回家</string>
	</dict>
	<key>76</key>
	<dict>
		<key>Url</key>
		<string>http://bcs.duapp.com/zhangguangtai/%E5%BC%A0%E5%B9%BF%E6%B3%B0%E5%9B%9E%E5%AE%B676.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>张广泰回家</string>
	</dict>
	<key>77</key>
	<dict>
		<key>Url</key>
		<string>http://bcs.duapp.com/zhangguangtai/%E5%BC%A0%E5%B9%BF%E6%B3%B0%E5%9B%9E%E5%AE%B677.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>张广泰回家</string>
	</dict>
	<key>78</key>
	<dict>
		<key>Url</key>
		<string>http://bcs.duapp.com/zhangguangtai/%E5%BC%A0%E5%B9%BF%E6%B3%B0%E5%9B%9E%E5%AE%B678.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>张广泰回家</string>
	</dict>
	<key>79</key>
	<dict>
		<key>Url</key>
		<string>http://bcs.duapp.com/zhangguangtai/%E5%BC%A0%E5%B9%BF%E6%B3%B0%E5%9B%9E%E5%AE%B679.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>张广泰回家</string>
	</dict>
	<key>80</key>
	<dict>
		<key>Url</key>
		<string>http://bcs.duapp.com/zhangguangtai/%E5%BC%A0%E5%B9%BF%E6%B3%B0%E5%9B%9E%E5%AE%B680.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>张广泰回家</string>
	</dict>
	<key>81</key>
	<dict>
		<key>Url</key>
		<string>http://bcs.duapp.com/zhangguangtai/%E5%BC%A0%E5%B9%BF%E6%B3%B0%E5%9B%9E%E5%AE%B681.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>张广泰回家</string>
	</dict>
	<key>82</key>
	<dict>
		<key>Url</key>
		<string>http://bcs.duapp.com/zhangguangtai/%E5%BC%A0%E5%B9%BF%E6%B3%B0%E5%9B%9E%E5%AE%B682.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>张广泰回家</string>
	</dict>
	<key>83</key>
	<dict>
		<key>Url</key>
		<string>http://bcs.duapp.com/zhangguangtai/%E5%BC%A0%E5%B9%BF%E6%B3%B0%E5%9B%9E%E5%AE%B683.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>张广泰回家</string>
	</dict>
	<key>84</key>
	<dict>
		<key>Url</key>
		<string>http://bcs.duapp.com/zhangguangtai/%E5%BC%A0%E5%B9%BF%E6%B3%B0%E5%9B%9E%E5%AE%B684.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>张广泰回家</string>
	</dict>
	<key>85</key>
	<dict>
		<key>Url</key>
		<string>http://bcs.duapp.com/zhangguangtai/%E5%BC%A0%E5%B9%BF%E6%B3%B0%E5%9B%9E%E5%AE%B685.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>张广泰回家</string>
	</dict>
	<key>86</key>
	<dict>
		<key>Url</key>
		<string>http://bcs.duapp.com/zhangguangtai/%E5%BC%A0%E5%B9%BF%E6%B3%B0%E5%9B%9E%E5%AE%B686.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>张广泰回家</string>
	</dict>
	<key>87</key>
	<dict>
		<key>Url</key>
		<string>http://bcs.duapp.com/zhangguangtai/%E5%BC%A0%E5%B9%BF%E6%B3%B0%E5%9B%9E%E5%AE%B687.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>张广泰回家</string>
	</dict>
	<key>88</key>
	<dict>
		<key>Url</key>
		<string>http://bcs.duapp.com/zhangguangtai/%E5%BC%A0%E5%B9%BF%E6%B3%B0%E5%9B%9E%E5%AE%B688.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>张广泰回家</string>
	</dict>
	<key>89</key>
	<dict>
		<key>Url</key>
		<string>http://bcs.duapp.com/zhangguangtai/%E5%BC%A0%E5%B9%BF%E6%B3%B0%E5%9B%9E%E5%AE%B689.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>张广泰回家</string>
	</dict>
	<key>90</key>
	<dict>
		<key>Url</key>
		<string>http://bcs.duapp.com/zhangguangtai/%E5%BC%A0%E5%B9%BF%E6%B3%B0%E5%9B%9E%E5%AE%B690.mp3</string>
		<key>Duration</key>
		<string></string>
		<key>Title</key>
		<string>张广泰回家</string>
	</dict>
</dict>
</plist>
