<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>Title</key>
		<string>晓说 第一季</string>
		<key>ImageURL</key>
		<string>http://182.254.148.156/Daoting/Zongyi/Xiaoshuo1.png</string>
		<key>Description</key>
		<string>高晓松</string>
		<key>SongList</key>
		<string>http://182.254.148.156/Daoting/Zongyi/Xiaoshuo1_SongList.plist</string>
		<key>ShortName</key>
		<string>Xiaoshuo1</string>
		<key>Artist</key>
		<string>高晓松</string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string>Zongyi</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
	<key>2</key>
	<dict>
		<key>Title</key>
		<string>晓说 第二季</string>
		<key>ImageURL</key>
		<string>http://182.254.148.156/Daoting/Zongyi/Xiaoshuo2.png</string>
		<key>Description</key>
		<string>高晓松</string>
		<key>SongList</key>
		<string>http://182.254.148.156/Daoting/Zongyi/Xiaoshuo2_SongList.plist</string>
		<key>ShortName</key>
		<string>Xiaoshuo2</string>
		<key>Artist</key>
		<string>高晓松</string>
		<key>UpdatingStatus</key>
		<string>Completed</string>
		<key>Category</key>
		<string>Zongyi</string>
		<key>LongDescription</key>
		<string></string>
	</dict>
</dict>
</plist>
