<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>Duration</key>
		<string>00:21:59</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string></string>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>Url</key>
		<string>http://bcs.duapp.com/mingchao/%E7%8E%8B%E7%8E%A5%E6%B3%A2_%E6%98%8E%E6%9C%9D%E9%82%A3%E4%BA%9B%E4%BA%8B%E7%AC%AC%E4%B8%80%E9%83%A8_01.mp3</string>
	</dict>
	<key>10</key>
	<dict>
		<key>Duration</key>
		<string>00:22:29</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string></string>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>Url</key>
		<string>http://bcs.duapp.com/mingchao/%E7%8E%8B%E7%8E%A5%E6%B3%A2_%E6%98%8E%E6%9C%9D%E9%82%A3%E4%BA%9B%E4%BA%8B%E7%AC%AC%E4%B8%80%E9%83%A8_10.mp3</string>
	</dict>
	<key>11</key>
	<dict>
		<key>Duration</key>
		<string>00:21:44</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string></string>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>Url</key>
		<string>http://bcs.duapp.com/mingchao/%E7%8E%8B%E7%8E%A5%E6%B3%A2_%E6%98%8E%E6%9C%9D%E9%82%A3%E4%BA%9B%E4%BA%8B%E7%AC%AC%E4%B8%80%E9%83%A8_11.mp3</string>
	</dict>
	<key>12</key>
	<dict>
		<key>Duration</key>
		<string>00:21:16</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string></string>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>Url</key>
		<string>http://bcs.duapp.com/mingchao/%E7%8E%8B%E7%8E%A5%E6%B3%A2_%E6%98%8E%E6%9C%9D%E9%82%A3%E4%BA%9B%E4%BA%8B%E7%AC%AC%E4%B8%80%E9%83%A8_12.mp3</string>
	</dict>
	<key>13</key>
	<dict>
		<key>Duration</key>
		<string>00:20:14</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string></string>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>Url</key>
		<string>http://bcs.duapp.com/mingchao/%E7%8E%8B%E7%8E%A5%E6%B3%A2_%E6%98%8E%E6%9C%9D%E9%82%A3%E4%BA%9B%E4%BA%8B%E7%AC%AC%E4%B8%80%E9%83%A8_13.mp3</string>
	</dict>
	<key>14</key>
	<dict>
		<key>Duration</key>
		<string>00:22:55</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string></string>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>Url</key>
		<string>http://bcs.duapp.com/mingchao/%E7%8E%8B%E7%8E%A5%E6%B3%A2_%E6%98%8E%E6%9C%9D%E9%82%A3%E4%BA%9B%E4%BA%8B%E7%AC%AC%E4%B8%80%E9%83%A8_14.mp3</string>
	</dict>
	<key>15</key>
	<dict>
		<key>Duration</key>
		<string>00:21:53</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string></string>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>Url</key>
		<string>http://bcs.duapp.com/mingchao/%E7%8E%8B%E7%8E%A5%E6%B3%A2_%E6%98%8E%E6%9C%9D%E9%82%A3%E4%BA%9B%E4%BA%8B%E7%AC%AC%E4%B8%80%E9%83%A8_15.mp3</string>
	</dict>
	<key>16</key>
	<dict>
		<key>Duration</key>
		<string>00:21:20</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string></string>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>Url</key>
		<string>http://bcs.duapp.com/mingchao/%E7%8E%8B%E7%8E%A5%E6%B3%A2_%E6%98%8E%E6%9C%9D%E9%82%A3%E4%BA%9B%E4%BA%8B%E7%AC%AC%E4%B8%80%E9%83%A8_16.mp3</string>
	</dict>
	<key>17</key>
	<dict>
		<key>Duration</key>
		<string>00:20:20</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string></string>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>Url</key>
		<string>http://bcs.duapp.com/mingchao/%E7%8E%8B%E7%8E%A5%E6%B3%A2_%E6%98%8E%E6%9C%9D%E9%82%A3%E4%BA%9B%E4%BA%8B%E7%AC%AC%E4%B8%80%E9%83%A8_17.mp3</string>
	</dict>
	<key>18</key>
	<dict>
		<key>Duration</key>
		<string>00:21:06</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string></string>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>Url</key>
		<string>http://bcs.duapp.com/mingchao/%E7%8E%8B%E7%8E%A5%E6%B3%A2_%E6%98%8E%E6%9C%9D%E9%82%A3%E4%BA%9B%E4%BA%8B%E7%AC%AC%E4%B8%80%E9%83%A8_18.mp3</string>
	</dict>
	<key>19</key>
	<dict>
		<key>Duration</key>
		<string>00:21:32</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string></string>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>Url</key>
		<string>http://bcs.duapp.com/mingchao/%E7%8E%8B%E7%8E%A5%E6%B3%A2_%E6%98%8E%E6%9C%9D%E9%82%A3%E4%BA%9B%E4%BA%8B%E7%AC%AC%E4%B8%80%E9%83%A8_19.mp3</string>
	</dict>
	<key>2</key>
	<dict>
		<key>Duration</key>
		<string>00:21:16</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string></string>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>Url</key>
		<string>http://bcs.duapp.com/mingchao/%E7%8E%8B%E7%8E%A5%E6%B3%A2_%E6%98%8E%E6%9C%9D%E9%82%A3%E4%BA%9B%E4%BA%8B%E7%AC%AC%E4%B8%80%E9%83%A8_02.mp3</string>
	</dict>
	<key>20</key>
	<dict>
		<key>Duration</key>
		<string>00:21:24</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string></string>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>Url</key>
		<string>http://bcs.duapp.com/mingchao/%E7%8E%8B%E7%8E%A5%E6%B3%A2_%E6%98%8E%E6%9C%9D%E9%82%A3%E4%BA%9B%E4%BA%8B%E7%AC%AC%E4%B8%80%E9%83%A8_20.mp3</string>
	</dict>
	<key>21</key>
	<dict>
		<key>Duration</key>
		<string>00:21:18</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string></string>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>Url</key>
		<string>http://bcs.duapp.com/mingchao/%E7%8E%8B%E7%8E%A5%E6%B3%A2_%E6%98%8E%E6%9C%9D%E9%82%A3%E4%BA%9B%E4%BA%8B%E7%AC%AC%E4%B8%80%E9%83%A8_21.mp3</string>
	</dict>
	<key>22</key>
	<dict>
		<key>Duration</key>
		<string>00:22:18</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string></string>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>Url</key>
		<string>http://bcs.duapp.com/mingchao/%E7%8E%8B%E7%8E%A5%E6%B3%A2_%E6%98%8E%E6%9C%9D%E9%82%A3%E4%BA%9B%E4%BA%8B%E7%AC%AC%E4%B8%80%E9%83%A8_22.mp3</string>
	</dict>
	<key>23</key>
	<dict>
		<key>Duration</key>
		<string>00:29:59</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string></string>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>Url</key>
		<string>http://bcs.duapp.com/mingchao/%E7%8E%8B%E7%8E%A5%E6%B3%A2_%E6%98%8E%E6%9C%9D%E9%82%A3%E4%BA%9B%E4%BA%8B%E7%AC%AC%E4%B8%80%E9%83%A8_23.mp3</string>
	</dict>
	<key>24</key>
	<dict>
		<key>Duration</key>
		<string>00:21:51</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string></string>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>Url</key>
		<string>http://bcs.duapp.com/mingchao/%E7%8E%8B%E7%8E%A5%E6%B3%A2_%E6%98%8E%E6%9C%9D%E9%82%A3%E4%BA%9B%E4%BA%8B%E7%AC%AC%E4%B8%80%E9%83%A8_24.mp3</string>
	</dict>
	<key>25</key>
	<dict>
		<key>Duration</key>
		<string>00:22:22</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string></string>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>Url</key>
		<string>http://bcs.duapp.com/mingchao/%E7%8E%8B%E7%8E%A5%E6%B3%A2_%E6%98%8E%E6%9C%9D%E9%82%A3%E4%BA%9B%E4%BA%8B%E7%AC%AC%E4%B8%80%E9%83%A8_25.mp3</string>
	</dict>
	<key>26</key>
	<dict>
		<key>Duration</key>
		<string>00:19:58</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string></string>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>Url</key>
		<string>http://bcs.duapp.com/mingchao/%E7%8E%8B%E7%8E%A5%E6%B3%A2_%E6%98%8E%E6%9C%9D%E9%82%A3%E4%BA%9B%E4%BA%8B%E7%AC%AC%E4%B8%80%E9%83%A8_26.mp3</string>
	</dict>
	<key>27</key>
	<dict>
		<key>Duration</key>
		<string>00:19:57</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string></string>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>Url</key>
		<string>http://bcs.duapp.com/mingchao/%E7%8E%8B%E7%8E%A5%E6%B3%A2_%E6%98%8E%E6%9C%9D%E9%82%A3%E4%BA%9B%E4%BA%8B%E7%AC%AC%E4%B8%80%E9%83%A8_27.mp3</string>
	</dict>
	<key>28</key>
	<dict>
		<key>Duration</key>
		<string>00:23:48</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string></string>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>Url</key>
		<string>http://bcs.duapp.com/mingchao/%E7%8E%8B%E7%8E%A5%E6%B3%A2_%E6%98%8E%E6%9C%9D%E9%82%A3%E4%BA%9B%E4%BA%8B%E7%AC%AC%E4%B8%80%E9%83%A8_28.mp3</string>
	</dict>
	<key>29</key>
	<dict>
		<key>Duration</key>
		<string>00:20:43</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string></string>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>Url</key>
		<string>http://bcs.duapp.com/mingchao/%E7%8E%8B%E7%8E%A5%E6%B3%A2_%E6%98%8E%E6%9C%9D%E9%82%A3%E4%BA%9B%E4%BA%8B%E7%AC%AC%E4%B8%80%E9%83%A8_29.mp3</string>
	</dict>
	<key>3</key>
	<dict>
		<key>Duration</key>
		<string>00:22:16</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string></string>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>Url</key>
		<string>http://bcs.duapp.com/mingchao/%E7%8E%8B%E7%8E%A5%E6%B3%A2_%E6%98%8E%E6%9C%9D%E9%82%A3%E4%BA%9B%E4%BA%8B%E7%AC%AC%E4%B8%80%E9%83%A8_03.mp3</string>
	</dict>
	<key>30</key>
	<dict>
		<key>Duration</key>
		<string>00:23:37</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string></string>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>Url</key>
		<string>http://bcs.duapp.com/mingchao/%E7%8E%8B%E7%8E%A5%E6%B3%A2_%E6%98%8E%E6%9C%9D%E9%82%A3%E4%BA%9B%E4%BA%8B%E7%AC%AC%E4%B8%80%E9%83%A8_30.mp3</string>
	</dict>
	<key>31</key>
	<dict>
		<key>Duration</key>
		<string>00:21:20</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string></string>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>Url</key>
		<string>http://bcs.duapp.com/mingchao/%E7%8E%8B%E7%8E%A5%E6%B3%A2_%E6%98%8E%E6%9C%9D%E9%82%A3%E4%BA%9B%E4%BA%8B%E7%AC%AC%E4%B8%80%E9%83%A8_31.mp3</string>
	</dict>
	<key>32</key>
	<dict>
		<key>Duration</key>
		<string>00:22:18</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string></string>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>Url</key>
		<string>http://bcs.duapp.com/mingchao/%E7%8E%8B%E7%8E%A5%E6%B3%A2_%E6%98%8E%E6%9C%9D%E9%82%A3%E4%BA%9B%E4%BA%8B%E7%AC%AC%E4%B8%80%E9%83%A8_32.mp3</string>
	</dict>
	<key>33</key>
	<dict>
		<key>Duration</key>
		<string>00:21:30</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string></string>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>Url</key>
		<string>http://bcs.duapp.com/mingchao/%E7%8E%8B%E7%8E%A5%E6%B3%A2_%E6%98%8E%E6%9C%9D%E9%82%A3%E4%BA%9B%E4%BA%8B%E7%AC%AC%E4%B8%80%E9%83%A8_33.mp3</string>
	</dict>
	<key>34</key>
	<dict>
		<key>Duration</key>
		<string>00:20:25</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string></string>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>Url</key>
		<string>http://bcs.duapp.com/mingchao/%E7%8E%8B%E7%8E%A5%E6%B3%A2_%E6%98%8E%E6%9C%9D%E9%82%A3%E4%BA%9B%E4%BA%8B%E7%AC%AC%E4%B8%80%E9%83%A8_34.mp3</string>
	</dict>
	<key>35</key>
	<dict>
		<key>Duration</key>
		<string>00:20:12</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string></string>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>Url</key>
		<string>http://bcs.duapp.com/mingchao/%E7%8E%8B%E7%8E%A5%E6%B3%A2_%E6%98%8E%E6%9C%9D%E9%82%A3%E4%BA%9B%E4%BA%8B%E7%AC%AC%E4%B8%80%E9%83%A8_35.mp3</string>
	</dict>
	<key>36</key>
	<dict>
		<key>Duration</key>
		<string>00:20:20</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string></string>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>Url</key>
		<string>http://bcs.duapp.com/mingchao/%E7%8E%8B%E7%8E%A5%E6%B3%A2_%E6%98%8E%E6%9C%9D%E9%82%A3%E4%BA%9B%E4%BA%8B%E7%AC%AC%E4%B8%80%E9%83%A8_36.mp3</string>
	</dict>
	<key>37</key>
	<dict>
		<key>Duration</key>
		<string>00:22:21</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string></string>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>Url</key>
		<string>http://bcs.duapp.com/mingchao/%E7%8E%8B%E7%8E%A5%E6%B3%A2_%E6%98%8E%E6%9C%9D%E9%82%A3%E4%BA%9B%E4%BA%8B%E7%AC%AC%E4%B8%80%E9%83%A8_37.mp3</string>
	</dict>
	<key>38</key>
	<dict>
		<key>Duration</key>
		<string>00:19:46</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string></string>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>Url</key>
		<string>http://bcs.duapp.com/mingchao/%E7%8E%8B%E7%8E%A5%E6%B3%A2_%E6%98%8E%E6%9C%9D%E9%82%A3%E4%BA%9B%E4%BA%8B%E7%AC%AC%E4%B8%80%E9%83%A8_38.mp3</string>
	</dict>
	<key>39</key>
	<dict>
		<key>Duration</key>
		<string>00:19:39</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string></string>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>Url</key>
		<string>http://bcs.duapp.com/mingchao/%E7%8E%8B%E7%8E%A5%E6%B3%A2_%E6%98%8E%E6%9C%9D%E9%82%A3%E4%BA%9B%E4%BA%8B%E7%AC%AC%E4%B8%80%E9%83%A8_39.mp3</string>
	</dict>
	<key>4</key>
	<dict>
		<key>Duration</key>
		<string>00:21:49</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string></string>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>Url</key>
		<string>http://bcs.duapp.com/mingchao/%E7%8E%8B%E7%8E%A5%E6%B3%A2_%E6%98%8E%E6%9C%9D%E9%82%A3%E4%BA%9B%E4%BA%8B%E7%AC%AC%E4%B8%80%E9%83%A8_04.mp3</string>
	</dict>
	<key>40</key>
	<dict>
		<key>Duration</key>
		<string>00:20:18</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string></string>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>Url</key>
		<string>http://bcs.duapp.com/mingchao/%E7%8E%8B%E7%8E%A5%E6%B3%A2_%E6%98%8E%E6%9C%9D%E9%82%A3%E4%BA%9B%E4%BA%8B%E7%AC%AC%E4%B8%80%E9%83%A8_40.mp3</string>
	</dict>
	<key>41</key>
	<dict>
		<key>Duration</key>
		<string>00:21:44</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string></string>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>Url</key>
		<string>http://bcs.duapp.com/mingchao/%E7%8E%8B%E7%8E%A5%E6%B3%A2_%E6%98%8E%E6%9C%9D%E9%82%A3%E4%BA%9B%E4%BA%8B%E7%AC%AC%E4%B8%80%E9%83%A8_41.mp3</string>
	</dict>
	<key>42</key>
	<dict>
		<key>Duration</key>
		<string>00:20:46</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string></string>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>Url</key>
		<string>http://bcs.duapp.com/mingchao/%E7%8E%8B%E7%8E%A5%E6%B3%A2_%E6%98%8E%E6%9C%9D%E9%82%A3%E4%BA%9B%E4%BA%8B%E7%AC%AC%E4%B8%80%E9%83%A8_42.mp3</string>
	</dict>
	<key>43</key>
	<dict>
		<key>Duration</key>
		<string>00:20:50</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string></string>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>Url</key>
		<string>http://bcs.duapp.com/mingchao/%E7%8E%8B%E7%8E%A5%E6%B3%A2_%E6%98%8E%E6%9C%9D%E9%82%A3%E4%BA%9B%E4%BA%8B%E7%AC%AC%E4%B8%80%E9%83%A8_43.mp3</string>
	</dict>
	<key>44</key>
	<dict>
		<key>Duration</key>
		<string>00:22:36</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string></string>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>Url</key>
		<string>http://bcs.duapp.com/mingchao/%E7%8E%8B%E7%8E%A5%E6%B3%A2_%E6%98%8E%E6%9C%9D%E9%82%A3%E4%BA%9B%E4%BA%8B%E7%AC%AC%E4%B8%80%E9%83%A8_44.mp3</string>
	</dict>
	<key>45</key>
	<dict>
		<key>Duration</key>
		<string>00:22:36</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string></string>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>Url</key>
		<string>http://bcs.duapp.com/mingchao/%E7%8E%8B%E7%8E%A5%E6%B3%A2_%E6%98%8E%E6%9C%9D%E9%82%A3%E4%BA%9B%E4%BA%8B%E7%AC%AC%E4%B8%80%E9%83%A8_44.mp3</string>
	</dict>
	<key>46</key>
	<dict>
		<key>Duration</key>
		<string>00:19:58</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string></string>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>Url</key>
		<string>http://bcs.duapp.com/mingchao/%E7%8E%8B%E7%8E%A5%E6%B3%A2_%E6%98%8E%E6%9C%9D%E9%82%A3%E4%BA%9B%E4%BA%8B%E7%AC%AC%E4%B8%80%E9%83%A8_46.mp3</string>
	</dict>
	<key>47</key>
	<dict>
		<key>Duration</key>
		<string>00:20:21</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string></string>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>Url</key>
		<string>http://bcs.duapp.com/mingchao/%E7%8E%8B%E7%8E%A5%E6%B3%A2_%E6%98%8E%E6%9C%9D%E9%82%A3%E4%BA%9B%E4%BA%8B%E7%AC%AC%E4%B8%80%E9%83%A8_47.mp3</string>
	</dict>
	<key>48</key>
	<dict>
		<key>Duration</key>
		<string>00:20:14</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string></string>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>Url</key>
		<string>http://bcs.duapp.com/mingchao/%E7%8E%8B%E7%8E%A5%E6%B3%A2_%E6%98%8E%E6%9C%9D%E9%82%A3%E4%BA%9B%E4%BA%8B%E7%AC%AC%E4%B8%80%E9%83%A8_48.mp3</string>
	</dict>
	<key>49</key>
	<dict>
		<key>Duration</key>
		<string>00:22:09</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string></string>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>Url</key>
		<string>http://bcs.duapp.com/mingchao/%E7%8E%8B%E7%8E%A5%E6%B3%A2_%E6%98%8E%E6%9C%9D%E9%82%A3%E4%BA%9B%E4%BA%8B%E7%AC%AC%E4%B8%80%E9%83%A8_49.mp3</string>
	</dict>
	<key>5</key>
	<dict>
		<key>Duration</key>
		<string>00:20:50</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string></string>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>Url</key>
		<string>http://bcs.duapp.com/mingchao/%E7%8E%8B%E7%8E%A5%E6%B3%A2_%E6%98%8E%E6%9C%9D%E9%82%A3%E4%BA%9B%E4%BA%8B%E7%AC%AC%E4%B8%80%E9%83%A8_05.mp3</string>
	</dict>
	<key>50</key>
	<dict>
		<key>Duration</key>
		<string>00:21:08</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string></string>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>Url</key>
		<string>http://bcs.duapp.com/mingchao/%E7%8E%8B%E7%8E%A5%E6%B3%A2_%E6%98%8E%E6%9C%9D%E9%82%A3%E4%BA%9B%E4%BA%8B%E7%AC%AC%E4%B8%80%E9%83%A8_50.mp3</string>
	</dict>
	<key>51</key>
	<dict>
		<key>Duration</key>
		<string>00:21:20</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string></string>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>Url</key>
		<string>http://bcs.duapp.com/mingchao/%E7%8E%8B%E7%8E%A5%E6%B3%A2_%E6%98%8E%E6%9C%9D%E9%82%A3%E4%BA%9B%E4%BA%8B%E7%AC%AC%E4%B8%80%E9%83%A8_51.mp3</string>
	</dict>
	<key>52</key>
	<dict>
		<key>Duration</key>
		<string>00:21:24</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string></string>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>Url</key>
		<string>http://bcs.duapp.com/mingchao/%E7%8E%8B%E7%8E%A5%E6%B3%A2_%E6%98%8E%E6%9C%9D%E9%82%A3%E4%BA%9B%E4%BA%8B%E7%AC%AC%E4%B8%80%E9%83%A8_52.mp3</string>
	</dict>
	<key>53</key>
	<dict>
		<key>Duration</key>
		<string>00:20:02</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string></string>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>Url</key>
		<string>http://bcs.duapp.com/mingchao/%E7%8E%8B%E7%8E%A5%E6%B3%A2_%E6%98%8E%E6%9C%9D%E9%82%A3%E4%BA%9B%E4%BA%8B%E7%AC%AC%E4%B8%80%E9%83%A8_53.mp3</string>
	</dict>
	<key>54</key>
	<dict>
		<key>Duration</key>
		<string>00:21:30</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string></string>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>Url</key>
		<string>http://bcs.duapp.com/mingchao/%E7%8E%8B%E7%8E%A5%E6%B3%A2_%E6%98%8E%E6%9C%9D%E9%82%A3%E4%BA%9B%E4%BA%8B%E7%AC%AC%E4%B8%80%E9%83%A8_54.mp3</string>
	</dict>
	<key>55</key>
	<dict>
		<key>Duration</key>
		<string>00:20:50</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string></string>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>Url</key>
		<string>http://bcs.duapp.com/mingchao/%E7%8E%8B%E7%8E%A5%E6%B3%A2_%E6%98%8E%E6%9C%9D%E9%82%A3%E4%BA%9B%E4%BA%8B%E7%AC%AC%E4%B8%80%E9%83%A8_55.mp3</string>
	</dict>
	<key>56</key>
	<dict>
		<key>Duration</key>
		<string>00:19:24</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string></string>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>Url</key>
		<string>http://bcs.duapp.com/mingchao/%E7%8E%8B%E7%8E%A5%E6%B3%A2_%E6%98%8E%E6%9C%9D%E9%82%A3%E4%BA%9B%E4%BA%8B%E7%AC%AC%E4%B8%80%E9%83%A8_56.mp3</string>
	</dict>
	<key>6</key>
	<dict>
		<key>Duration</key>
		<string>00:23:16</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string></string>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>Url</key>
		<string>http://bcs.duapp.com/mingchao/%E7%8E%8B%E7%8E%A5%E6%B3%A2_%E6%98%8E%E6%9C%9D%E9%82%A3%E4%BA%9B%E4%BA%8B%E7%AC%AC%E4%B8%80%E9%83%A8_06.mp3</string>
	</dict>
	<key>7</key>
	<dict>
		<key>Duration</key>
		<string>00:22:59</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string></string>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>Url</key>
		<string>http://bcs.duapp.com/mingchao/%E7%8E%8B%E7%8E%A5%E6%B3%A2_%E6%98%8E%E6%9C%9D%E9%82%A3%E4%BA%9B%E4%BA%8B%E7%AC%AC%E4%B8%80%E9%83%A8_07.mp3</string>
	</dict>
	<key>8</key>
	<dict>
		<key>Duration</key>
		<string>00:22:23</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string></string>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>Url</key>
		<string>http://bcs.duapp.com/mingchao/%E7%8E%8B%E7%8E%A5%E6%B3%A2_%E6%98%8E%E6%9C%9D%E9%82%A3%E4%BA%9B%E4%BA%8B%E7%AC%AC%E4%B8%80%E9%83%A8_08.mp3</string>
	</dict>
	<key>9</key>
	<dict>
		<key>Duration</key>
		<string>00:20:43</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string></string>
		<key>Title</key>
		<string>明朝那些事</string>
		<key>Url</key>
		<string>http://bcs.duapp.com/mingchao/%E7%8E%8B%E7%8E%A5%E6%B3%A2_%E6%98%8E%E6%9C%9D%E9%82%A3%E4%BA%9B%E4%BA%8B%E7%AC%AC%E4%B8%80%E9%83%A8_09.mp3</string>
	</dict>
</dict>
</plist>
