<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>Duration</key>
		<string>00:22:17</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>20</string>
		<key>Title</key>
		<string>君臣斗</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://182.254.148.156/Junchendou/%E5%90%9B%E8%87%A3%E6%96%9701.mp3</string>
	</dict>
	<key>10</key>
	<dict>
		<key>Duration</key>
		<string>00:21:43</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>20</string>
		<key>Title</key>
		<string>君臣斗</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://182.254.148.156/Junchendou/%E5%90%9B%E8%87%A3%E6%96%9710.mp3</string>
	</dict>
	<key>11</key>
	<dict>
		<key>Duration</key>
		<string>00:22:07</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>20</string>
		<key>Title</key>
		<string>君臣斗</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://182.254.148.156/Junchendou/%E5%90%9B%E8%87%A3%E6%96%9711.mp3</string>
	</dict>
	<key>12</key>
	<dict>
		<key>Duration</key>
		<string>00:22:20</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>20</string>
		<key>Title</key>
		<string>君臣斗</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://182.254.148.156/Junchendou/%E5%90%9B%E8%87%A3%E6%96%9712.mp3</string>
	</dict>
	<key>13</key>
	<dict>
		<key>Duration</key>
		<string>00:22:15</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>20</string>
		<key>Title</key>
		<string>君臣斗</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://182.254.148.156/Junchendou/%E5%90%9B%E8%87%A3%E6%96%9713.mp3</string>
	</dict>
	<key>14</key>
	<dict>
		<key>Duration</key>
		<string>00:22:01</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>20</string>
		<key>Title</key>
		<string>君臣斗</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://182.254.148.156/Junchendou/%E5%90%9B%E8%87%A3%E6%96%9714.mp3</string>
	</dict>
	<key>15</key>
	<dict>
		<key>Duration</key>
		<string>00:22:12</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>20</string>
		<key>Title</key>
		<string>君臣斗</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://182.254.148.156/Junchendou/%E5%90%9B%E8%87%A3%E6%96%9715.mp3</string>
	</dict>
	<key>16</key>
	<dict>
		<key>Duration</key>
		<string>00:21:48</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>20</string>
		<key>Title</key>
		<string>君臣斗</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://182.254.148.156/Junchendou/%E5%90%9B%E8%87%A3%E6%96%9716.mp3</string>
	</dict>
	<key>17</key>
	<dict>
		<key>Duration</key>
		<string>00:22:09</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>20</string>
		<key>Title</key>
		<string>君臣斗</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://182.254.148.156/Junchendou/%E5%90%9B%E8%87%A3%E6%96%9717.mp3</string>
	</dict>
	<key>18</key>
	<dict>
		<key>Duration</key>
		<string>00:21:48</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>20</string>
		<key>Title</key>
		<string>君臣斗</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://182.254.148.156/Junchendou/%E5%90%9B%E8%87%A3%E6%96%9718.mp3</string>
	</dict>
	<key>19</key>
	<dict>
		<key>Duration</key>
		<string>00:22:14</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>20</string>
		<key>Title</key>
		<string>君臣斗</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://182.254.148.156/Junchendou/%E5%90%9B%E8%87%A3%E6%96%9719.mp3</string>
	</dict>
	<key>2</key>
	<dict>
		<key>Duration</key>
		<string>00:21:50</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>20</string>
		<key>Title</key>
		<string>君臣斗</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://182.254.148.156/Junchendou/%E5%90%9B%E8%87%A3%E6%96%9702.mp3</string>
	</dict>
	<key>20</key>
	<dict>
		<key>Duration</key>
		<string>00:22:03</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>20</string>
		<key>Title</key>
		<string>君臣斗</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://182.254.148.156/Junchendou/%E5%90%9B%E8%87%A3%E6%96%9720.mp3</string>
	</dict>
	<key>21</key>
	<dict>
		<key>Duration</key>
		<string>00:22:12</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>20</string>
		<key>Title</key>
		<string>君臣斗</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://182.254.148.156/Junchendou/%E5%90%9B%E8%87%A3%E6%96%9721.mp3</string>
	</dict>
	<key>22</key>
	<dict>
		<key>Duration</key>
		<string>00:22:03</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>20</string>
		<key>Title</key>
		<string>君臣斗</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://182.254.148.156/Junchendou/%E5%90%9B%E8%87%A3%E6%96%9722.mp3</string>
	</dict>
	<key>23</key>
	<dict>
		<key>Duration</key>
		<string>00:21:53</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>20</string>
		<key>Title</key>
		<string>君臣斗</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://182.254.148.156/Junchendou/%E5%90%9B%E8%87%A3%E6%96%9723.mp3</string>
	</dict>
	<key>24</key>
	<dict>
		<key>Duration</key>
		<string>00:22:02</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>20</string>
		<key>Title</key>
		<string>君臣斗</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://182.254.148.156/Junchendou/%E5%90%9B%E8%87%A3%E6%96%9724.mp3</string>
	</dict>
	<key>25</key>
	<dict>
		<key>Duration</key>
		<string>00:22:18</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>20</string>
		<key>Title</key>
		<string>君臣斗</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://182.254.148.156/Junchendou/%E5%90%9B%E8%87%A3%E6%96%9725.mp3</string>
	</dict>
	<key>26</key>
	<dict>
		<key>Duration</key>
		<string>00:22:29</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>20</string>
		<key>Title</key>
		<string>君臣斗</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://182.254.148.156/Junchendou/%E5%90%9B%E8%87%A3%E6%96%9726.mp3</string>
	</dict>
	<key>27</key>
	<dict>
		<key>Duration</key>
		<string>00:22:28</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>20</string>
		<key>Title</key>
		<string>君臣斗</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://182.254.148.156/Junchendou/%E5%90%9B%E8%87%A3%E6%96%9727.mp3</string>
	</dict>
	<key>28</key>
	<dict>
		<key>Duration</key>
		<string>01:02:17</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>20</string>
		<key>Title</key>
		<string>君臣斗</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://182.254.148.156/Junchendou/%E5%90%9B%E8%87%A3%E6%96%9728.mp3</string>
	</dict>
	<key>3</key>
	<dict>
		<key>Duration</key>
		<string>00:22:11</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>20</string>
		<key>Title</key>
		<string>君臣斗</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://182.254.148.156/Junchendou/%E5%90%9B%E8%87%A3%E6%96%9703.mp3</string>
	</dict>
	<key>4</key>
	<dict>
		<key>Duration</key>
		<string>00:22:02</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>20</string>
		<key>Title</key>
		<string>君臣斗</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://182.254.148.156/Junchendou/%E5%90%9B%E8%87%A3%E6%96%9704.mp3</string>
	</dict>
	<key>5</key>
	<dict>
		<key>Duration</key>
		<string>00:21:56</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>20</string>
		<key>Title</key>
		<string>君臣斗</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://182.254.148.156/Junchendou/%E5%90%9B%E8%87%A3%E6%96%9705.mp3</string>
	</dict>
	<key>6</key>
	<dict>
		<key>Duration</key>
		<string>00:22:08</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>20</string>
		<key>Title</key>
		<string>君臣斗</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://182.254.148.156/Junchendou/%E5%90%9B%E8%87%A3%E6%96%9706.mp3</string>
	</dict>
	<key>7</key>
	<dict>
		<key>Duration</key>
		<string>00:21:34</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>20</string>
		<key>Title</key>
		<string>君臣斗</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://182.254.148.156/Junchendou/%E5%90%9B%E8%87%A3%E6%96%9707.mp3</string>
	</dict>
	<key>8</key>
	<dict>
		<key>Duration</key>
		<string>00:21:25</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>20</string>
		<key>Title</key>
		<string>君臣斗</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://182.254.148.156/Junchendou/%E5%90%9B%E8%87%A3%E6%96%9708.mp3</string>
	</dict>
	<key>9</key>
	<dict>
		<key>Duration</key>
		<string>00:22:06</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>20</string>
		<key>Title</key>
		<string>君臣斗</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://182.254.148.156/Junchendou/%E5%90%9B%E8%87%A3%E6%96%9709.mp3</string>
	</dict>
	<key>29</key>
	<dict>
		<key>Duration</key>
		<string>00:21:46</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>20</string>
		<key>Title</key>
		<string>君臣斗</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://182.254.148.156/Junchendou/%E5%90%9B%E8%87%A3%E6%96%9729.mp3</string>
	</dict>
	<key>30</key>
	<dict>
		<key>Duration</key>
		<string>00:22:15</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>20</string>
		<key>Title</key>
		<string>君臣斗</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://182.254.148.156/Junchendou/%E5%90%9B%E8%87%A3%E6%96%9730.mp3</string>
	</dict>
	<key>31</key>
	<dict>
		<key>Duration</key>
		<string>00:21:46</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>20</string>
		<key>Title</key>
		<string>君臣斗</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://182.254.148.156/Junchendou/%E5%90%9B%E8%87%A3%E6%96%9731.mp3</string>
	</dict>
	<key>32</key>
	<dict>
		<key>Duration</key>
		<string>00:22:15</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>20</string>
		<key>Title</key>
		<string>君臣斗</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://182.254.148.156/Junchendou/%E5%90%9B%E8%87%A3%E6%96%9732.mp3</string>
	</dict>
	<key>33</key>
	<dict>
		<key>Duration</key>
		<string>00:21:24</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>20</string>
		<key>Title</key>
		<string>君臣斗</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://182.254.148.156/Junchendou/%E5%90%9B%E8%87%A3%E6%96%9733.mp3</string>
	</dict>
	<key>34</key>
	<dict>
		<key>Duration</key>
		<string>00:21:36</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>20</string>
		<key>Title</key>
		<string>君臣斗</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://182.254.148.156/Junchendou/%E5%90%9B%E8%87%A3%E6%96%9734.mp3</string>
	</dict>
	<key>35</key>
	<dict>
		<key>Duration</key>
		<string>00:21:36</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>20</string>
		<key>Title</key>
		<string>君臣斗</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://182.254.148.156/Junchendou/%E5%90%9B%E8%87%A3%E6%96%9735.mp3</string>
	</dict>
</dict>
</plist>
