<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>Duration</key>
		<string>00:23:30</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>10</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>双鞭记</string>
		<key>Url</key>
		<string>http://182.254.148.156/shuangbianji/001.mp3</string>
	</dict>
	<key>10</key>
	<dict>
		<key>Duration</key>
		<string>00:23:42</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>10</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>双鞭记</string>
		<key>Url</key>
		<string>http://182.254.148.156/shuangbianji/010.mp3</string>
	</dict>
	<key>100</key>
	<dict>
		<key>Duration</key>
		<string>00:24:05</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>10</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>双鞭记</string>
		<key>Url</key>
		<string>http://182.254.148.156/shuangbianji/100.mp3</string>
	</dict>
	<key>101</key>
	<dict>
		<key>Duration</key>
		<string>00:24:20</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>10</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>双鞭记</string>
		<key>Url</key>
		<string>http://182.254.148.156/shuangbianji/101.mp3</string>
	</dict>
	<key>102</key>
	<dict>
		<key>Duration</key>
		<string>00:23:51</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>10</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>双鞭记</string>
		<key>Url</key>
		<string>http://182.254.148.156/shuangbianji/102.mp3</string>
	</dict>
	<key>103</key>
	<dict>
		<key>Duration</key>
		<string>00:23:44</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>10</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>双鞭记</string>
		<key>Url</key>
		<string>http://182.254.148.156/shuangbianji/103.mp3</string>
	</dict>
	<key>104</key>
	<dict>
		<key>Duration</key>
		<string>00:24:14</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>10</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>双鞭记</string>
		<key>Url</key>
		<string>http://182.254.148.156/shuangbianji/104.mp3</string>
	</dict>
	<key>105</key>
	<dict>
		<key>Duration</key>
		<string>00:24:14</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>10</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>双鞭记</string>
		<key>Url</key>
		<string>http://182.254.148.156/shuangbianji/104.mp3</string>
	</dict>
	<key>11</key>
	<dict>
		<key>Duration</key>
		<string>00:23:32</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>10</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>双鞭记</string>
		<key>Url</key>
		<string>http://182.254.148.156/shuangbianji/011.mp3</string>
	</dict>
	<key>12</key>
	<dict>
		<key>Duration</key>
		<string>00:23:42</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>10</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>双鞭记</string>
		<key>Url</key>
		<string>http://182.254.148.156/shuangbianji/012.mp3</string>
	</dict>
	<key>13</key>
	<dict>
		<key>Duration</key>
		<string>00:23:32</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>10</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>双鞭记</string>
		<key>Url</key>
		<string>http://182.254.148.156/shuangbianji/013.mp3</string>
	</dict>
	<key>14</key>
	<dict>
		<key>Duration</key>
		<string>00:23:42</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>10</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>双鞭记</string>
		<key>Url</key>
		<string>http://182.254.148.156/shuangbianji/014.mp3</string>
	</dict>
	<key>15</key>
	<dict>
		<key>Duration</key>
		<string>00:23:53</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>10</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>双鞭记</string>
		<key>Url</key>
		<string>http://182.254.148.156/shuangbianji/015.mp3</string>
	</dict>
	<key>16</key>
	<dict>
		<key>Duration</key>
		<string>00:23:45</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>10</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>双鞭记</string>
		<key>Url</key>
		<string>http://182.254.148.156/shuangbianji/016.mp3</string>
	</dict>
	<key>17</key>
	<dict>
		<key>Duration</key>
		<string>00:23:38</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>10</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>双鞭记</string>
		<key>Url</key>
		<string>http://182.254.148.156/shuangbianji/017.mp3</string>
	</dict>
	<key>18</key>
	<dict>
		<key>Duration</key>
		<string>00:23:38</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>10</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>双鞭记</string>
		<key>Url</key>
		<string>http://182.254.148.156/shuangbianji/018.mp3</string>
	</dict>
	<key>19</key>
	<dict>
		<key>Duration</key>
		<string>00:23:48</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>10</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>双鞭记</string>
		<key>Url</key>
		<string>http://182.254.148.156/shuangbianji/019.mp3</string>
	</dict>
	<key>2</key>
	<dict>
		<key>Duration</key>
		<string>00:23:36</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>10</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>双鞭记</string>
		<key>Url</key>
		<string>http://182.254.148.156/shuangbianji/002.mp3</string>
	</dict>
	<key>20</key>
	<dict>
		<key>Duration</key>
		<string>00:23:29</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>10</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>双鞭记</string>
		<key>Url</key>
		<string>http://182.254.148.156/shuangbianji/020.mp3</string>
	</dict>
	<key>21</key>
	<dict>
		<key>Duration</key>
		<string>00:23:29</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>10</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>双鞭记</string>
		<key>Url</key>
		<string>http://182.254.148.156/shuangbianji/021.mp3</string>
	</dict>
	<key>22</key>
	<dict>
		<key>Duration</key>
		<string>00:23:53</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>10</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>双鞭记</string>
		<key>Url</key>
		<string>http://182.254.148.156/shuangbianji/022.mp3</string>
	</dict>
	<key>23</key>
	<dict>
		<key>Duration</key>
		<string>00:23:59</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>10</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>双鞭记</string>
		<key>Url</key>
		<string>http://182.254.148.156/shuangbianji/023.mp3</string>
	</dict>
	<key>24</key>
	<dict>
		<key>Duration</key>
		<string>00:24:04</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>10</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>双鞭记</string>
		<key>Url</key>
		<string>http://182.254.148.156/shuangbianji/024.mp3</string>
	</dict>
	<key>25</key>
	<dict>
		<key>Duration</key>
		<string>00:23:56</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>10</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>双鞭记</string>
		<key>Url</key>
		<string>http://182.254.148.156/shuangbianji/025.mp3</string>
	</dict>
	<key>26</key>
	<dict>
		<key>Duration</key>
		<string>00:24:12</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>10</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>双鞭记</string>
		<key>Url</key>
		<string>http://182.254.148.156/shuangbianji/026.mp3</string>
	</dict>
	<key>27</key>
	<dict>
		<key>Duration</key>
		<string>00:23:44</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>10</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>双鞭记</string>
		<key>Url</key>
		<string>http://182.254.148.156/shuangbianji/027.mp3</string>
	</dict>
	<key>28</key>
	<dict>
		<key>Duration</key>
		<string>00:23:37</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>10</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>双鞭记</string>
		<key>Url</key>
		<string>http://182.254.148.156/shuangbianji/028.mp3</string>
	</dict>
	<key>29</key>
	<dict>
		<key>Duration</key>
		<string>00:24:04</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>10</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>双鞭记</string>
		<key>Url</key>
		<string>http://182.254.148.156/shuangbianji/029.mp3</string>
	</dict>
	<key>3</key>
	<dict>
		<key>Duration</key>
		<string>00:24:07</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>10</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>双鞭记</string>
		<key>Url</key>
		<string>http://182.254.148.156/shuangbianji/003.mp3</string>
	</dict>
	<key>30</key>
	<dict>
		<key>Duration</key>
		<string>00:10:11</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>10</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>双鞭记</string>
		<key>Url</key>
		<string>http://182.254.148.156/shuangbianji/030.mp3</string>
	</dict>
	<key>31</key>
	<dict>
		<key>Duration</key>
		<string>00:23:33</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>10</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>双鞭记</string>
		<key>Url</key>
		<string>http://182.254.148.156/shuangbianji/031.mp3</string>
	</dict>
	<key>32</key>
	<dict>
		<key>Duration</key>
		<string>00:23:49</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>10</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>双鞭记</string>
		<key>Url</key>
		<string>http://182.254.148.156/shuangbianji/032.mp3</string>
	</dict>
	<key>33</key>
	<dict>
		<key>Duration</key>
		<string>00:23:40</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>10</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>双鞭记</string>
		<key>Url</key>
		<string>http://182.254.148.156/shuangbianji/033.mp3</string>
	</dict>
	<key>34</key>
	<dict>
		<key>Duration</key>
		<string>00:23:57</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>10</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>双鞭记</string>
		<key>Url</key>
		<string>http://182.254.148.156/shuangbianji/034.mp3</string>
	</dict>
	<key>35</key>
	<dict>
		<key>Duration</key>
		<string>00:23:49</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>10</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>双鞭记</string>
		<key>Url</key>
		<string>http://182.254.148.156/shuangbianji/035.mp3</string>
	</dict>
	<key>36</key>
	<dict>
		<key>Duration</key>
		<string>00:23:46</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>10</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>双鞭记</string>
		<key>Url</key>
		<string>http://182.254.148.156/shuangbianji/036.mp3</string>
	</dict>
	<key>37</key>
	<dict>
		<key>Duration</key>
		<string>00:23:32</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>10</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>双鞭记</string>
		<key>Url</key>
		<string>http://182.254.148.156/shuangbianji/037.mp3</string>
	</dict>
	<key>38</key>
	<dict>
		<key>Duration</key>
		<string>00:23:43</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>10</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>双鞭记</string>
		<key>Url</key>
		<string>http://182.254.148.156/shuangbianji/038.mp3</string>
	</dict>
	<key>39</key>
	<dict>
		<key>Duration</key>
		<string>00:23:31</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>10</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>双鞭记</string>
		<key>Url</key>
		<string>http://182.254.148.156/shuangbianji/039.mp3</string>
	</dict>
	<key>4</key>
	<dict>
		<key>Duration</key>
		<string>00:23:39</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>10</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>双鞭记</string>
		<key>Url</key>
		<string>http://182.254.148.156/shuangbianji/004.mp3</string>
	</dict>
	<key>40</key>
	<dict>
		<key>Duration</key>
		<string>00:23:45</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>10</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>双鞭记</string>
		<key>Url</key>
		<string>http://182.254.148.156/shuangbianji/040.mp3</string>
	</dict>
	<key>41</key>
	<dict>
		<key>Duration</key>
		<string>00:24:09</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>10</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>双鞭记</string>
		<key>Url</key>
		<string>http://182.254.148.156/shuangbianji/041.mp3</string>
	</dict>
	<key>42</key>
	<dict>
		<key>Duration</key>
		<string>00:23:59</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>10</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>双鞭记</string>
		<key>Url</key>
		<string>http://182.254.148.156/shuangbianji/042.mp3</string>
	</dict>
	<key>43</key>
	<dict>
		<key>Duration</key>
		<string>00:23:48</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>10</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>双鞭记</string>
		<key>Url</key>
		<string>http://182.254.148.156/shuangbianji/043.mp3</string>
	</dict>
	<key>44</key>
	<dict>
		<key>Duration</key>
		<string>00:23:42</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>10</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>双鞭记</string>
		<key>Url</key>
		<string>http://182.254.148.156/shuangbianji/044.mp3</string>
	</dict>
	<key>45</key>
	<dict>
		<key>Duration</key>
		<string>00:23:42</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>10</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>双鞭记</string>
		<key>Url</key>
		<string>http://182.254.148.156/shuangbianji/044.mp3</string>
	</dict>
	<key>46</key>
	<dict>
		<key>Duration</key>
		<string>00:23:54</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>10</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>双鞭记</string>
		<key>Url</key>
		<string>http://182.254.148.156/shuangbianji/046.mp3</string>
	</dict>
	<key>47</key>
	<dict>
		<key>Duration</key>
		<string>00:23:48</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>10</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>双鞭记</string>
		<key>Url</key>
		<string>http://182.254.148.156/shuangbianji/047.mp3</string>
	</dict>
	<key>48</key>
	<dict>
		<key>Duration</key>
		<string>00:23:37</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>10</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>双鞭记</string>
		<key>Url</key>
		<string>http://182.254.148.156/shuangbianji/048.mp3</string>
	</dict>
	<key>49</key>
	<dict>
		<key>Duration</key>
		<string>00:23:32</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>10</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>双鞭记</string>
		<key>Url</key>
		<string>http://182.254.148.156/shuangbianji/049.mp3</string>
	</dict>
	<key>5</key>
	<dict>
		<key>Duration</key>
		<string>00:23:31</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>10</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>双鞭记</string>
		<key>Url</key>
		<string>http://182.254.148.156/shuangbianji/005.mp3</string>
	</dict>
	<key>50</key>
	<dict>
		<key>Duration</key>
		<string>00:23:43</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>10</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>双鞭记</string>
		<key>Url</key>
		<string>http://182.254.148.156/shuangbianji/050.mp3</string>
	</dict>
	<key>51</key>
	<dict>
		<key>Duration</key>
		<string>00:23:37</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>10</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>双鞭记</string>
		<key>Url</key>
		<string>http://182.254.148.156/shuangbianji/051.mp3</string>
	</dict>
	<key>52</key>
	<dict>
		<key>Duration</key>
		<string>00:24:20</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>10</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>双鞭记</string>
		<key>Url</key>
		<string>http://182.254.148.156/shuangbianji/052.mp3</string>
	</dict>
	<key>53</key>
	<dict>
		<key>Duration</key>
		<string>00:23:36</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>10</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>双鞭记</string>
		<key>Url</key>
		<string>http://182.254.148.156/shuangbianji/053.mp3</string>
	</dict>
	<key>54</key>
	<dict>
		<key>Duration</key>
		<string>00:23:29</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>10</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>双鞭记</string>
		<key>Url</key>
		<string>http://182.254.148.156/shuangbianji/054.mp3</string>
	</dict>
	<key>55</key>
	<dict>
		<key>Duration</key>
		<string>00:23:35</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>10</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>双鞭记</string>
		<key>Url</key>
		<string>http://182.254.148.156/shuangbianji/055.mp3</string>
	</dict>
	<key>56</key>
	<dict>
		<key>Duration</key>
		<string>00:23:29</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>10</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>双鞭记</string>
		<key>Url</key>
		<string>http://182.254.148.156/shuangbianji/056.mp3</string>
	</dict>
	<key>57</key>
	<dict>
		<key>Duration</key>
		<string>00:24:08</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>10</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>双鞭记</string>
		<key>Url</key>
		<string>http://182.254.148.156/shuangbianji/057.mp3</string>
	</dict>
	<key>58</key>
	<dict>
		<key>Duration</key>
		<string>00:24:09</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>10</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>双鞭记</string>
		<key>Url</key>
		<string>http://182.254.148.156/shuangbianji/058.mp3</string>
	</dict>
	<key>59</key>
	<dict>
		<key>Duration</key>
		<string>00:23:35</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>10</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>双鞭记</string>
		<key>Url</key>
		<string>http://182.254.148.156/shuangbianji/059.mp3</string>
	</dict>
	<key>6</key>
	<dict>
		<key>Duration</key>
		<string>00:23:48</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>10</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>双鞭记</string>
		<key>Url</key>
		<string>http://182.254.148.156/shuangbianji/006.mp3</string>
	</dict>
	<key>60</key>
	<dict>
		<key>Duration</key>
		<string>00:23:44</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>10</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>双鞭记</string>
		<key>Url</key>
		<string>http://182.254.148.156/shuangbianji/060.mp3</string>
	</dict>
	<key>61</key>
	<dict>
		<key>Duration</key>
		<string>00:23:30</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>10</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>双鞭记</string>
		<key>Url</key>
		<string>http://182.254.148.156/shuangbianji/061.mp3</string>
	</dict>
	<key>62</key>
	<dict>
		<key>Duration</key>
		<string>00:23:33</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>10</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>双鞭记</string>
		<key>Url</key>
		<string>http://182.254.148.156/shuangbianji/062.mp3</string>
	</dict>
	<key>63</key>
	<dict>
		<key>Duration</key>
		<string>00:23:37</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>10</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>双鞭记</string>
		<key>Url</key>
		<string>http://182.254.148.156/shuangbianji/063.mp3</string>
	</dict>
	<key>64</key>
	<dict>
		<key>Duration</key>
		<string>00:23:30</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>10</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>双鞭记</string>
		<key>Url</key>
		<string>http://182.254.148.156/shuangbianji/064.mp3</string>
	</dict>
	<key>65</key>
	<dict>
		<key>Duration</key>
		<string>00:24:22</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>10</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>双鞭记</string>
		<key>Url</key>
		<string>http://182.254.148.156/shuangbianji/065.mp3</string>
	</dict>
	<key>66</key>
	<dict>
		<key>Duration</key>
		<string>00:23:27</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>10</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>双鞭记</string>
		<key>Url</key>
		<string>http://182.254.148.156/shuangbianji/066.mp3</string>
	</dict>
	<key>67</key>
	<dict>
		<key>Duration</key>
		<string>00:23:53</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>10</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>双鞭记</string>
		<key>Url</key>
		<string>http://182.254.148.156/shuangbianji/067.mp3</string>
	</dict>
	<key>68</key>
	<dict>
		<key>Duration</key>
		<string>00:23:38</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>10</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>双鞭记</string>
		<key>Url</key>
		<string>http://182.254.148.156/shuangbianji/068.mp3</string>
	</dict>
	<key>69</key>
	<dict>
		<key>Duration</key>
		<string>00:23:46</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>10</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>双鞭记</string>
		<key>Url</key>
		<string>http://182.254.148.156/shuangbianji/069.mp3</string>
	</dict>
	<key>7</key>
	<dict>
		<key>Duration</key>
		<string>00:23:36</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>10</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>双鞭记</string>
		<key>Url</key>
		<string>http://182.254.148.156/shuangbianji/007.mp3</string>
	</dict>
	<key>70</key>
	<dict>
		<key>Duration</key>
		<string>00:23:36</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>10</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>双鞭记</string>
		<key>Url</key>
		<string>http://182.254.148.156/shuangbianji/070.mp3</string>
	</dict>
	<key>71</key>
	<dict>
		<key>Duration</key>
		<string>00:23:48</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>10</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>双鞭记</string>
		<key>Url</key>
		<string>http://182.254.148.156/shuangbianji/071.mp3</string>
	</dict>
	<key>72</key>
	<dict>
		<key>Duration</key>
		<string>00:23:47</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>10</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>双鞭记</string>
		<key>Url</key>
		<string>http://182.254.148.156/shuangbianji/072.mp3</string>
	</dict>
	<key>73</key>
	<dict>
		<key>Duration</key>
		<string>00:23:29</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>10</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>双鞭记</string>
		<key>Url</key>
		<string>http://182.254.148.156/shuangbianji/073.mp3</string>
	</dict>
	<key>74</key>
	<dict>
		<key>Duration</key>
		<string>00:23:34</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>10</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>双鞭记</string>
		<key>Url</key>
		<string>http://182.254.148.156/shuangbianji/074.mp3</string>
	</dict>
	<key>75</key>
	<dict>
		<key>Duration</key>
		<string>00:23:28</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>10</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>双鞭记</string>
		<key>Url</key>
		<string>http://182.254.148.156/shuangbianji/075.mp3</string>
	</dict>
	<key>76</key>
	<dict>
		<key>Duration</key>
		<string>00:23:36</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>10</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>双鞭记</string>
		<key>Url</key>
		<string>http://182.254.148.156/shuangbianji/076.mp3</string>
	</dict>
	<key>77</key>
	<dict>
		<key>Duration</key>
		<string>00:23:34</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>10</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>双鞭记</string>
		<key>Url</key>
		<string>http://182.254.148.156/shuangbianji/077.mp3</string>
	</dict>
	<key>78</key>
	<dict>
		<key>Duration</key>
		<string>00:23:47</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>10</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>双鞭记</string>
		<key>Url</key>
		<string>http://182.254.148.156/shuangbianji/078.mp3</string>
	</dict>
	<key>79</key>
	<dict>
		<key>Duration</key>
		<string>00:24:19</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>10</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>双鞭记</string>
		<key>Url</key>
		<string>http://182.254.148.156/shuangbianji/079.mp3</string>
	</dict>
	<key>8</key>
	<dict>
		<key>Duration</key>
		<string>00:23:34</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>10</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>双鞭记</string>
		<key>Url</key>
		<string>http://182.254.148.156/shuangbianji/008.mp3</string>
	</dict>
	<key>80</key>
	<dict>
		<key>Duration</key>
		<string>00:23:36</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>10</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>双鞭记</string>
		<key>Url</key>
		<string>http://182.254.148.156/shuangbianji/070.mp3</string>
	</dict>
	<key>81</key>
	<dict>
		<key>Duration</key>
		<string>00:24:09</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>10</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>双鞭记</string>
		<key>Url</key>
		<string>http://182.254.148.156/shuangbianji/081.mp3</string>
	</dict>
	<key>82</key>
	<dict>
		<key>Duration</key>
		<string>00:23:30</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>10</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>双鞭记</string>
		<key>Url</key>
		<string>http://182.254.148.156/shuangbianji/082.mp3</string>
	</dict>
	<key>83</key>
	<dict>
		<key>Duration</key>
		<string>00:23:30</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>10</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>双鞭记</string>
		<key>Url</key>
		<string>http://182.254.148.156/shuangbianji/083.mp3</string>
	</dict>
	<key>84</key>
	<dict>
		<key>Duration</key>
		<string>00:23:55</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>10</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>双鞭记</string>
		<key>Url</key>
		<string>http://182.254.148.156/shuangbianji/084.mp3</string>
	</dict>
	<key>85</key>
	<dict>
		<key>Duration</key>
		<string>00:24:02</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>10</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>双鞭记</string>
		<key>Url</key>
		<string>http://182.254.148.156/shuangbianji/085.mp3</string>
	</dict>
	<key>86</key>
	<dict>
		<key>Duration</key>
		<string>00:23:56</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>10</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>双鞭记</string>
		<key>Url</key>
		<string>http://182.254.148.156/shuangbianji/086.mp3</string>
	</dict>
	<key>87</key>
	<dict>
		<key>Duration</key>
		<string>00:24:02</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>10</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>双鞭记</string>
		<key>Url</key>
		<string>http://182.254.148.156/shuangbianji/087.mp3</string>
	</dict>
	<key>88</key>
	<dict>
		<key>Duration</key>
		<string>00:23:58</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>10</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>双鞭记</string>
		<key>Url</key>
		<string>http://182.254.148.156/shuangbianji/088.mp3</string>
	</dict>
	<key>89</key>
	<dict>
		<key>Duration</key>
		<string>00:24:16</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>10</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>双鞭记</string>
		<key>Url</key>
		<string>http://182.254.148.156/shuangbianji/089.mp3</string>
	</dict>
	<key>9</key>
	<dict>
		<key>Duration</key>
		<string>00:23:34</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>10</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>双鞭记</string>
		<key>Url</key>
		<string>http://182.254.148.156/shuangbianji/009.mp3</string>
	</dict>
	<key>90</key>
	<dict>
		<key>Duration</key>
		<string>00:23:40</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>10</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>双鞭记</string>
		<key>Url</key>
		<string>http://182.254.148.156/shuangbianji/090.mp3</string>
	</dict>
	<key>91</key>
	<dict>
		<key>Duration</key>
		<string>00:23:51</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>10</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>双鞭记</string>
		<key>Url</key>
		<string>http://182.254.148.156/shuangbianji/091.mp3</string>
	</dict>
	<key>92</key>
	<dict>
		<key>Duration</key>
		<string>00:23:32</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>10</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>双鞭记</string>
		<key>Url</key>
		<string>http://182.254.148.156/shuangbianji/092.mp3</string>
	</dict>
	<key>93</key>
	<dict>
		<key>Duration</key>
		<string>00:23:31</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>10</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>双鞭记</string>
		<key>Url</key>
		<string>http://182.254.148.156/shuangbianji/093.mp3</string>
	</dict>
	<key>94</key>
	<dict>
		<key>Duration</key>
		<string>00:24:15</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>10</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>双鞭记</string>
		<key>Url</key>
		<string>http://182.254.148.156/shuangbianji/094.mp3</string>
	</dict>
	<key>95</key>
	<dict>
		<key>Duration</key>
		<string>00:23:41</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>10</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>双鞭记</string>
		<key>Url</key>
		<string>http://182.254.148.156/shuangbianji/095.mp3</string>
	</dict>
	<key>96</key>
	<dict>
		<key>Duration</key>
		<string>00:23:31</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>10</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>双鞭记</string>
		<key>Url</key>
		<string>http://182.254.148.156/shuangbianji/096.mp3</string>
	</dict>
	<key>97</key>
	<dict>
		<key>Duration</key>
		<string>00:23:35</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>10</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>双鞭记</string>
		<key>Url</key>
		<string>http://182.254.148.156/shuangbianji/097.mp3</string>
	</dict>
	<key>98</key>
	<dict>
		<key>Duration</key>
		<string>00:23:50</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>10</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>双鞭记</string>
		<key>Url</key>
		<string>http://182.254.148.156/shuangbianji/098.mp3</string>
	</dict>
	<key>99</key>
	<dict>
		<key>Duration</key>
		<string>00:23:43</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>10</string>
		<key>Progress</key>
		<string>0</string>
		<key>Title</key>
		<string>双鞭记</string>
		<key>Url</key>
		<string>http://182.254.148.156/shuangbianji/099.mp3</string>
	</dict>
</dict>
</plist>
