<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>Duration</key>
		<string>01:03:13</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B001.mp3</string>
	</dict>
	<key>10</key>
	<dict>
		<key>Duration</key>
		<string>01:00:46</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B010.mp3</string>
	</dict>
	<key>11</key>
	<dict>
		<key>Duration</key>
		<string>00:58:25</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B011.mp3</string>
	</dict>
	<key>12</key>
	<dict>
		<key>Duration</key>
		<string>00:58:32</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B012.mp3</string>
	</dict>
	<key>13</key>
	<dict>
		<key>Duration</key>
		<string>00:58:34</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B013.mp3</string>
	</dict>
	<key>14</key>
	<dict>
		<key>Duration</key>
		<string>01:01:51</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B014.mp3</string>
	</dict>
	<key>15</key>
	<dict>
		<key>Duration</key>
		<string>00:58:05</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B015.mp3</string>
	</dict>
	<key>16</key>
	<dict>
		<key>Duration</key>
		<string>01:00:00</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B016.mp3</string>
	</dict>
	<key>17</key>
	<dict>
		<key>Duration</key>
		<string>01:01:15</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B017.mp3</string>
	</dict>
	<key>18</key>
	<dict>
		<key>Duration</key>
		<string>00:59:37</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B018.mp3</string>
	</dict>
	<key>19</key>
	<dict>
		<key>Duration</key>
		<string>01:00:37</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B019.mp3</string>
	</dict>
	<key>2</key>
	<dict>
		<key>Duration</key>
		<string>00:59:02</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B002.mp3</string>
	</dict>
	<key>20</key>
	<dict>
		<key>Duration</key>
		<string>00:59:38</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B020.mp3</string>
	</dict>
	<key>21</key>
	<dict>
		<key>Duration</key>
		<string>00:59:27</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B021.mp3</string>
	</dict>
	<key>22</key>
	<dict>
		<key>Duration</key>
		<string>01:01:01</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B022.mp3</string>
	</dict>
	<key>23</key>
	<dict>
		<key>Duration</key>
		<string>00:59:34</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B023.mp3</string>
	</dict>
	<key>24</key>
	<dict>
		<key>Duration</key>
		<string>00:57:47</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B024.mp3</string>
	</dict>
	<key>25</key>
	<dict>
		<key>Duration</key>
		<string>01:00:18</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B025.mp3</string>
	</dict>
	<key>26</key>
	<dict>
		<key>Duration</key>
		<string>00:59:37</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B026.mp3</string>
	</dict>
	<key>27</key>
	<dict>
		<key>Duration</key>
		<string>01:02:44</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B027.mp3</string>
	</dict>
	<key>28</key>
	<dict>
		<key>Duration</key>
		<string>01:01:47</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B028.mp3</string>
	</dict>
	<key>29</key>
	<dict>
		<key>Duration</key>
		<string>00:59:44</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B029.mp3</string>
	</dict>
	<key>3</key>
	<dict>
		<key>Duration</key>
		<string>00:58:32</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B003.mp3</string>
	</dict>
	<key>30</key>
	<dict>
		<key>Duration</key>
		<string>01:14:22</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B030.mp3</string>
	</dict>
	<key>31</key>
	<dict>
		<key>Duration</key>
		<string>01:00:13</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B031.mp3</string>
	</dict>
	<key>32</key>
	<dict>
		<key>Duration</key>
		<string>01:01:49</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B032.mp3</string>
	</dict>
	<key>33</key>
	<dict>
		<key>Duration</key>
		<string>01:01:50</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B033.mp3</string>
	</dict>
	<key>34</key>
	<dict>
		<key>Duration</key>
		<string>01:01:17</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B034.mp3</string>
	</dict>
	<key>35</key>
	<dict>
		<key>Duration</key>
		<string>01:17:23</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B035.mp3</string>
	</dict>
	<key>36</key>
	<dict>
		<key>Duration</key>
		<string>00:59:53</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B036.mp3</string>
	</dict>
	<key>37</key>
	<dict>
		<key>Duration</key>
		<string>00:59:57</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B037.mp3</string>
	</dict>
	<key>38</key>
	<dict>
		<key>Duration</key>
		<string>00:59:34</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B038.mp3</string>
	</dict>
	<key>39</key>
	<dict>
		<key>Duration</key>
		<string>00:56:44</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B039.mp3</string>
	</dict>
	<key>4</key>
	<dict>
		<key>Duration</key>
		<string>00:55:08</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B004.mp3</string>
	</dict>
	<key>40</key>
	<dict>
		<key>Duration</key>
		<string>00:58:09</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B040.mp3</string>
	</dict>
	<key>41</key>
	<dict>
		<key>Duration</key>
		<string>01:01:52</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B041.mp3</string>
	</dict>
	<key>42</key>
	<dict>
		<key>Duration</key>
		<string>01:01:19</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B042.mp3</string>
	</dict>
	<key>43</key>
	<dict>
		<key>Duration</key>
		<string>01:03:01</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B043.mp3</string>
	</dict>
	<key>44</key>
	<dict>
		<key>Duration</key>
		<string>01:02:34</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B044.mp3</string>
	</dict>
	<key>45</key>
	<dict>
		<key>Duration</key>
		<string>01:01:05</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B045.mp3</string>
	</dict>
	<key>46</key>
	<dict>
		<key>Duration</key>
		<string>01:14:42</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B046.mp3</string>
	</dict>
	<key>47</key>
	<dict>
		<key>Duration</key>
		<string>01:00:42</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B047.mp3</string>
	</dict>
	<key>48</key>
	<dict>
		<key>Duration</key>
		<string>00:33:36</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B048.mp3</string>
	</dict>
	<key>49</key>
	<dict>
		<key>Duration</key>
		<string>00:59:44</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B049.mp3</string>
	</dict>
	<key>5</key>
	<dict>
		<key>Duration</key>
		<string>00:57:34</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B005.mp3</string>
	</dict>
	<key>50</key>
	<dict>
		<key>Duration</key>
		<string>01:30:13</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B050.mp3</string>
	</dict>
	<key>51</key>
	<dict>
		<key>Duration</key>
		<string>01:00:23</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B051.mp3</string>
	</dict>
	<key>52</key>
	<dict>
		<key>Duration</key>
		<string>01:02:20</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B052.mp3</string>
	</dict>
	<key>53</key>
	<dict>
		<key>Duration</key>
		<string>01:08:06</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B053.mp3</string>
	</dict>
	<key>54</key>
	<dict>
		<key>Duration</key>
		<string>01:03:31</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B054.mp3</string>
	</dict>
	<key>55</key>
	<dict>
		<key>Duration</key>
		<string>01:03:53</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B055.mp3</string>
	</dict>
	<key>56</key>
	<dict>
		<key>Duration</key>
		<string>01:02:38</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B056.mp3</string>
	</dict>
	<key>57</key>
	<dict>
		<key>Duration</key>
		<string>01:00:19</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B057.mp3</string>
	</dict>
	<key>58</key>
	<dict>
		<key>Duration</key>
		<string>01:06:13</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B058.mp3</string>
	</dict>
	<key>59</key>
	<dict>
		<key>Duration</key>
		<string>01:02:27</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B059.mp3</string>
	</dict>
	<key>6</key>
	<dict>
		<key>Duration</key>
		<string>01:35:18</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B006.mp3</string>
	</dict>
	<key>60</key>
	<dict>
		<key>Duration</key>
		<string>01:03:02</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B060.mp3</string>
	</dict>
	<key>61</key>
	<dict>
		<key>Duration</key>
		<string>01:02:33</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B061.mp3</string>
	</dict>
	<key>62</key>
	<dict>
		<key>Duration</key>
		<string>01:01:27</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B062.mp3</string>
	</dict>
	<key>63</key>
	<dict>
		<key>Duration</key>
		<string>01:01:09</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B063.mp3</string>
	</dict>
	<key>64</key>
	<dict>
		<key>Duration</key>
		<string>01:01:23</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B064.mp3</string>
	</dict>
	<key>65</key>
	<dict>
		<key>Duration</key>
		<string>01:01:25</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B065.mp3</string>
	</dict>
	<key>66</key>
	<dict>
		<key>Duration</key>
		<string>01:02:09</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B066.mp3</string>
	</dict>
	<key>67</key>
	<dict>
		<key>Duration</key>
		<string>01:03:39</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B067.mp3</string>
	</dict>
	<key>68</key>
	<dict>
		<key>Duration</key>
		<string>01:04:32</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B068.mp3</string>
	</dict>
	<key>69</key>
	<dict>
		<key>Duration</key>
		<string>01:04:14</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B069.mp3</string>
	</dict>
	<key>7</key>
	<dict>
		<key>Duration</key>
		<string>01:02:45</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B007.mp3</string>
	</dict>
	<key>70</key>
	<dict>
		<key>Duration</key>
		<string>01:06:47</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B070.mp3</string>
	</dict>
	<key>71</key>
	<dict>
		<key>Duration</key>
		<string>01:01:30</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B071.mp3</string>
	</dict>
	<key>72</key>
	<dict>
		<key>Duration</key>
		<string>01:04:09</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B072.mp3</string>
	</dict>
	<key>73</key>
	<dict>
		<key>Duration</key>
		<string>01:04:12</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B073.mp3</string>
	</dict>
	<key>74</key>
	<dict>
		<key>Duration</key>
		<string>01:00:04</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B074.mp3</string>
	</dict>
	<key>75</key>
	<dict>
		<key>Duration</key>
		<string>01:00:30</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B075.mp3</string>
	</dict>
	<key>76</key>
	<dict>
		<key>Duration</key>
		<string>01:01:18</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B076.mp3</string>
	</dict>
	<key>77</key>
	<dict>
		<key>Duration</key>
		<string>00:59:45</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B077.mp3</string>
	</dict>
	<key>78</key>
	<dict>
		<key>Duration</key>
		<string>01:00:54</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B078.mp3</string>
	</dict>
	<key>79</key>
	<dict>
		<key>Duration</key>
		<string>01:00:21</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B079.mp3</string>
	</dict>
	<key>8</key>
	<dict>
		<key>Duration</key>
		<string>01:05:09</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B008.mp3</string>
	</dict>
	<key>80</key>
	<dict>
		<key>Duration</key>
		<string>01:00:52</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B080.mp3</string>
	</dict>
	<key>81</key>
	<dict>
		<key>Duration</key>
		<string>01:01:53</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B081.mp3</string>
	</dict>
	<key>82</key>
	<dict>
		<key>Duration</key>
		<string>01:03:17</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B082.mp3</string>
	</dict>
	<key>83</key>
	<dict>
		<key>Duration</key>
		<string>01:09:00</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B083.mp3</string>
	</dict>
	<key>84</key>
	<dict>
		<key>Duration</key>
		<string>00:56:58</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B084.mp3</string>
	</dict>
	<key>85</key>
	<dict>
		<key>Duration</key>
		<string>01:00:39</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B085.mp3</string>
	</dict>
	<key>86</key>
	<dict>
		<key>Duration</key>
		<string>01:02:44</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B086.mp3</string>
	</dict>
	<key>87</key>
	<dict>
		<key>Duration</key>
		<string>00:58:38</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B087.mp3</string>
	</dict>
	<key>88</key>
	<dict>
		<key>Duration</key>
		<string>01:01:58</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B088.mp3</string>
	</dict>
	<key>89</key>
	<dict>
		<key>Duration</key>
		<string>01:00:44</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B089.mp3</string>
	</dict>
	<key>9</key>
	<dict>
		<key>Duration</key>
		<string>00:59:58</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B009.mp3</string>
	</dict>
	<key>90</key>
	<dict>
		<key>Duration</key>
		<string>00:19:30</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B090.mp3</string>
	</dict>
	<key>91</key>
	<dict>
		<key>Duration</key>
		<string>00:19:30</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B091.mp3</string>
	</dict>
	<key>92</key>
	<dict>
		<key>Duration</key>
		<string>00:19:30</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B092.mp3</string>
	</dict>
	<key>93</key>
	<dict>
		<key>Duration</key>
		<string>00:19:30</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B093.mp3</string>
	</dict>
	<key>94</key>
	<dict>
		<key>Duration</key>
		<string>00:19:30</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B094.mp3</string>
	</dict>
	<key>95</key>
	<dict>
		<key>Duration</key>
		<string>00:19:30</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B095.mp3</string>
	</dict>
	<key>96</key>
	<dict>
		<key>Duration</key>
		<string>00:19:30</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B096.mp3</string>
	</dict>
	<key>97</key>
	<dict>
		<key>Duration</key>
		<string>00:19:30</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B097.mp3</string>
	</dict>
	<key>98</key>
	<dict>
		<key>Duration</key>
		<string>00:19:30</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B098.mp3</string>
	</dict>
	<key>99</key>
	<dict>
		<key>Duration</key>
		<string>00:19:30</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B099.mp3</string>
	</dict>
	<key>100</key>
	<dict>
		<key>Duration</key>
		<string>00:19:30</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B0100.mp3</string>
	</dict>
	<key>101</key>
	<dict>
		<key>Duration</key>
		<string>00:19:30</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B0101.mp3</string>
	</dict>
	<key>102</key>
	<dict>
		<key>Duration</key>
		<string>00:19:30</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B0102.mp3</string>
	</dict>
	<key>103</key>
	<dict>
		<key>Duration</key>
		<string>00:19:30</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B0103.mp3</string>
	</dict>
	<key>104</key>
	<dict>
		<key>Duration</key>
		<string>00:19:30</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B0104.mp3</string>
	</dict>
	<key>105</key>
	<dict>
		<key>Duration</key>
		<string>00:19:30</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B0105.mp3</string>
	</dict>
	<key>106</key>
	<dict>
		<key>Duration</key>
		<string>00:19:30</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B0106.mp3</string>
	</dict>
	<key>107</key>
	<dict>
		<key>Duration</key>
		<string>00:19:30</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B0107.mp3</string>
	</dict>
	<key>108</key>
	<dict>
		<key>Duration</key>
		<string>00:19:30</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B0108.mp3</string>
	</dict>
	<key>109</key>
	<dict>
		<key>Duration</key>
		<string>00:19:30</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B0109.mp3</string>
	</dict>
	<key>110</key>
	<dict>
		<key>Duration</key>
		<string>00:19:30</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B0110.mp3</string>
	</dict>
	<key>111</key>
	<dict>
		<key>Duration</key>
		<string>00:19:30</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B0111.mp3</string>
	</dict>
	<key>112</key>
	<dict>
		<key>Duration</key>
		<string>00:19:30</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B0112.mp3</string>
	</dict>
	<key>113</key>
	<dict>
		<key>Duration</key>
		<string>00:19:30</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B0113.mp3</string>
	</dict>
	<key>114</key>
	<dict>
		<key>Duration</key>
		<string>00:19:30</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B0114.mp3</string>
	</dict>
	<key>115</key>
	<dict>
		<key>Duration</key>
		<string>00:19:30</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B0115.mp3</string>
	</dict>
	<key>116</key>
	<dict>
		<key>Duration</key>
		<string>00:19:30</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B0116.mp3</string>
	</dict>
	<key>117</key>
	<dict>
		<key>Duration</key>
		<string>00:19:30</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B0117.mp3</string>
	</dict>
	<key>118</key>
	<dict>
		<key>Duration</key>
		<string>00:19:30</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B0118.mp3</string>
	</dict>
	<key>119</key>
	<dict>
		<key>Duration</key>
		<string>00:19:30</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B0119.mp3</string>
	</dict>
	<key>120</key>
	<dict>
		<key>Duration</key>
		<string>00:19:30</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B0120.mp3</string>
	</dict>
	<key>121</key>
	<dict>
		<key>Duration</key>
		<string>00:19:30</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B0121.mp3</string>
	</dict>
	<key>122</key>
	<dict>
		<key>Duration</key>
		<string>00:19:30</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B0122.mp3</string>
	</dict>
	<key>123</key>
	<dict>
		<key>Duration</key>
		<string>00:19:30</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B0123.mp3</string>
	</dict>
	<key>124</key>
	<dict>
		<key>Duration</key>
		<string>00:19:30</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B0124.mp3</string>
	</dict>
	<key>125</key>
	<dict>
		<key>Duration</key>
		<string>00:19:30</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B0125.mp3</string>
	</dict>
	<key>126</key>
	<dict>
		<key>Duration</key>
		<string>00:19:30</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B0126.mp3</string>
	</dict>
	<key>127</key>
	<dict>
		<key>Duration</key>
		<string>00:19:30</string>
		<key>FilePath</key>
		<string></string>
		<key>Price</key>
		<string>25</string>
		<key>Title</key>
		<string>西游记</string>
		<key>UpdatedSong</key>
		<string></string>
		<key>Url</key>
		<string>http://xiyouji.qiniudn.com/%E8%A5%BF%E6%B8%B8%E8%AE%B0127.mp3</string>
	</dict>
</dict>
</plist>
